workflow/ENHANCED-MASTER-workflow.json
{
  "name": "ENHANCED MASTER Job Automation System (with Resume Intelligence)",
  "nodes": [
    {
      "id": "trigger-1-job-discovery",
      "name": "Schedule Trigger: Job Discovery (8 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "trigger-2-email-outreach",
      "name": "Schedule Trigger: Email Outreach (9 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        1800
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "trigger-3-telegram",
      "name": "Telegram Trigger: Interactive Assistant",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        240,
        3300
      ],
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      },
      "webhookId": "telegram-job-bot"
    },
    {
      "id": "user-config",
      "name": "User Config (Master Profile)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "jsCode": "// USER PREFERENCES & METADATA (not a replacement for resume!)\n// \n// HOW EMAIL OUTREACH WORKS:\n// Job APIs find jobs but do NOT provide recruiter emails.\n// After 8 AM job discovery populates your Sheet, YOU manually add\n// recruiter emails (from LinkedIn, company sites, Hunter.io free tier).\n// The 9 AM outreach trigger emails only rows where you've filled\n// 'Recruiter Email'. This keeps it targeted, not spammy.\n//\n// ROTATION PURPOSE: 4 Gmail accounts = 200 emails/day free-tier capacity.\n// All 4 accounts should have the same display name in Google Account settings.\n// This config provides: location preferences, visa status, email settings, and URLs\n// Your actual resume data (skills, projects, experience) is parsed from resumeUrl by Groq AI\n// The parsed resume data is merged with this config to create your complete profile\nreturn [{\n  json: {\n    name: 'Your Name',\n    currentRole: 'Senior Backend Engineer',\n    targetRole: 'Staff Engineer',\n    experience: '5 years',\n    skills: ['Python', 'Node.js', 'AWS', 'Docker', 'Kubernetes', 'PostgreSQL'],\n    location: 'Hyderabad, India',\n    workMode: ['remote', 'hybrid'],\n    minSalary: 80000,\n    targetRoles: ['Backend Engineer', 'Full Stack Engineer', 'DevOps Engineer'],\n    keywords: 'python developer OR backend engineer OR nodejs',\n    country: 'in',\n    githubUrl: 'https://github.com/yourusername',\n    linkedinUrl: 'https://linkedin.com/in/yourprofile',\n    portfolioUrl: 'https://yourportfolio.com',\n    resumeUrl: 'https://drive.google.com/file/d/YOUR_RESUME_ID/view',\n    resumeParsingEnabled: true,\n    userEmail: 'YOUR_EMAIL@example.com',\n    dailyLimit: 50,\n    scoreThreshold: 60,\n    sheetId: 'YOUR_SPREADSHEET_ID',\n    account1Email: 'raviintouch2@gmail.com',\n    account2Email: 'ravitejavallakatla7@gmail.com',\n    account3Email: 'ravitejav081@gmail.com',\n    account4Email: 'ravitejav0801@gmail.com',\n    account1CredentialId: 'YOUR_GMAIL_ACCOUNT_1_CREDENTIAL_ID',\n    account2CredentialId: 'YOUR_GMAIL_ACCOUNT_2_CREDENTIAL_ID',\n    account3CredentialId: 'YOUR_GMAIL_ACCOUNT_3_CREDENTIAL_ID',\n    account4CredentialId: 'YOUR_GMAIL_ACCOUNT_4_CREDENTIAL_ID',\n    maxEmailsPerAccount: 50,\n    errorThreshold: 3,\n    sheetsAccount1CredentialId: 'YOUR_SHEETS_ACCOUNT_1_CREDENTIAL_ID',\n    sheetsAccount2CredentialId: 'YOUR_SHEETS_ACCOUNT_2_CREDENTIAL_ID',\n    sheetsAccount3CredentialId: 'YOUR_SHEETS_ACCOUNT_3_CREDENTIAL_ID',\n    sheetsAccount4CredentialId: 'YOUR_SHEETS_ACCOUNT_4_CREDENTIAL_ID',\n    maxSheetsWritesPerAccount: 300,\n    groqKey1CredentialId: 'YOUR_GROQ_KEY_1_CREDENTIAL_ID',\n    groqKey2CredentialId: 'YOUR_GROQ_KEY_2_CREDENTIAL_ID',\n    groqKey3CredentialId: 'YOUR_GROQ_KEY_3_CREDENTIAL_ID',\n    groqKey4CredentialId: 'YOUR_GROQ_KEY_4_CREDENTIAL_ID',\n    maxGroqRequestsPerKey: 14400,\n    // Setup: Create 4 Groq accounts using email alias trick:\n    // raviintouch2+groq1@gmail.com, ravitejavallakatla7+groq2@gmail.com,\n    // ravitejav081+groq3@gmail.com, ravitejav0801+groq4@gmail.com,\n    rapidapiKey: 'YOUR_RAPIDAPI_KEY_HERE',\n  }\n}];"
      }
    },
    {
      "id": "sheets-account-state",
      "name": "Google Sheets Account State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        500
      ],
      "parameters": {
        "jsCode": "// Google Sheets account state - Now reads from centralized Multi-Account State Manager\nconst staticData = this.getWorkflowStaticData('global');\n\n// Ensure centralized state exists\nif (!staticData.multiAccountState || !staticData.multiAccountState.sheets) {\n  if (!staticData.multiAccountState) {\n    staticData.multiAccountState = {\n      gmail: { account1: {}, account2: {}, account3: {}, account4: {}, currentActive: 'account1' },\n      sheets: {\n        account1: { email: 'raviintouch2@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n        account2: { email: 'ravitejavallakatla7@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n        account3: { email: 'ravitejav081@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n        account4: { email: 'ravitejav0801@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n        currentActive: 'account1'\n      },\n      groq: { key1: {}, key2: {}, key3: {}, key4: {}, currentActive: 'key1' },\n      jobApis: {},\n      lastResetDate: null,\n      switchHistory: []\n    };\n  }\n}\n\n// Return Sheets state from centralized manager\nreturn [{ json: staticData.multiAccountState.sheets }];"
      }
    },
    {
      "id": "fetch-remotive",
      "name": "Fetch Remotive API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        240
      ],
      "parameters": {
        "url": "https://remotive.com/api/remote-jobs",
        "method": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $('User Config (Master Profile)').item.json.keywords }}"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "fetch-arbeitnow",
      "name": "Fetch Arbeitnow API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        360
      ],
      "parameters": {
        "url": "https://www.arbeitnow.com/api/job-board-api",
        "method": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $('User Config (Master Profile)').item.json.keywords }}"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "parse-remotive",
      "name": "Parse Remotive Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        240
      ],
      "parameters": {
        "jsCode": "// Parse Remotive API response\nconst response = items[0].json;\nconst jobs = response.jobs || [];\n\nreturn jobs.map(job => ({\n  json: {\n    source: 'Remotive',\n    jobTitle: job.title || 'Unknown',\n    company: job.company_name || 'Unknown',\n    location: job.candidate_required_location || 'Remote',\n    jobType: job.job_type || 'Full-time',\n    workMode: 'Remote',\n    salary: job.salary || 'Not disclosed',\n    applyUrl: job.url || '',\n    description: (job.description || '').substring(0, 500),\n    tags: job.tags || [],\n    postedDate: job.publication_date || new Date().toISOString().split('T')[0],\n    category: job.category || '',\n    jobId: `remotive-${job.id || Date.now()}`,\n    fetchedDate: new Date().toISOString().split('T')[0],\n    recruiterEmail: '',\n    recruiterName: ''\n  }\n}));"
      },
      "continueOnFail": true
    },
    {
      "id": "parse-arbeitnow",
      "name": "Parse Arbeitnow Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        360
      ],
      "parameters": {
        "jsCode": "// Parse Arbeitnow API response\nconst response = items[0].json;\nconst jobs = response.data || [];\n\nreturn jobs.map(job => ({\n  json: {\n    source: 'Arbeitnow',\n    jobTitle: job.title || 'Unknown',\n    company: job.company_name || 'Unknown',\n    location: job.location || 'Remote',\n    jobType: job.job_types?.[0] || 'Full-time',\n    workMode: job.remote ? 'Remote' : 'Onsite',\n    salary: 'Not disclosed',\n    applyUrl: job.url || '',\n    description: (job.description || '').substring(0, 500),\n    tags: job.tags || [],\n    postedDate: job.created_at ? new Date(job.created_at * 1000).toISOString().split('T')[0] : new Date().toISOString().split('T')[0],\n    category: '',\n    jobId: `arbeitnow-${job.slug || Date.now()}`,\n    fetchedDate: new Date().toISOString().split('T')[0],\n    recruiterEmail: '',\n    recruiterName: ''\n  }\n}));"
      },
      "continueOnFail": true
    },
    {
      "id": "merge-job-apis",
      "name": "Merge All API Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1120,
        360
      ],
      "parameters": {
        "mode": "combine",
        "options": {}
      }
    },
    {
      "id": "deduplicate-jobs",
      "name": "Deduplicate Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        360
      ],
      "parameters": {
        "jsCode": "// Deduplicate and filter existing jobs\nconst jobs = items.map(item => item.json);\nconst seen = new Set();\nconst unique = [];\n\nfor (const job of jobs) {\n  const key = `${job.company}-${job.jobTitle}`.toLowerCase().replace(/\\s+/g, '-');\n  if (!seen.has(key) && job.applyUrl) {\n    seen.add(key);\n    unique.push(job);\n  }\n}\n\nreturn unique.map(job => ({ json: job }));"
      }
    },
    {
      "id": "read-existing-jobs",
      "name": "Read Existing Jobs from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        1560,
        360
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $('User Config (Master Profile)').item.json.sheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Jobs",
          "mode": "name"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "filter-new-jobs",
      "name": "Filter Out Already-Fetched Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        360
      ],
      "parameters": {
        "jsCode": "// Filter out jobs already in sheet\nconst newJobs = $('Deduplicate Jobs').all().map(item => item.json);\nconst existingJobs = items.map(item => item.json);\n\nconst existingIds = new Set(existingJobs.map(j => j['Job ID'] || j.jobId));\n\nconst trulyNew = newJobs.filter(job => !existingIds.has(job.jobId));\n\nif (trulyNew.length === 0) {\n  throw new Error('No new jobs found - all already in sheet');\n}\n\nreturn trulyNew.map(job => ({ json: job }));"
      },
      "continueOnFail": true
    },
    {
      "id": "groq-score-job",
      "name": "Groq AI: Score Job Match",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2000,
        360
      ],
      "parameters": {
        "operation": "text",
        "options": {
          "temperature": 0.3
        },
        "text": "=You are a job matching expert. Score this job for relevance (0-100):\n\n**Job:** {{ $json.jobTitle }} at {{ $json.company }}\n**Location:** {{ $json.location }}\n**Work Mode:** {{ $json.workMode }}\n**Description:** {{ $json.description }}\n\n**User Profile:**\n- Current Role: {{ $('Merge User Config with Resume Data').item.json.currentRole }}\n- Target Role: {{ $('Merge User Config with Resume Data').item.json.targetRole }}\n- Skills: {{ $('Merge User Config with Resume Data').item.json.skills.join(', ') }}\n- Work Mode: {{ $('Merge User Config with Resume Data').item.json.workMode.join(' or ') }}\n- Location: {{ $('Merge User Config with Resume Data').item.json.location }}\n\n**Resume Data:**\n- Resume Parsed: {{ $('Merge User Config with Resume Data').item.json.resumeParsed ? 'Yes' : 'No (using config)' }}\n- Resume Skills: {{ ($('Merge User Config with Resume Data').item.json.resumeData.skills || []).join(', ') }}\n- Experience: {{ ($('Merge User Config with Resume Data').item.json.resumeData.experience || []).map(e => e.role + ' at ' + e.company).join('; ') }}\n- Key Projects: {{ ($('Merge User Config with Resume Data').item.json.resumeData.projects || []).slice(0, 3).map(p => p.name).join(', ') }}\n\n**Scoring Instructions:**\n- Give +20 points for strong skill overlap with resume\n- Give +15 points for relevant project experience\n- Give +10 points for matching work mode and location\n- Give +10 points for career progression alignment\n\nProvide ONLY a JSON object:\n{\"score\": <0-100>, \"priority\": \"high|medium|low\", \"matchReason\": \"<1 sentence mentioning resume skills if parsed>\"}\n\nNo other text."
      },
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_CREDENTIAL_ID",
          "name": "Groq API"
        }
      }
    },
    {
      "id": "parse-score",
      "name": "Parse AI Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        360
      ],
      "parameters": {
        "jsCode": "// Parse Groq scoring response\nconst jobData = items[0].json;\nconst groqResponse = $node[\"Groq AI: Score Job Match\"].json.response || $node[\"Groq AI: Score Job Match\"].json.text || '';\n\nlet score = 50;\nlet priority = 'medium';\nlet matchReason = 'Standard match';\n\ntry {\n  const jsonMatch = groqResponse.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    score = parsed.score || 50;\n    priority = parsed.priority || 'medium';\n    matchReason = parsed.matchReason || 'Standard match';\n  }\n} catch (error) {\n  console.error('Failed to parse Groq response, using defaults');\n}\n\nreturn [{\n  json: {\n    ...jobData,\n    score,\n    priority,\n    matchReason,\n    status: 'New',\n    applicationId: '',\n    emailSentDate: '',\n    lastUpdated: new Date().toISOString().split('T')[0]\n  }\n}];"
      }
    },
    {
      "id": "filter-by-score",
      "name": "Filter by Score Threshold (\u226560)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2440,
        360
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.score }}",
              "operation": "largerEqual",
              "value2": "={{ $('User Config (Master Profile)').item.json.scoreThreshold }}"
            }
          ]
        }
      }
    },
    {
      "id": "append-to-sheet-jobs",
      "name": "Append to Google Sheets: Jobs Tab",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        2660,
        360
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('User Config (Master Profile)').item.json.sheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Jobs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "id": "jobId",
              "displayName": "Job ID",
              "type": "string"
            },
            {
              "id": "jobTitle",
              "displayName": "Job Title",
              "type": "string"
            },
            {
              "id": "company",
              "displayName": "Company",
              "type": "string"
            },
            {
              "id": "location",
              "displayName": "Location",
              "type": "string"
            },
            {
              "id": "workMode",
              "displayName": "Work Mode",
              "type": "string"
            },
            {
              "id": "salary",
              "displayName": "Salary",
              "type": "string"
            },
            {
              "id": "applyUrl",
              "displayName": "Apply URL",
              "type": "string"
            },
            {
              "id": "source",
              "displayName": "Source",
              "type": "string"
            },
            {
              "id": "score",
              "displayName": "Score",
              "type": "number"
            },
            {
              "id": "priority",
              "displayName": "Priority",
              "type": "string"
            },
            {
              "id": "matchReason",
              "displayName": "Match Reason",
              "type": "string"
            },
            {
              "id": "status",
              "displayName": "Status",
              "type": "string"
            },
            {
              "id": "postedDate",
              "displayName": "Posted Date",
              "type": "string"
            },
            {
              "id": "fetchedDate",
              "displayName": "Fetched Date",
              "type": "string"
            },
            {
              "id": "recruiterEmail",
              "displayName": "Recruiter Email",
              "type": "string"
            },
            {
              "id": "recruiterName",
              "displayName": "Recruiter Name",
              "type": "string"
            },
            {
              "id": "applicationId",
              "displayName": "Application ID",
              "type": "string"
            },
            {
              "id": "emailSentDate",
              "displayName": "Email Sent Date",
              "type": "string"
            },
            {
              "id": "lastUpdated",
              "displayName": "Last Updated",
              "type": "string"
            }
          ],
          "value": {
            "jobId": "={{ $json.jobId }}",
            "jobTitle": "={{ $json.jobTitle }}",
            "company": "={{ $json.company }}",
            "location": "={{ $json.location }}",
            "workMode": "={{ $json.workMode }}",
            "salary": "={{ $json.salary }}",
            "applyUrl": "={{ $json.applyUrl }}",
            "source": "={{ $json.source }}",
            "score": "={{ $json.score }}",
            "priority": "={{ $json.priority }}",
            "matchReason": "={{ $json.matchReason }}",
            "status": "={{ $json.status }}",
            "postedDate": "={{ $json.postedDate }}",
            "fetchedDate": "={{ $json.fetchedDate }}",
            "recruiterEmail": "={{ $json.recruiterEmail }}",
            "recruiterName": "={{ $json.recruiterName }}",
            "applicationId": "={{ $json.applicationId }}",
            "emailSentDate": "={{ $json.emailSentDate }}",
            "lastUpdated": "={{ $json.lastUpdated }}",
            "resumeMatchDetails": "={{ $json.resumeMatchDetails || \"\" }}"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "aggregate-job-summary",
      "name": "Aggregate Job Discovery Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        360
      ],
      "parameters": {
        "jsCode": "// Aggregate job discovery summary with API health status\nconst jobs = items.map(item => item.json);\nconst total = jobs.length;\nconst high = jobs.filter(j => j.priority === 'high').length;\nconst medium = jobs.filter(j => j.priority === 'medium').length;\nconst low = jobs.filter(j => j.priority === 'low').length;\n\nconst topJobs = jobs\n  .sort((a, b) => b.score - a.score)\n  .slice(0, 5)\n  .map(j => `\u2022 **${j.jobTitle}** at **${j.company}** (${j.location}) - Score: ${j.score} [${j.source}]`);\n\nconst sourceBreakdown = jobs.reduce((acc, j) => {\n  acc[j.source] = (acc[j.source] || 0) + 1;\n  return acc;\n}, {});\n\nconst sourceStats = Object.entries(sourceBreakdown)\n  .map(([source, count]) => `${source}: ${count}`)\n  .join(', ');\n\n// Get API health status\nconst apiHealthData = $('Update API Health Status').item.json;\nconst apiHealth = apiHealthData.apiState || {};\nconst healthStatus = Object.entries(apiHealth)\n  .map(([name, state]) => `${name}: ${state.status} (${state.consecutiveFailures} failures)`)\n  .join(', ');\n\nreturn [{\n  json: {\n    total,\n    high,\n    medium,\n    low,\n    topJobsList: topJobs.join('\\n'),\n    sourceStats,\n    apiHealthStatus: healthStatus,\n    unhealthyApis: apiHealthData.unhealthySummary || 'None',\n    date: new Date().toISOString().split('T')[0]\n  }\n}];"
      }
    },
    {
      "id": "send-telegram-job-digest",
      "name": "Send Telegram: Job Discovery Digest",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3100,
        300
      ],
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=\ud83d\udcca **Daily Job Discovery Complete**\n\n\u2705 Found **{{ $json.total }}** new relevant jobs!\n\n**Priority Breakdown:**\n\ud83d\udd34 High: {{ $json.high }}\n\ud83d\udfe1 Medium: {{ $json.medium }}\n\ud83d\udfe2 Low: {{ $json.low }}\n\n**Sources:** {{ $json.sourceStats }}\n\n**API Health Status:**\n{{ $json.apiHealthStatus }}\n\u26a0\ufe0f Unhealthy APIs: {{ $json.unhealthyApis }}\n\n**Top 5 Matches:**\n{{ $json.topJobsList }}\n\nAll jobs saved to Google Sheet. Add recruiter emails for auto-outreach!\n\n**Date:** {{ $json.date }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "id": "send-gmail-job-digest",
      "name": "Send Gmail: Job Discovery Digest",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3100,
        420
      ],
      "parameters": {
        "sendTo": "={{ $('User Config (Master Profile)').item.json.userEmail }}",
        "subject": "\ud83d\udcca Daily Job Discovery - {{ $json.total }} New Jobs",
        "message": "=Hello {{ $('User Config (Master Profile)').item.json.name }},\n\nYour job discovery engine found **{{ $json.total }}** new relevant jobs!\n\n**Priority Breakdown:**\n\ud83d\udd34 High: {{ $json.high }}\n\ud83d\udfe1 Medium: {{ $json.medium }}\n\ud83d\udfe2 Low: {{ $json.low }}\n\n**Sources:**\n{{ $json.sourceStats }}\n\n**Top 5 Matches:**\n{{ $json.topJobsList }}\n\nAll jobs have been added to your Google Sheet.\nReview them and add recruiter emails for auto-outreach.\n\n**Date:** {{ $json.date }}\n\nBest regards,\nJob Discovery Engine",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "id": "read-jobs-for-outreach",
      "name": "Read Jobs from Sheet for Outreach",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        680,
        1800
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $('User Config (Master Profile)').item.json.sheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Jobs",
          "mode": "name"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "filter-sendable-jobs",
      "name": "Filter: Status=New AND Has Recruiter Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        1800
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Status || $json.status }}",
              "operation": "equals",
              "value2": "New"
            },
            {
              "value1": "={{ $json['Recruiter Email'] || $json.recruiterEmail }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "all"
      },
      "notes": "HOW RECRUITER EMAILS WORK:\n\nJob APIs do NOT provide recruiter emails. You must manually fill the \n'Recruiter Email' column in your Google Sheet for jobs you want to apply to.\n\nWorkflow: \n1. Job Discovery (8 AM) populates jobs with scores\n2. YOU review the Sheet, find recruiter emails (LinkedIn, company site, Hunter.io)\n3. YOU fill 'Recruiter Email' column for good matches\n4. Email Outreach (9 AM) picks up rows with Status=New AND Recruiter Email filled\n5. AI generates personalized email with resume attached and sends\n\nThis is intentional: targeted emails to researched contacts = professional networking."
    },
    {
      "id": "limit-daily-emails",
      "name": "Limit to Daily Max (10 emails)",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1120,
        1800
      ],
      "parameters": {
        "numberValue": "={{ $('User Config (Master Profile)').item.json.dailyLimit }}"
      }
    },
    {
      "id": "groq-generate-email",
      "name": "Groq AI: Generate Personalized Email",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1340,
        1800
      ],
      "parameters": {
        "operation": "text",
        "options": {
          "temperature": 0.7
        },
        "text": "=You are a professional email writer. Generate a personalized cold email to a recruiter.\n\n**Job Details:**\n- Title: {{ $json['Job Title'] || $json.jobTitle }}\n- Company: {{ $json.Company || $json.company }}\n- Recruiter: {{ $json['Recruiter Name'] || $json.recruiterName || 'Hiring Manager' }}\n- Location: {{ $json.Location || $json.location }}\n- Apply URL: {{ $json['Apply URL'] || $json.applyUrl }}\n- Job Description: {{ ($json['Description'] || $json.description || '').substring(0, 800) }}\n- Requirements: {{ ($json['Requirements'] || $json.requirements || '').substring(0, 400) }}\n\n**Candidate Profile:**\n- Name: {{ $('Merge User Config with Resume Data').item.json.name }}\n- Current Role: {{ $('Merge User Config with Resume Data').item.json.currentRole }}\n- Experience: {{ $('Merge User Config with Resume Data').item.json.experience }}\n- Skills: {{ $('Merge User Config with Resume Data').item.json.skills.join(', ') }}\n- Location: {{ $('Merge User Config with Resume Data').item.json.location }}\n\n**Resume Insights (Use to personalize email):**\n- Resume Parsed: {{ $('Merge User Config with Resume Data').item.json.resumeParsed }}\n- Key Projects: {{ ($('Merge User Config with Resume Data').item.json.resumeData.projects || []).slice(0, 3).map(p => p.name + ' (' + (p.technologies || []).join(', ') + ')').join('; ') }}\n- Recent Experience: {{ ($('Merge User Config with Resume Data').item.json.resumeData.experience || []).slice(0, 2).map(e => e.role + ' at ' + e.company).join('; ') }}\n- Achievements: {{ ($('Merge User Config with Resume Data').item.json.resumeData.achievements || []).slice(0, 2).join('; ') }}\n\n**Requirements:**\n1. Professional, concise (150-200 words)\n2. Reference SPECIFIC details from the job description that match your experience\n3. Mention 2-3 specific projects from resume that directly align with job requirements\n4. Reference relevant achievements from resume\n5. Highlight matching technical skills from both resume and job description\n6. Include a clear call-to-action\n7. End with \"Best regards, {{ $('Merge User Config with Resume Data').item.json.name }}\"\n8. DO NOT be generic - every sentence must reference something specific from JD or resume\n\n**Format:**\nSubject: [Compelling subject referencing specific role and one key qualification]\n\n[Email body with specific project references and job description alignment]\n\nProvide ONLY the subject line and email body. No additional commentary."
      },
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_CREDENTIAL_ID",
          "name": "Groq API"
        }
      }
    },
    {
      "id": "parse-format-email",
      "name": "Parse & Format Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        1800
      ],
      "parameters": {
        "jsCode": "// Parse Groq email response\nconst jobData = items[0].json;\nconst groqResponse = $node[\"Groq AI: Generate Personalized Email\"].json.response || $node[\"Groq AI: Generate Personalized Email\"].json.text || '';\n\nlet subject = `Application for ${jobData['Job Title'] || jobData.jobTitle} at ${jobData.Company || jobData.company}`;\nlet body = groqResponse;\n\n// Try to extract subject line\nconst subjectMatch = groqResponse.match(/Subject:\\s*(.+?)\\n/i);\nif (subjectMatch) {\n  subject = subjectMatch[1].trim();\n  body = groqResponse.replace(/Subject:\\s*.+?\\n/i, '').trim();\n}\n\nconst config = $('Merge User Config with Resume Data').item.json;\n\n// Add signature if not present\nif (!body.includes(config.name)) {\n  body += `\\n\\nBest regards,\\n${config.name}`;\n}\n\n// Add profile links\nbody += `\\n\\nPortfolio: ${config.portfolioUrl}`;\nbody += `\\nLinkedIn: ${config.linkedinUrl}`;\nbody += `\\nGitHub: ${config.githubUrl}`;\nbody += `\\nResume: ${config.resumeUrl}`;\n\nreturn [{\n  json: {\n    ...jobData,\n    emailSubject: subject,\n    emailBody: body,\n    sentDate: new Date().toISOString().split('T')[0]\n  }\n}];"
      }
    },
    {
      "id": "update-email-metadata",
      "name": "Update Metadata (Status & Application ID)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        1800
      ],
      "parameters": {
        "jsCode": "// Update status and add metadata\nconst applicationId = `EMAIL-${Date.now()}-${Math.random().toString(36).substr(2, 6)}`;\n\nreturn [{\n  json: {\n    ...items[0].json,\n    Status: 'Email Sent',\n    status: 'Email Sent',\n    'Application ID': applicationId,\n    applicationId: applicationId,\n    'Email Sent Date': new Date().toISOString().split('T')[0],\n    emailSentDate: new Date().toISOString().split('T')[0],\n    'Last Updated': new Date().toISOString().split('T')[0],\n    lastUpdated: new Date().toISOString().split('T')[0]\n  }\n}];"
      }
    },
    {
      "id": "update-sheet-status",
      "name": "Update Sheet: Mark Email Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        2220,
        1800
      ],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('User Config (Master Profile)').item.json.sheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Jobs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [
            "Job Title",
            "Company"
          ],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "type": "string"
            },
            {
              "id": "Application ID",
              "displayName": "Application ID",
              "type": "string"
            },
            {
              "id": "Email Sent Date",
              "displayName": "Email Sent Date",
              "type": "string"
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "rate-limit-delay",
      "name": "Rate Limit Delay (3 seconds)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2440,
        1800
      ],
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      }
    },
    {
      "id": "aggregate-outreach-summary",
      "name": "Aggregate Outreach Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        1800
      ],
      "parameters": {
        "jsCode": "// Aggregate sending summary with 4-account breakdown\nconst jobs = items.map(item => item.json);\nconst total = jobs.length;\n\n// Count emails sent per account\nconst accountBreakdown = {\n  account1: 0,\n  account2: 0,\n  account3: 0,\n  account4: 0\n};\n\njobs.forEach(j => {\n  const account = j.accountUsed;\n  if (account && accountBreakdown.hasOwnProperty(account)) {\n    accountBreakdown[account]++;\n  }\n});\n\nconst sentList = jobs.map(j => \n  `\u2022 **${j['Job Title'] || j.jobTitle}** at **${j.Company || j.company}** \u2192 ${j['Recruiter Email'] || j.recruiterEmail} [${j.accountUsed || 'unknown'}]`\n);\n\nreturn [{\n  json: {\n    total,\n    sentList: sentList.join('\\n'),\n    date: new Date().toISOString().split('T')[0],\n    account1Count: accountBreakdown.account1,\n    account2Count: accountBreakdown.account2,\n    account3Count: accountBreakdown.account3,\n    account4Count: accountBreakdown.account4\n  }\n}];"
      }
    },
    {
      "id": "send-outreach-digest",
      "name": "Send Gmail: Outreach Digest",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2880,
        1800
      ],
      "parameters": {
        "sendTo": "={{ $('User Config (Master Profile)').item.json.userEmail }}",
        "subject": "\u2705 Email Outreach Complete - {{ $json.total }} Emails Sent",
        "message": "=Hello {{ $('User Config (Master Profile)').item.json.name }},\n\nYour daily email outreach campaign has completed!\n\n**Email Account Breakdown:**\n\ud83d\udce7 Account 1 (raviintouch2@gmail.com): {{ $json.account1Count }} emails sent\n\ud83d\udce7 Account 2 (ravitejavallakatla7@gmail.com): {{ $json.account2Count }} emails sent\n\ud83d\udce7 Account 3 (ravitejav081@gmail.com): {{ $json.account3Count }} emails sent\n\ud83d\udce7 Account 4 (ravitejav0801@gmail.com): {{ $json.account4Count }} emails sent\n\n**Total Emails Sent:** {{ $json.total }}\n**Total Daily Capacity:** 200 emails/day (50 per account \u00d7 4 accounts)\n\n**Sent To:**\n{{ $json.sentList }}\n\nAll applications have been logged in your Google Sheet with status \"Email Sent\".\n\nCheck your Gmail Sent folder for copies (you were CC'd on all emails).\n\n**Date:** {{ $json.date }}\n\nBest regards,\nEmail Outreach System",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "id": "extract-telegram-message",
      "name": "Extract Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        3300
      ],
      "parameters": {
        "jsCode": "// Extract message and user info\nconst message = items[0].json.message || {};\n\nconst userId = message.from?.id?.toString() || 'unknown';\nconst username = message.from?.username || message.from?.first_name || 'User';\nconst chatId = message.chat?.id;\nconst text = message.text || '';\n\nreturn [{\n  json: {\n    userId,\n    username,\n    chatId,\n    text,\n    timestamp: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "handle-quick-commands",
      "name": "Handle Quick Commands",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        3300
      ],
      "parameters": {
        "jsCode": "// Quick command handler\nconst text = items[0].json.text.toLowerCase();\nconst config = $('User Config (Master Profile)').item.json;\n\nlet quickResponse = '';\nlet isQuickCommand = false;\nlet needsStateReport = false;\n\nif (text === '/start' || text === '/help') {\n  isQuickCommand = true;\n  quickResponse = `**Job Hunt Assistant**\n\nWelcome ${config.name}! \n\n**Commands:**\n\u2022 /stats - View your application stats\n\u2022 /status - View all account states in real-time\n\u2022 /resume - View your resume\n\u2022 /help - Show this help message\n\nAsk me anything about your job search!`;\n} else if (text === '/resume') {\n  isQuickCommand = true;\n  quickResponse = `**Your Resume:**\n${config.resumeUrl}\n\n**Profile:**\n\u2022 ${config.currentRole}\n\u2022 ${config.experience}\n\u2022 Skills: ${config.skills.join(', ')}\n\u2022 Location: ${config.location}\n\n**Links:**\nLinkedIn: ${config.linkedinUrl}\nGitHub: ${config.githubUrl}\nPortfolio: ${config.portfolioUrl}`;\n} else if (text === '/status') {\n  needsStateReport = true;\n  isQuickCommand = false; // Will need state report\n  quickResponse = '';\n} else if (text === '/stats') {\n  isQuickCommand = false; // Will need sheet query\n  quickResponse = '';\n}\n\nreturn [{\n  json: {\n    ...items[0].json,\n    quickResponse,\n    isQuickCommand,\n    needsStateReport\n  }\n}];"
      }
    },
    {
      "id": "check-quick-command",
      "name": "Is Quick Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        3300
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isQuickCommand }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "send-quick-reply",
      "name": "Send Quick Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        3200
      ],
      "parameters": {
        "chatId": "={{ $('Extract Telegram Message').item.json.chatId }}",
        "text": "={{ $json.quickResponse }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "id": "build-system-prompt",
      "name": "Build Dynamic System Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        3400
      ],
      "parameters": {
        "jsCode": "// Build dynamic system prompt for Groq\nconst config = $('User Config (Master Profile)').item.json;\nconst userMessage = $('Extract Telegram Message').item.json;\n\nconst systemPrompt = `You are ${config.name}'s personal job hunt assistant.\n\n**User Profile:**\n- Current Role: ${config.currentRole}\n- Target Role: ${config.targetRole}\n- Experience: ${config.experience}\n- Skills: ${config.skills.join(', ')}\n- Location: ${config.location}\n- Work Preference: ${config.workMode.join(' or ')}\n- Minimum Salary: $${config.minSalary}\n\n**Your Capabilities:**\n1. Query job tracker (see applications, stats, pending jobs)\n2. Provide resume information\n3. Answer job search questions\n4. Give career advice\n\n**Guidelines:**\n- Be concise and action-oriented\n- Suggest next steps\n- Use bullet points for lists\n- Keep responses under 300 words\n- Be encouraging and supportive\n\nUser message: ${userMessage.text}`;\n\nreturn [{\n  json: {\n    ...items[0].json,\n    systemPrompt,\n    userMessage: userMessage.text\n  }\n}];"
      }
    },
    {
      "id": "groq-agent",
      "name": "Groq Agent (Llama 3.3 70B)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1340,
        3400
      ],
      "parameters": {
        "operation": "text",
        "options": {
          "temperature": 0.7
        },
        "text": "={{ $json.systemPrompt }}"
      },
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_CREDENTIAL_ID",
          "name": "Groq API"
        }
      }
    },
    {
      "id": "parse-agent-response",
      "name": "Parse Response & Detect Intents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        3400
      ],
      "parameters": {
        "jsCode": "// Parse agent response and extract actions\nconst response = items[0].json.response || items[0].json.text || 'Sorry, I could not process your request.';\nconst userMessage = $('Extract Telegram Message').item.json.text.toLowerCase();\n\n// Detect action intents\nconst needsSheetQuery = userMessage.includes('stats') || userMessage.includes('status') || userMessage.includes('how many') || userMessage.includes('count');\n\nreturn [{\n  json: {\n    ...items[0].json,\n    response,\n    needsSheetQuery\n  }\n}];"
      }
    },
    {
      "id": "check-needs-sheet-query",
      "name": "Needs Sheet Query?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1780,
        3400
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.needsSheetQuery }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "query-sheet-for-stats",
      "name": "Query Google Sheet for Stats",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        2000,
        3300
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $('User Config (Master Profile)').item.json.sheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Jobs",
          "mode": "name"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "aggregate-telegram-stats",
      "name": "Aggregate Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        3300
      ],
      "parameters": {
        "jsCode": "// Aggregate sheet stats\nconst jobs = items.map(item => item.json);\n\nconst total = jobs.length;\nconst statusCounts = jobs.reduce((acc, j) => {\n  const status = j.Status || j.status || 'Unknown';\n  acc[status] = (acc[status] || 0) + 1;\n  return acc;\n}, {});\n\nconst priorityCounts = jobs.reduce((acc, j) => {\n  const priority = j.Priority || j.priority || 'unknown';\n  acc[priority] = (acc[priority] || 0) + 1;\n  return acc;\n}, {});\n\nconst stats = `**Your Job Tracker Stats:**\n\u2022 Total jobs: ${total}\n\n**Status Breakdown:**\n` + Object.entries(statusCounts).map(([status, count]) => \n  `\u2022 ${status}: ${count}`\n).join('\\n') + `\n\n**Priority Breakdown:**\n` + Object.entries(priorityCounts).map(([priority, count]) => \n  `\u2022 ${priority}: ${count}`\n).join('\\n');\n\nreturn [{\n  json: {\n    ...items[0].json,\n    stats\n  }\n}];"
      }
    },
    {
      "id": "send-telegram-reply-with-stats",
      "name": "Send Telegram Reply (with stats)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2440,
        3300
      ],
      "parameters": {
        "chatId": "={{ $('Extract Telegram Message').item.json.chatId }}",
        "text": "={{ $json.response }}\\n\\n{{ $json.stats }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "id": "send-telegram-reply-simple",
      "name": "Send Telegram Reply (simple)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        3500
      ],
      "parameters": {
        "chatId": "={{ $('Extract Telegram Message').item.json.chatId }}",
        "text": "={{ $json.response }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "id": "download-resume",
      "name": "Download Resume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        150
      ],
      "parameters": {
        "url": "={{ \n  const config = $('User Config (Master Profile)').item.json;\n  const url = config.resumeUrl || '';\n  \n  // Convert Google Drive view URL to download URL\n  if (url.includes('drive.google.com/file/d/')) {\n    const match = url.match(/\\/d\\/([^\\/]+)/);\n    if (match) return `https://drive.google.com/uc?export=download&id=${match[1]}`;\n  }\n  \n  // Convert GitHub blob URL to raw URL\n  if (url.includes('github.com') && url.includes('/blob/')) {\n    return url.replace('/blob/', '/raw/');\n  }\n  \n  // Add Dropbox download parameter\n  if (url.includes('dropbox.com')) {\n    return url.includes('?') ? url + '&dl=1' : url + '?dl=1';\n  }\n  \n  return url;\n}}",
        "method": "GET",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "text"
            }
          }
        }
      },
      "continueOnFail": true
    },
    {
      "id": "check-resume-download",
      "name": "Check Resume Download Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        150
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('User Config (Master Profile)').item.json.resumeParsingEnabled && $json.data && $json.data.length > 100 }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "parse-resume-groq",
      "name": "Parse Resume with Groq AI",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1120,
        100
      ],
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.1
        },
        "text": "=You are a resume parser. Extract structured information from this resume text.\n\n**Resume Content:**\n{{ $('Download Resume').item.json.data }}\n\n**Extract the following in JSON format ONLY:**\n{\n  \"skills\": [\"skill1\", \"skill2\", ...],\n  \"experience\": [\n    {\n      \"role\": \"Job Title\",\n      \"company\": \"Company Name\",\n      \"duration\": \"2020-2023\",\n      \"responsibilities\": \"Key achievements and responsibilities\"\n    }\n  ],\n  \"projects\": [\n    {\n      \"name\": \"Project Name\",\n      \"description\": \"Brief description\",\n      \"technologies\": [\"tech1\", \"tech2\"]\n    }\n  ],\n  \"achievements\": [\"achievement1\", \"achievement2\", ...],\n  \"education\": [\n    {\n      \"degree\": \"Degree Name\",\n      \"institution\": \"University Name\",\n      \"year\": \"2019\"\n    }\n  ]\n}\n\nProvide ONLY valid JSON. No additional text or explanation."
      },
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_CREDENTIAL_ID",
          "name": "Groq API"
        }
      }
    },
    {
      "id": "structure-resume-data",
      "name": "Structure Resume Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        100
      ],
      "parameters": {
        "jsCode": "// Parse and validate Groq resume response\nconst config = $('User Config (Master Profile)').item.json;\nconst groqResponse = $node[\"Parse Resume with Groq AI\"].json.response || $node[\"Parse Resume with Groq AI\"].json.text || '';\n\nlet resumeData = {\n  skills: config.skills || [],\n  experience: [],\n  projects: [],\n  achievements: [],\n  education: [],\n  parsed: false\n};\n\ntry {\n  // Extract JSON from response\n  const jsonMatch = groqResponse.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    \n    // Validate and use parsed data\n    if (parsed.skills && Array.isArray(parsed.skills) && parsed.skills.length > 0) {\n      resumeData.skills = parsed.skills;\n      resumeData.parsed = true;\n    }\n    \n    if (parsed.experience && Array.isArray(parsed.experience)) {\n      resumeData.experience = parsed.experience;\n    }\n    \n    if (parsed.projects && Array.isArray(parsed.projects)) {\n      resumeData.projects = parsed.projects;\n    }\n    \n    if (parsed.achievements && Array.isArray(parsed.achievements)) {\n      resumeData.achievements = parsed.achievements;\n    }\n    \n    if (parsed.education && Array.isArray(parsed.education)) {\n      resumeData.education = parsed.education;\n    }\n  }\n} catch (error) {\n  console.error('Resume parsing failed, using User Config fallback:', error.message);\n}\n\nreturn [{\n  json: {\n    resumeData,\n    config\n  }\n}];"
      }
    },
    {
      "id": "fallback-user-config",
      "name": "Fallback: User Config Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "jsCode": "// Use User Config when resume download/parsing fails\nconst config = $('User Config (Master Profile)').item.json;\n\nreturn [{\n  json: {\n    resumeData: {\n      skills: config.skills || [],\n      experience: [],\n      projects: [],\n      achievements: [],\n      education: [],\n      parsed: false\n    },\n    config\n  }\n}];"
      }
    },
    {
      "id": "merge-config-resume",
      "name": "Merge User Config with Resume Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        150
      ],
      "parameters": {
        "jsCode": "// Merge resume data with user config, prioritize resume data\nconst input = items[0].json;\nconst resumeData = input.resumeData;\nconst config = input.config;\n\n// Create enriched profile\nconst enrichedProfile = {\n  ...config,\n  resumeData: resumeData,\n  \n  // Skills: resume data takes priority if available\n  skills: resumeData.parsed ? resumeData.skills : config.skills,\n  \n  // Enhanced fields from resume\n  experience: resumeData.experience || [],\n  projects: resumeData.projects || [],\n  achievements: resumeData.achievements || [],\n  education: resumeData.education || [],\n  \n  // Resume parsing metadata\n  resumeParsed: resumeData.parsed,\n  resumeSkillCount: (resumeData.skills || []).length,\n  resumeProjectCount: (resumeData.projects || []).length\n};\n\nreturn [{\n  json: enrichedProfile\n}];"
      }
    },
    {
      "id": "resume-match-analysis",
      "name": "Resume Match Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        480
      ],
      "parameters": {
        "jsCode": "// Analyze resume match with job requirements\nconst jobData = items[0].json;\nconst enrichedProfile = $('Merge User Config with Resume Data').item.json;\nconst resumeData = enrichedProfile.resumeData;\n\n// Extract job requirements (basic keyword extraction from description)\nconst jobDesc = (jobData.description || '').toLowerCase();\nconst jobTitle = (jobData.jobTitle || '').toLowerCase();\n\n// Calculate skill overlap\nconst resumeSkills = (resumeData.skills || []).map(s => s.toLowerCase());\nconst matchedSkills = resumeSkills.filter(skill => \n  jobDesc.includes(skill) || jobTitle.includes(skill)\n);\n\nconst skillOverlapPercent = resumeSkills.length > 0 \n  ? Math.round((matchedSkills.length / resumeSkills.length) * 100)\n  : 0;\n\n// Calculate experience relevance\nconst experienceYears = parseInt(enrichedProfile.experience.match(/\\d+/)?.[0] || '0');\nconst hasRelevantProjects = (resumeData.projects || []).some(project => {\n  const projectTech = (project.technologies || []).join(' ').toLowerCase();\n  return matchedSkills.some(skill => projectTech.includes(skill));\n});\n\nconst experienceScore = Math.min(experienceYears * 10, 50);\nconst projectScore = hasRelevantProjects ? 20 : 0;\n\n// Overall relevance score\nconst relevanceScore = Math.min(skillOverlapPercent + experienceScore + projectScore, 100);\n\n// Generate match details\nconst matchDetails = {\n  skillOverlapPercent,\n  matchedSkills: matchedSkills.slice(0, 5), // Top 5\n  totalResumeSkills: resumeSkills.length,\n  experienceYears,\n  hasRelevantProjects,\n  relevanceScore,\n  resumeParsed: resumeData.parsed\n};\n\nreturn [{\n  json: {\n    ...jobData,\n    resumeMatchDetails: JSON.stringify(matchDetails)\n  }\n}];"
      }
    },
    {
      "id": "email-account-state",
      "name": "Email Account State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        1900
      ],
      "parameters": {
        "jsCode": "// Email account state - Now reads from centralized Multi-Account State Manager\nconst staticData = this.getWorkflowStaticData('global');\n\n// Initialize centralized state if not exists\nif (!staticData.multiAccountState) {\n  staticData.multiAccountState = {\n    gmail: {\n      account1: { email: 'raviintouch2@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      account2: { email: 'ravitejavallakatla7@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      account3: { email: 'ravitejav081@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      account4: { email: 'ravitejav0801@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      currentActive: 'account1'\n    },\n    sheets: { account1: {}, account2: {}, account3: {}, account4: {}, currentActive: 'account1' },\n    groq: { key1: {}, key2: {}, key3: {}, key4: {}, currentActive: 'key1' },\n    jobApis: {},\n    lastResetDate: null,\n    switchHistory: []\n  };\n}\n\n// Return Gmail state from centralized manager\nreturn [{ json: staticData.multiAccountState.gmail }];"
      }
    },
    {
      "id": "check-email-status",
      "name": "Check Email Account Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        1900
      ],
      "parameters": {
        "jsCode": "// Check email account status - Uses centralized state\nconst staticData = this.getWorkflowStaticData('global');\nconst config = $('User Config (Master Profile)').item.json;\nconst today = new Date().toISOString().split('T')[0];\n\n// Ensure centralized state exists\nif (!staticData.multiAccountState || !staticData.multiAccountState.gmail) {\n  return [{ json: { error: 'multiAccountState not initialized', accountToUse: 'skip' } }];\n}\n\nconst state = staticData.multiAccountState.gmail;\n\n// Daily reset check (backup - primary reset happens in Daily Reset Handler)\nif (staticData.multiAccountState.lastResetDate !== today) {\n  state.account1.dailyCount = 0;\n  state.account1.errors = 0;\n  state.account2.dailyCount = 0;\n  state.account2.errors = 0;\n  state.account3.dailyCount = 0;\n  state.account3.errors = 0;\n  state.account4.dailyCount = 0;\n  state.account4.errors = 0;\n  state.currentActive = 'account1';\n  staticData.multiAccountState.lastResetDate = today;\n}\n\n// Check each account availability in order\nconst accounts = ['account1', 'account2', 'account3', 'account4'];\nlet accountToUse = null;\nlet reason = '';\nlet shouldSwitch = false;\n\n// Find first available account\nfor (const acc of accounts) {\n  const available = state[acc].dailyCount < config.maxEmailsPerAccount \n    && state[acc].errors < config.errorThreshold;\n  \n  if (available) {\n    accountToUse = acc;\n    break;\n  }\n}\n\n// If no account available, skip sending\nif (!accountToUse) {\n  accountToUse = 'skip';\n  reason = 'All 4 accounts exhausted';\n} else if (accountToUse !== state.currentActive) {\n  // Account switch needed\n  shouldSwitch = true;\n  const prevAccount = state.currentActive;\n  const prevState = state[prevAccount];\n  \n  if (prevState.dailyCount >= config.maxEmailsPerAccount) {\n    reason = `Daily limit reached (${prevState.dailyCount}/${config.maxEmailsPerAccount})`;\n  } else if (prevState.errors >= config.errorThreshold) {\n    reason = `Error threshold exceeded (${prevState.errors}/${config.errorThreshold})`;\n  } else {\n    reason = 'Daily reset - returning to account1';\n  }\n  \n  state.currentActive = accountToUse;\n}\n\nreturn [{\n  json: {\n    ...state,\n    accountToUse,\n    shouldSwitch,\n    switchReason: reason,\n    account1Available: state.account1.dailyCount < config.maxEmailsPerAccount && state.account1.errors < config.errorThreshold,\n    account2Available: state.account2.dailyCount < config.maxEmailsPerAccount && state.account2.errors < config.errorThreshold,\n    account3Available: state.account3.dailyCount < config.maxEmailsPerAccount && state.account3.errors < config.errorThreshold,\n    account4Available: state.account4.dailyCount < config.maxEmailsPerAccount && state.account4.errors < config.errorThreshold\n  }\n}];"
      }
    },
    {
      "id": "daily-reset-check",
      "name": "Daily Reset Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        1800
      ],
      "parameters": {
        "jsCode": "// Daily Reset Check - Now uses centralized Multi-Account State Manager\nconst staticData = this.getWorkflowStaticData('global');\nconst today = new Date().toISOString().split('T')[0];\n\n// Ensure centralized state exists\nif (!staticData.multiAccountState) {\n  staticData.multiAccountState = {\n    gmail: {\n      account1: { email: 'raviintouch2@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      account2: { email: 'ravitejavallakatla7@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      account3: { email: 'ravitejav081@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      account4: { email: 'ravitejav0801@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      currentActive: 'account1'\n    },\n    sheets: {\n      account1: { email: 'raviintouch2@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n      account2: { email: 'ravitejavallakatla7@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n      account3: { email: 'ravitejav081@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n      account4: { email: 'ravitejav0801@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n      currentActive: 'account1'\n    },\n    groq: {\n      key1: { name: 'groq1', dailyRequests: 0, credentialId: '', lastError: null },\n      key2: { name: 'groq2', dailyRequests: 0, credentialId: '', lastError: null },\n      key3: { name: 'groq3', dailyRequests: 0, credentialId: '', lastError: null },\n      key4: { name: 'groq4', dailyRequests: 0, credentialId: '', lastError: null },\n      currentActive: 'key1'\n    },\n    jobApis: {\n      remotive: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n      arbeitnow: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n      adzuna: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n      jsearch: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n      themuse: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n      usajobs: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n      githubjobs: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 }\n    },\n    lastResetDate: null,\n    switchHistory: []\n  };\n}\n\nconst state = staticData.multiAccountState;\n\n// Perform daily reset if needed\nif (state.lastResetDate !== today) {\n  // Reset Gmail accounts\n  state.gmail.account1.dailyCount = 0;\n  state.gmail.account1.errors = 0;\n  state.gmail.account2.dailyCount = 0;\n  state.gmail.account2.errors = 0;\n  state.gmail.account3.dailyCount = 0;\n  state.gmail.account3.errors = 0;\n  state.gmail.account4.dailyCount = 0;\n  state.gmail.account4.errors = 0;\n  state.gmail.currentActive = 'account1';\n  \n  // Reset Google Sheets accounts\n  state.sheets.account1.dailyWrites = 0;\n  state.sheets.account1.lastError = null;\n  state.sheets.account2.dailyWrites = 0;\n  state.sheets.account2.lastError = null;\n  state.sheets.account3.dailyWrites = 0;\n  state.sheets.account3.lastError = null;\n  state.sheets.account4.dailyWrites = 0;\n  state.sheets.account4.lastError = null;\n  state.sheets.currentActive = 'account1';\n  \n  // Reset Groq API keys\n  state.groq.key1.dailyRequests = 0;\n  state.groq.key1.lastError = null;\n  state.groq.key2.dailyRequests = 0;\n  state.groq.key2.lastError = null;\n  state.groq.key3.dailyRequests = 0;\n  state.groq.key3.lastError = null;\n  state.groq.key4.dailyRequests = 0;\n  state.groq.key4.lastError = null;\n  state.groq.currentActive = 'key1';\n  \n  // Update last reset date\n  state.lastResetDate = today;\n  \n  console.log('\u2705 Daily reset performed: All account counters reset to 0');\n}\n\n// Pass through to next node\nreturn [{json: {resetChecked: true, date: today, resetPerformed: state.lastResetDate === today}}];"
      }
    },
    {
      "id": "select-gmail-credential",
      "name": "Select Gmail Credential",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        900,
        1900
      ],
      "parameters": {
        "rules": {
          "rules": [
            {
              "type": "expression",
              "value": "={{ $json.accountToUse === 'account1' }}",
              "output": 0
            },
            {
              "type": "expression",
              "value": "={{ $json.accountToUse === 'account2' }}",
              "output": 1
            },
            {
              "type": "expression",
              "value": "={{ $json.accountToUse === 'account3' }}",
              "output": 2
            },
            {
              "type": "expression",
              "value": "={{ $json.accountToUse === 'account4' }}",
              "output": 3
            },
            {
              "type": "expression",
              "value": "={{ $json.accountToUse === 'skip' }}",
              "output": 4
            }
          ]
        }
      }
    },
    {
      "id": "send-gmail-account-1",
      "name": "Send Email via Gmail Account 1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        1700
      ],
      "parameters": {
        "sendTo": "={{ $json['Recruiter Email'] || $json.recruiterEmail }}",
        "subject": "={{ $json.emailSubject }}",
        "message": "={{ $json.emailBody }}",
        "options": {
          "ccList": "={{ $('User Config (Master Profile)').item.json.userEmail }}",
          "attachmentsUi": {
            "attachmentsBinary": [],
            "attachmentsFixedCollection": {
              "values": [
                {
                  "fileName": "={{ $('User Config (Master Profile)').item.json.name.replace(/\\s/g, '_') }}_Resume.pdf",
                  "url": "={{ (() => { const url = $('User Config (Master Profile)').item.json.resumeUrl || ''; if (url.includes('drive.google.com/file/d/')) { const match = url.match(/\\/d\\/([^\\/]+)/); if (match) return 'https://drive.google.com/uc?export=download&id=' + match[1]; } return url; })() }}"
                }
              ]
            }
          }
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_ACCOUNT_1_CREDENTIAL_ID",
          "name": "Gmail Account 1 (raviintouch2@gmail.com)"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "send-gmail-account-2",
      "name": "Send Email via Gmail Account 2",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        1800
      ],
      "parameters": {
        "sendTo": "={{ $json['Recruiter Email'] || $json.recruiterEmail }}",
        "subject": "={{ $json.emailSubject }}",
        "message": "={{ $json.emailBody }}",
        "options": {
          "ccList": "={{ $('User Config (Master Profile)').item.json.userEmail }}",
          "attachmentsUi": {
            "attachmentsBinary": [],
            "attachmentsFixedCollection": {
              "values": [
                {
                  "fileName": "={{ $('User Config (Master Profile)').item.json.name.replace(/\\s/g, '_') }}_Resume.pdf",
                  "url": "={{ (() => { const url = $('User Config (Master Profile)').item.json.resumeUrl || ''; if (url.includes('drive.google.com/file/d/')) { const match = url.match(/\\/d\\/([^\\/]+)/); if (match) return 'https://drive.google.com/uc?export=download&id=' + match[1]; } return url; })() }}"
                }
              ]
            }
          }
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_ACCOUNT_2_CREDENTIAL_ID",
          "name": "Gmail Account 2 (ravitejavallakatla7@gmail.com)"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "send-gmail-account-3",
      "name": "Send Email via Gmail Account 3",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        1900
      ],
      "parameters": {
        "sendTo": "={{ $json['Recruiter Email'] || $json.recruiterEmail }}",
        "subject": "={{ $json.emailSubject }}",
        "message": "={{ $json.emailBody }}",
        "options": {
          "ccList": "={{ $('User Config (Master Profile)').item.json.userEmail }}",
          "attachmentsUi": {
            "attachmentsBinary": [],
            "attachmentsFixedCollection": {
              "values": [
                {
                  "fileName": "={{ $('User Config (Master Profile)').item.json.name.replace(/\\s/g, '_') }}_Resume.pdf",
                  "url": "={{ (() => { const url = $('User Config (Master Profile)').item.json.resumeUrl || ''; if (url.includes('drive.google.com/file/d/')) { const match = url.match(/\\/d\\/([^\\/]+)/); if (match) return 'https://drive.google.com/uc?export=download&id=' + match[1]; } return url; })() }}"
                }
              ]
            }
          }
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_ACCOUNT_3_CREDENTIAL_ID",
          "name": "Gmail Account 3 (ravitejav081@gmail.com)"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "send-gmail-account-4",
      "name": "Send Email via Gmail Account 4",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        2000
      ],
      "parameters": {
        "sendTo": "={{ $json['Recruiter Email'] || $json.recruiterEmail }}",
        "subject": "={{ $json.emailSubject }}",
        "message": "={{ $json.emailBody }}",
        "options": {
          "ccList": "={{ $('User Config (Master Profile)').item.json.userEmail }}",
          "attachmentsUi": {
            "attachmentsBinary": [],
            "attachmentsFixedCollection": {
              "values": [
                {
                  "fileName": "={{ $('User Config (Master Profile)').item.json.name.replace(/\\s/g, '_') }}_Resume.pdf",
                  "url": "={{ (() => { const url = $('User Config (Master Profile)').item.json.resumeUrl || ''; if (url.includes('drive.google.com/file/d/')) { const match = url.match(/\\/d\\/([^\\/]+)/); if (match) return 'https://drive.google.com/uc?export=download&id=' + match[1]; } return url; })() }}"
                }
              ]
            }
          }
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_ACCOUNT_4_CREDENTIAL_ID",
          "name": "Gmail Account 4 (ravitejav0801@gmail.com)"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "skip-send-exhausted",
      "name": "Skip Send - All 4 Accounts Exhausted",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        2100
      ],
      "parameters": {
        "jsCode": "// Log warning when all 4 accounts exhausted\nconst state = $('Check Email Account Status').item.json;\n\nconsole.warn('WARNING: All 4 email accounts exhausted. Skipping email send.');\nconsole.warn(`Account 1: ${state.account1.dailyCount} sent, ${state.account1.errors} errors`);\nconsole.warn(`Account 2: ${state.account2.dailyCount} sent, ${state.account2.errors} errors`);\nconsole.warn(`Account 3: ${state.account3.dailyCount} sent, ${state.account3.errors} errors`);\nconsole.warn(`Account 4: ${state.account4.dailyCount} sent, ${state.account4.errors} errors`);\n\nreturn [{\n  json: {\n    ...items[0].json,\n    sendStatus: 'skipped',\n    skipReason: 'All 4 accounts exhausted',\n    account1Count: state.account1.dailyCount,\n    account2Count: state.account2.dailyCount,\n    account3Count: state.account3.dailyCount,\n    account4Count: state.account4.dailyCount\n  }\n}];"
      }
    },
    {
      "id": "email-send-result-handler",
      "name": "Email Send Result Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        1900
      ],
      "parameters": {
        "jsCode": "// Handle email send result - Uses centralized state\nconst item = items[0].json;\nconst staticData = this.getWorkflowStaticData('global');\nconst state = staticData.multiAccountState.gmail;\nconst config = $('User Config (Master Profile)').item.json;\n\nconst sendStatus = item.sendStatus === 'skipped' ? 'skipped' : item.error ? 'error' : 'success';\nconst accountUsed = $('Check Email Account Status').item.json.accountToUse;\n\n// Update state based on result\nif (sendStatus === 'success') {\n  if (state[accountUsed]) {\n    state[accountUsed].dailyCount++;\n    state[accountUsed].errors = 0;\n  }\n} else if (sendStatus === 'error') {\n  if (state[accountUsed]) {\n    state[accountUsed].errors++;\n  }\n}\n\nreturn [{\n  json: {\n    ...item,\n    sendStatus,\n    accountUsed,\n    shouldNotify: $('Check Email Account Status').item.json.shouldSwitch,\n    account1DailyCount: state.account1.dailyCount,\n    account2DailyCount: state.account2.dailyCount,\n    account3DailyCount: state.account3.dailyCount,\n    account4DailyCount: state.account4.dailyCount,\n    account1Errors: state.account1.errors,\n    account2Errors: state.account2.errors,\n    account3Errors: state.account3.errors,\n    account4Errors: state.account4.errors,\n    currentActive: state.currentActive,\n    switchReason: $('Check Email Account Status').item.json.switchReason\n  }\n}];"
      }
    },
    {
      "id": "update-email-state",
      "name": "Update Email State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        1900
      ],
      "parameters": {
        "jsCode": "// Persist updated email state - 4-way rotation\nconst staticData = this.getWorkflowStaticData('global');\nconst state = staticData.emailAccountState;\n\n// State is already updated in Email Send Result Handler\n// Just pass through for logging or potential Sheet append\n\nreturn [{\n  json: {\n    ...items[0].json,\n    stateUpdated: true,\n    timestamp: new Date().toISOString(),\n    currentState: {\n      account1Count: state.account1.dailyCount,\n      account2Count: state.account2.dailyCount,\n      account3Count: state.account3.dailyCount,\n      account4Count: state.account4.dailyCount,\n      activeAccount: state.currentActive,\n      account1Errors: state.account1.errors,\n      account2Errors: state.account2.errors,\n      account3Errors: state.account3.errors,\n      account4Errors: state.account4.errors\n    }\n  }\n}];"
      }
    },
    {
      "id": "email-switch-notification",
      "name": "Email Account Switch Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1780,
        1900
      ],
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=\u26a0\ufe0f **Email Account Switched**\n\n**Reason:** {{ $json.switchReason }}\n\n**Previous Account:** {{ $json.accountUsed === 'account1' ? 'Account 1 (raviintouch2@gmail.com)' : $json.accountUsed === 'account2' ? 'Account 2 (ravitejavallakatla7@gmail.com)' : $json.accountUsed === 'account3' ? 'Account 3 (ravitejav081@gmail.com)' : 'Account 4 (ravitejav0801@gmail.com)' }}\n**New Active Account:** {{ $json.currentActive === 'account1' ? 'Account 1 (raviintouch2@gmail.com)' : $json.currentActive === 'account2' ? 'Account 2 (ravitejavallakatla7@gmail.com)' : $json.currentActive === 'account3' ? 'Account 3 (ravitejav081@gmail.com)' : 'Account 4 (ravitejav0801@gmail.com)' }}\n\n**All Account Status:**\n\ud83d\udce7 Account 1: {{ $json.account1DailyCount }}/50 sent, {{ $json.account1Errors }} errors\n\ud83d\udce7 Account 2: {{ $json.account2DailyCount }}/50 sent, {{ $json.account2Errors }} errors\n\ud83d\udce7 Account 3: {{ $json.account3DailyCount }}/50 sent, {{ $json.account3Errors }} errors\n\ud83d\udce7 Account 4: {{ $json.account4DailyCount }}/50 sent, {{ $json.account4Errors }} errors\n\n**Total Capacity:** 200 emails/day (50 per account \u00d7 4)\n\n**Time:** {{ $json.timestamp }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "id": "check-should-notify",
      "name": "Should Send Notification?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1560,
        2000
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.shouldNotify }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "select-sheets-credential",
      "name": "Select Sheets Credential",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        360
      ],
      "parameters": {
        "jsCode": "// Select active Google Sheets credential based on account state\nconst staticData = this.getWorkflowStaticData('global');\nconst config = $('User Config (Master Profile)').item.json;\n\n// Initialize if not exists\nif (!staticData.sheetsAccountState) {\n  staticData.sheetsAccountState = {\n    account1: { email: 'raviintouch2@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n    account2: { email: 'ravitejavallakatla7@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n    account3: { email: 'ravitejav081@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n    account4: { email: 'ravitejav0801@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n    currentActive: 'account1',\n    lastResetDate: null\n  };\n}\n\nconst state = staticData.sheetsAccountState;\nconst maxWrites = config.maxSheetsWritesPerAccount || 300;\n\n// Find first available account\nconst accounts = ['account1', 'account2', 'account3', 'account4'];\nlet accountToUse = state.currentActive;\n\nfor (const acc of accounts) {\n  if (state[acc].dailyWrites < maxWrites && !state[acc].lastError) {\n    accountToUse = acc;\n    break;\n  }\n}\n\n// Map to credential IDs\nconst credentialMap = {\n  account1: config.sheetsAccount1CredentialId,\n  account2: config.sheetsAccount2CredentialId,\n  account3: config.sheetsAccount3CredentialId,\n  account4: config.sheetsAccount4CredentialId\n};\n\nreturn [{\n  json: {\n    ...items[0].json,\n    sheetsAccountToUse: accountToUse,\n    sheetsCredentialId: credentialMap[accountToUse],\n    sheetsAccountEmail: state[accountToUse].email\n  }\n}];"
      }
    },
    {
      "id": "sheets-error-handler",
      "name": "Sheets Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        500
      ],
      "parameters": {
        "jsCode": "// Handle Google Sheets API errors and trigger account switch\n// (Centralised state version - reads multiAccountState.sheets)\nconst staticData = this.getWorkflowStaticData('global');\nconst item = items[0].json;\n\n// Pass through if state not initialised yet\nif (!staticData.multiAccountState || !staticData.multiAccountState.sheets) {\n  return [{ json: { ...item, errorHandled: false, reason: 'state not initialised' } }];\n}\n\nconst state = staticData.multiAccountState.sheets;\nlet switched = false;\nlet switchReason = '';\n\nif (item.error) {\n  const errorCode = item.error.httpCode || item.error.code;\n  const errorMessage = item.error.message || '';\n\n  // Detect quota / rate-limit errors\n  if (errorCode === 429 || errorCode === 403 ||\n      errorMessage.includes('quota') || errorMessage.includes('rate limit')) {\n    const currentAccount = state.currentActive;\n    state[currentAccount].lastError = { code: errorCode, message: errorMessage, time: new Date().toISOString() };\n\n    // Find next viable account\n    const accounts = ['account1', 'account2', 'account3', 'account4'];\n    const currentIndex = accounts.indexOf(currentAccount);\n    const config = $('User Config (Master Profile)').item.json;\n    const maxWrites = config.maxSheetsWritesPerAccount || 300;\n\n    for (let i = 1; i <= 4; i++) {\n      const next = accounts[(currentIndex + i) % 4];\n      if (state[next].dailyWrites < maxWrites && !state[next].lastError) {\n        state.currentActive = next;\n        switched = true;\n        switchReason = `Error ${errorCode}: ${errorMessage}`;\n        console.log(`Sheets account switched from ${currentAccount} to ${next} due to error`);\n        break;\n      }\n    }\n  }\n}\n\nreturn [{\n  json: {\n    ...item,\n    errorHandled: true,\n    sheetsAccountSwitched: switched,\n    sheetsSwitchReason: switchReason,\n    sheetsAccount: state.currentActive,\n    sheetsNeedsSwitch: switched\n  }\n}];\n"
      }
    },
    {
      "id": "update-sheets-write-counter",
      "name": "Update Sheets Write Counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2680,
        500
      ],
      "parameters": {
        "jsCode": "// Update Sheets write counter - Uses centralized state\nconst staticData = this.getWorkflowStaticData('global');\nconst state = staticData.multiAccountState.sheets;\nconst config = $('User Config (Master Profile)').item.json;\nconst maxWrites = config.maxSheetsWritesPerAccount || 300;\n\nconst currentAccount = state.currentActive;\n\n// Increment write count\nstate[currentAccount].dailyWrites++;\n\nconsole.log(`Sheets write recorded: ${state[currentAccount].email} - ${state[currentAccount].dailyWrites}/${maxWrites}`);\n\n// Check if we need to switch accounts (reached daily limit)\nlet needsSwitch = false;\nlet switchReason = '';\n\nif (state[currentAccount].dailyWrites >= maxWrites) {\n  // Find next available account\n  const accounts = ['account1', 'account2', 'account3', 'account4'];\n  const currentIndex = accounts.indexOf(currentAccount);\n  \n  for (let i = 1; i <= 4; i++) {\n    const nextIndex = (currentIndex + i) % 4;\n    const nextAccount = accounts[nextIndex];\n    \n    if (state[nextAccount].dailyWrites < maxWrites && !state[nextAccount].lastError) {\n      state.currentActive = nextAccount;\n      needsSwitch = true;\n      switchReason = `Daily write limit reached (${state[currentAccount].dailyWrites}/${maxWrites})`;\n      console.log(`Sheets account switched from ${currentAccount} to ${nextAccount}`);\n      break;\n    }\n  }\n}\n\nreturn [{\n  json: {\n    ...items[0].json,\n    sheetsWriteRecorded: true,\n    sheetsAccount: currentAccount,\n    sheetsWriteCount: state[currentAccount].dailyWrites,\n    sheetsNeedsSwitch: needsSwitch,\n    sheetsSwitchReason: switchReason,\n    account1Writes: state.account1.dailyWrites,\n    account2Writes: state.account2.dailyWrites,\n    account3Writes: state.account3.dailyWrites,\n    account4Writes: state.account4.dailyWrites\n  }\n}];"
      }
    },
    {
      "id": "sheets-switch-notification",
      "name": "Sheets Account Switch Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2900,
        500
      ],
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=\ud83d\udcca **Google Sheets Account Switched**\\n\\n**Reason:** {{ $json.sheetsSwitchReason }}\\n\\n**Previous Account:** {{ $json.sheetsAccount === 'account1' ? 'Account 1 (raviintouch2@gmail.com)' : $json.sheetsAccount === 'account2' ? 'Account 2 (ravitejavallakatla7@gmail.com)' : $json.sheetsAccount === 'account3' ? 'Account 3 (ravitejav081@gmail.com)' : 'Account 4 (ravitejav0801@gmail.com)' }}\\n\\n**All Sheets Account Status:**\\n\ud83d\udcdd Account 1: {{ $json.account1Writes }}/300 writes\\n\ud83d\udcdd Account 2: {{ $json.account2Writes }}/300 writes\\n\ud83d\udcdd Account 3: {{ $json.account3Writes }}/300 writes\\n\ud83d\udcdd Account 4: {{ $json.account4Writes }}/300 writes\\n\\n**Total Daily Capacity:** 1200 writes/day (300 per account \u00d7 4)",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "id": "check-sheets-switch-needed",
      "name": "Check if Sheets Switch Notification Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2680,
        600
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.sheetsNeedsSwitch }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "groq-key-state",
      "name": "Groq API Key State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        100
      ],
      "parameters": {
        "jsCode": "// Groq API Key state - Now reads from centralized Multi-Account State Manager\nconst staticData = this.getWorkflowStaticData('global');\n\n// Ensure centralized state exists\nif (!staticData.multiAccountState || !staticData.multiAccountState.groq) {\n  if (!staticData.multiAccountState) {\n    staticData.multiAccountState = {\n      gmail: { account1: {}, account2: {}, account3: {}, account4: {}, currentActive: 'account1' },\n      sheets: { account1: {}, account2: {}, account3: {}, account4: {}, currentActive: 'account1' },\n      groq: {\n        key1: { name: 'groq1', dailyRequests: 0, credentialId: '', lastError: null },\n        key2: { name: 'groq2', dailyRequests: 0, credentialId: '', lastError: null },\n        key3: { name: 'groq3', dailyRequests: 0, credentialId: '', lastError: null },\n        key4: { name: 'groq4', dailyRequests: 0, credentialId: '', lastError: null },\n        currentActive: 'key1'\n      },\n      jobApis: {},\n      lastResetDate: null,\n      switchHistory: []\n    };\n  }\n}\n\n// Return Groq state from centralized manager\nreturn [{ json: staticData.multiAccountState.groq }];"
      }
    },
    {
      "id": "select-groq-credential",
      "name": "Select Groq Credential",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1950,
        360
      ],
      "parameters": {
        "jsCode": "// Select active Groq API key based on key state\nconst staticData = this.getWorkflowStaticData('global');\nconst config = $('User Config (Master Profile)').item.json;\n\n// Initialize if not exists\nif (!staticData.groqKeyState) {\n  staticData.groqKeyState = {\n    key1: { name: 'groq1', dailyRequests: 0, credentialId: '', lastError: null },\n    key2: { name: 'groq2', dailyRequests: 0, credentialId: '', lastError: null },\n    key3: { name: 'groq3', dailyRequests: 0, credentialId: '', lastError: null },\n    key4: { name: 'groq4', dailyRequests: 0, credentialId: '', lastError: null },\n    currentActive: 'key1',\n    lastResetDate: null\n  };\n}\n\nconst state = staticData.groqKeyState;\nconst maxRequests = config.maxGroqRequestsPerKey || 14400;\n\n// Find first available key\nconst keys = ['key1', 'key2', 'key3', 'key4'];\nlet keyToUse = state.currentActive;\n\nfor (const key of keys) {\n  const available = state[key].dailyRequests < maxRequests && !state[key].lastError;\n  if (available) {\n    keyToUse = key;\n    break;\n  }\n}\n\n// Map to credential IDs\nconst credentialMap = {\n  key1: config.groqKey1CredentialId,\n  key2: config.groqKey2CredentialId,\n  key3: config.groqKey3CredentialId,\n  key4: config.groqKey4CredentialId\n};\n\nreturn [{\n  json: {\n    ...items[0].json,\n    groqKeyToUse: keyToUse,\n    groqCredentialId: credentialMap[keyToUse],\n    groqKeyName: state[keyToUse].name\n  }\n}];"
      }
    },
    {
      "id": "groq-error-handler",
      "name": "Groq Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        100
      ],
      "parameters": {
        "jsCode": "// Handle Groq API errors and trigger key switch\n// (Centralised state version - reads multiAccountState.groq)\nconst staticData = this.getWorkflowStaticData('global');\nconst item = items[0].json;\n\nif (!staticData.multiAccountState || !staticData.multiAccountState.groq) {\n  return [{ json: { ...item, errorHandled: false, reason: 'state not initialised' } }];\n}\n\nconst state = staticData.multiAccountState.groq;\nlet switched = false;\nlet switchReason = '';\n\nif (item.error) {\n  const errorCode = item.error.httpCode || item.error.code;\n  const errorMessage = item.error.message || '';\n\n  if (errorCode === 429 ||\n      errorMessage.includes('rate limit') ||\n      errorMessage.includes('quota') ||\n      errorMessage.includes('exceeded')) {\n    const currentKey = state.currentActive;\n    state[currentKey].lastError = { code: errorCode, message: errorMessage, time: new Date().toISOString() };\n\n    const keys = ['key1', 'key2', 'key3', 'key4'];\n    const currentIndex = keys.indexOf(currentKey);\n    const config = $('User Config (Master Profile)').item.json;\n    const maxRequests = config.maxGroqRequestsPerKey || 14400;\n\n    for (let i = 1; i <= 4; i++) {\n      const next = keys[(currentIndex + i) % 4];\n      if (state[next].dailyRequests < maxRequests && !state[next].lastError) {\n        state.currentActive = next;\n        switched = true;\n        switchReason = `Error ${errorCode}: ${errorMessage}`;\n        console.log(`Groq key switched from ${currentKey} to ${next} due to error`);\n        break;\n      }\n    }\n  }\n}\n\nreturn [{\n  json: {\n    ...item,\n    errorHandled: true,\n    groqKeySwitched: switched,\n    groqSwitchReason: switchReason,\n    groqKey: state.currentActive,\n    groqNeedsSwitch: switched\n  }\n}];\n"
      }
    },
    {
      "id": "update-groq-counter",
      "name": "Update Groq Request Counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        360
      ],
      "parameters": {
        "jsCode": "// Update Groq request counter - Uses centralized state\nconst staticData = this.getWorkflowStaticData('global');\nconst state = staticData.multiAccountState.groq;\nconst config = $('User Config (Master Profile)').item.json;\nconst maxRequests = config.maxGroqRequestsPerKey || 14400;\n\nconst currentKey = state.currentActive;\n\n// Increment request count\nstate[currentKey].dailyRequests++;\n\nconsole.log(`Groq request recorded: ${state[currentKey].name} - ${state[currentKey].dailyRequests}/${maxRequests}`);\n\n// Check if we need to switch keys (reached daily limit)\nlet needsSwitch = false;\nlet switchReason = '';\n\nif (state[currentKey].dailyRequests >= maxRequests) {\n  // Find next available key\n  const keys = ['key1', 'key2', 'key3', 'key4'];\n  const currentIndex = keys.indexOf(currentKey);\n  \n  for (let i = 1; i <= 4; i++) {\n    const nextIndex = (currentIndex + i) % 4;\n    const nextKey = keys[nextIndex];\n    \n    if (state[nextKey].dailyRequests < maxRequests && !state[nextKey].lastError) {\n      state.currentActive = nextKey;\n      needsSwitch = true;\n      switchReason = `Daily limit reached (${state[currentKey].dailyRequests}/${maxRequests})`;\n      console.log(`Groq key switched from ${currentKey} to ${nextKey}`);\n      break;\n    }\n  }\n}\n\nreturn [{\n  json: {\n    ...items[0].json,\n    groqRequestRecorded: true,\n    groqKey: currentKey,\n    groqRequestCount: state[currentKey].dailyRequests,\n    groqNeedsSwitch: needsSwitch,\n    groqSwitchReason: switchReason,\n    key1Requests: state.key1.dailyRequests,\n    key2Requests: state.key2.dailyRequests,\n    key3Requests: state.key3.dailyRequests,\n    key4Requests: state.key4.dailyRequests\n  }\n}];"
      }
    },
    {
      "id": "groq-switch-notification",
      "name": "Groq Key Switch Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2640,
        100
      ],
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=\ud83d\udd11 **Groq API Key Switched**\\n\\n**Reason:** {{ $json.groqSwitchReason }}\\n\\n**Previous Key:** Key {{ $json.groqKey.replace('key', '') }} ({{ $json.groqKeyName }})\\n\\n**All Groq Key Status:**\\n\ud83e\udd16 Key 1 (groq1): {{ $json.key1Requests }}/14400 requests\\n\ud83e\udd16 Key 2 (groq2): {{ $json.key2Requests }}/14400 requests\\n\ud83e\udd16 Key 3 (groq3): {{ $json.key3Requests }}/14400 requests\\n\ud83e\udd16 Key 4 (groq4): {{ $json.key4Requests }}/14400 requests\\n\\n**Total Daily Capacity:** 57,600 requests/day (14,400 per key \u00d7 4)\\n\\n**Estimated Daily Usage:** ~71 requests/day (resume parsing + job scoring + email generation + Telegram queries)",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "id": "check-groq-switch-needed",
      "name": "Check if Groq Switch Notification Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2420,
        460
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.groqNeedsSwitch }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "job-api-state-manager",
      "name": "Job API State Manager",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        200
      ],
      "parameters": {
        "jsCode": "// Job API State Manager - Now reads from centralized Multi-Account State Manager\nconst staticData = this.getWorkflowStaticData('global');\n\n// Ensure centralized state exists\nif (!staticData.multiAccountState || !staticData.multiAccountState.jobApis) {\n  if (!staticData.multiAccountState) {\n    staticData.multiAccountState = {\n      gmail: { account1: {}, account2: {}, account3: {}, account4: {}, currentActive: 'account1' },\n      sheets: { account1: {}, account2: {}, account3: {}, account4: {}, currentActive: 'account1' },\n      groq: { key1: {}, key2: {}, key3: {}, key4: {}, currentActive: 'key1' },\n      jobApis: {\n        remotive: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n        arbeitnow: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n        adzuna: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n        jsearch: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n        themuse: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n        usajobs: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n        githubjobs: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 }\n      },\n      lastResetDate: null,\n      switchHistory: []\n    };\n  }\n}\n\n// Return Job API state from centralized manager\nreturn [{ json: staticData.multiAccountState.jobApis }];"
      }
    },
    {
      "id": "fetch-jsearch",
      "name": "Fetch JSearch API (RapidAPI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        480
      ],
      "parameters": {
        "url": "https://jsearch.p.rapidapi.com/search",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('User Config (Master Profile)').item.json.rapidapiKey }}"
            },
            {
              "name": "x-rapidapi-host",
              "value": "jsearch.p.rapidapi.com"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $('User Config (Master Profile)').item.json.keywords }}"
            },
            {
              "name": "num_pages",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "parse-jsearch",
      "name": "Parse JSearch Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        480
      ],
      "parameters": {
        "jsCode": "// Parse JSearch API response\nconst response = items[0].json;\nconst jobs = response.data || [];\n\nreturn jobs.map(job => ({\n  json: {\n    source: 'JSearch',\n    jobTitle: job.job_title || 'Unknown',\n    company: job.employer_name || 'Unknown',\n    location: job.job_city && job.job_country ? `${job.job_city}, ${job.job_country}` : 'Remote',\n    jobType: job.job_employment_type || 'Full-time',\n    workMode: job.job_is_remote ? 'Remote' : 'Onsite',\n    salary: job.job_salary || 'Not disclosed',\n    applyUrl: job.job_apply_link || '',\n    description: (job.job_description || '').substring(0, 500),\n    tags: [],\n    postedDate: job.job_posted_at_datetime_utc ? new Date(job.job_posted_at_datetime_utc).toISOString().split('T')[0] : new Date().toISOString().split('T')[0],\n    category: '',\n    jobId: `jsearch-${job.job_id || Date.now()}`,\n    fetchedDate: new Date().toISOString().split('T')[0],\n    recruiterEmail: '',\n    recruiterName: ''\n  }\n}));"
      },
      "continueOnFail": true
    },
    {
      "id": "fetch-themuse",
      "name": "Fetch The Muse API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        600
      ],
      "parameters": {
        "url": "https://www.themuse.com/api/public/jobs",
        "method": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "category",
              "value": "={{ $('User Config (Master Profile)').item.json.keywords }}"
            },
            {
              "name": "location",
              "value": "={{ $('User Config (Master Profile)').item.json.location }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "parse-themuse",
      "name": "Parse The Muse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        600
      ],
      "parameters": {
        "jsCode": "// Parse The Muse API response\nconst response = items[0].json;\nconst jobs = response.results || [];\n\nreturn jobs.map(job => ({\n  json: {\n    source: 'The Muse',\n    jobTitle: job.name || 'Unknown',\n    company: job.company?.name || 'Unknown',\n    location: job.locations?.[0]?.name || 'Remote',\n    jobType: job.type || 'Full-time',\n    workMode: 'Remote',\n    salary: 'Not disclosed',\n    applyUrl: job.refs?.landing_page || '',\n    description: (job.contents || '').substring(0, 500),\n    tags: job.categories || [],\n    postedDate: job.publication_date ? new Date(job.publication_date).toISOString().split('T')[0] : new Date().toISOString().split('T')[0],\n    category: job.categories?.[0] || '',\n    jobId: `themuse-${job.id || Date.now()}`,\n    fetchedDate: new Date().toISOString().split('T')[0],\n    recruiterEmail: '',\n    recruiterName: ''\n  }\n}));"
      },
      "continueOnFail": true
    },
    {
      "id": "update-api-health",
      "name": "Update API Health Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        200
      ],
      "parameters": {
        "jsCode": "// Update API Health Status - Track successes and failures\nconst staticData = this.getWorkflowStaticData('global');\nconst apiState = staticData.jobApiState || {};\n\n// Get results from all API parsers\nconst apiResults = {\n  remotive: $('Parse Remotive Response').all(),\n  arbeitnow: $('Parse Arbeitnow Response').all(),\n  jsearch: $('Parse JSearch Response').all(),\n  themuse: $('Parse The Muse Response').all(),\n  usajobs: $('Parse USAJobs Response').all(),\n  githubjobs: $('Parse GitHub Jobs Response').all()\n};\n\nconst now = new Date().toISOString();\nconst unhealthyApis = [];\n\n// Update status for each API\nfor (const [apiName, results] of Object.entries(apiResults)) {\n  if (!apiState[apiName]) {\n    apiState[apiName] = { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 };\n  }\n  \n  const state = apiState[apiName];\n  \n  // Check if API returned results\n  if (results && results.length > 0 && !results[0].json.error) {\n    // Success - reset failures\n    state.consecutiveFailures = 0;\n    state.lastSuccess = now;\n    state.status = 'healthy';\n  } else {\n    // Failure - increment counter\n    state.consecutiveFailures++;\n    \n    // Mark unhealthy if 5+ consecutive failures\n    if (state.consecutiveFailures >= 5 && state.status !== 'unhealthy') {\n      state.status = 'unhealthy';\n      unhealthyApis.push({\n        name: apiName,\n        failures: state.consecutiveFailures,\n        lastSuccess: state.lastSuccess\n      });\n    }\n  }\n}\n\n// Save updated state\nstaticData.jobApiState = apiState;\n\nreturn [{\n  json: {\n    apiState,\n    unhealthyApis,\n    timestamp: now,\n    healthySummary: Object.entries(apiState).filter(([_, s]) => s.status === 'healthy').map(([name]) => name).join(', '),\n    unhealthySummary: Object.entries(apiState).filter(([_, s]) => s.status === 'unhealthy').map(([name]) => name).join(', ')\n  }\n}];"
      }
    },
    {
      "id": "multi-account-state-manager",
      "name": "Multi-Account State Manager",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        100
      ],
      "parameters": {
        "jsCode": "// Centralized Multi-Account State Manager - Single source of truth\nconst staticData = this.getWorkflowStaticData('global');\n\nif (!staticData.multiAccountState) {\n  staticData.multiAccountState = {\n    gmail: {\n      account1: { email: 'raviintouch2@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      account2: { email: 'ravitejavallakatla7@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      account3: { email: 'ravitejav081@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      account4: { email: 'ravitejav0801@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      currentActive: 'account1'\n    },\n    sheets: {\n      account1: { email: 'raviintouch2@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n      account2: { email: 'ravitejavallakatla7@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n      account3: { email: 'ravitejav081@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n      account4: { email: 'ravitejav0801@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n      currentActive: 'account1'\n    },\n    groq: {\n      key1: { name: 'groq1', dailyRequests: 0, credentialId: '', lastError: null },\n      key2: { name: 'groq2', dailyRequests: 0, credentialId: '', lastError: null },\n      key3: { name: 'groq3', dailyRequests: 0, credentialId: '', lastError: null },\n      key4: { name: 'groq4', dailyRequests: 0, credentialId: '', lastError: null },\n      currentActive: 'key1'\n    },\n    jobApis: {\n      remotive: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n      arbeitnow: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n      adzuna: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n      jsearch: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n      themuse: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n      usajobs: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n      githubjobs: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 }\n    },\n    lastResetDate: null,\n    switchHistory: []\n  };\n}\n\nreturn [{ json: staticData.multiAccountState }];"
      }
    },
    {
      "id": "daily-reset-handler",
      "name": "Daily Reset Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        50
      ],
      "parameters": {
        "jsCode": "// Daily Reset Handler - Midnight UTC reset for all accounts\nconst staticData = this.getWorkflowStaticData('global');\nconst today = new Date().toISOString().split('T')[0];\n\nif (!staticData.multiAccountState) {\n  // Self-initialise state on first run (e.g. when triggered standalone by midnight reset)\n  staticData.multiAccountState = {\n    gmail: {\n      account1: { email: 'raviintouch2@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      account2: { email: 'ravitejavallakatla7@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      account3: { email: 'ravitejav081@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      account4: { email: 'ravitejav0801@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      currentActive: 'account1'\n    },\n    sheets: {\n      account1: { email: 'raviintouch2@gmail.com', dailyWrites: 0, errors: 0, credentialId: '', lastError: null },\n      account2: { email: 'ravitejavallakatla7@gmail.com', dailyWrites: 0, errors: 0, credentialId: '', lastError: null },\n      account3: { email: 'ravitejav081@gmail.com', dailyWrites: 0, errors: 0, credentialId: '', lastError: null },\n      account4: { email: 'ravitejav0801@gmail.com', dailyWrites: 0, errors: 0, credentialId: '', lastError: null },\n      currentActive: 'account1'\n    },\n    groq: {\n      key1: { name: 'groq1', dailyRequests: 0, credentialId: '', lastError: null },\n      key2: { name: 'groq2', dailyRequests: 0, credentialId: '', lastError: null },\n      key3: { name: 'groq3', dailyRequests: 0, credentialId: '', lastError: null },\n      key4: { name: 'groq4', dailyRequests: 0, credentialId: '', lastError: null },\n      currentActive: 'key1'\n    },\n    lastResetDate: null,\n    rotationHistory: []\n  };\n}\n\nconst state = staticData.multiAccountState;\n\n// Check if reset needed\nif (state.lastResetDate !== today) {\n  // Reset Gmail accounts\n  state.gmail.account1.dailyCount = 0;\n  state.gmail.account1.errors = 0;\n  state.gmail.account2.dailyCount = 0;\n  state.gmail.account2.errors = 0;\n  state.gmail.account3.dailyCount = 0;\n  state.gmail.account3.errors = 0;\n  state.gmail.account4.dailyCount = 0;\n  state.gmail.account4.errors = 0;\n  state.gmail.currentActive = 'account1';\n  \n  // Reset Google Sheets accounts\n  state.sheets.account1.dailyWrites = 0;\n  state.sheets.account2.dailyWrites = 0;\n  state.sheets.account3.dailyWrites = 0;\n  state.sheets.account4.dailyWrites = 0;\n  state.sheets.currentActive = 'account1';\n  \n  // Reset Groq API keys\n  state.groq.key1.dailyRequests = 0;\n  state.groq.key2.dailyRequests = 0;\n  state.groq.key3.dailyRequests = 0;\n  state.groq.key4.dailyRequests = 0;\n  state.groq.currentActive = 'key1';\n  \n  // Update last reset date\n  state.lastResetDate = today;\n  \n  console.log(`\u2705 Daily reset performed at midnight UTC for ${today}`);\n  console.log(`   Gmail: All 4 accounts reset to 0 emails, 0 errors`);\n  console.log(`   Sheets: All 4 accounts reset to 0 writes`);\n  console.log(`   Groq: All 4 keys reset to 0 requests`);\n  \n  return [{\n    json: {\n      resetPerformed: true,\n      date: today,\n      timestamp: new Date().toISOString(),\n      message: 'All account counters reset to 0 at midnight UTC'\n    }\n  }];\n} else {\n  return [{\n    json: {\n      resetPerformed: false,\n      date: today,\n      message: 'Reset already performed today',\n      lastResetDate: state.lastResetDate\n    }\n  }];\n}"
      }
    },
    {
      "id": "trigger-4-daily-reset",
      "name": "Schedule Trigger: Daily Reset (Midnight UTC)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        50
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "get-full-state-report",
      "name": "Get Full State Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        3500
      ],
      "parameters": {
        "jsCode": "// Get Full State Report for /status command\nconst staticData = this.getWorkflowStaticData('global');\nconst config = $('User Config (Master Profile)').item.json;\n\nif (!staticData.multiAccountState) {\n  return [{ json: { report: '\u274c Multi-Account State not initialized' } }];\n}\n\nconst state = staticData.multiAccountState;\n\n// Gmail Accounts Report\nconst gmailReport = `**Gmail Accounts (200 emails/day capacity)**\n\ud83d\udce7 Account 1 (raviintouch2@gmail.com): ${state.gmail.account1.dailyCount}/50 used, ${state.gmail.account1.errors} errors, Status: ${state.gmail.currentActive === 'account1' ? '\u2705 Active' : 'Ready'}\n\ud83d\udce7 Account 2 (ravitejavallakatla7@gmail.com): ${state.gmail.account2.dailyCount}/50 used, ${state.gmail.account2.errors} errors, Status: ${state.gmail.currentActive === 'account2' ? '\u2705 Active' : 'Ready'}\n\ud83d\udce7 Account 3 (ravitejav081@gmail.com): ${state.gmail.account3.dailyCount}/50 used, ${state.gmail.account3.errors} errors, Status: ${state.gmail.currentActive === 'account3' ? '\u2705 Active' : 'Ready'}\n\ud83d\udce7 Account 4 (ravitejav0801@gmail.com): ${state.gmail.account4.dailyCount}/50 used, ${state.gmail.account4.errors} errors, Status: ${state.gmail.currentActive === 'account4' ? '\u2705 Active' : 'Ready'}\nTotal Used: ${state.gmail.account1.dailyCount + state.gmail.account2.dailyCount + state.gmail.account3.dailyCount + state.gmail.account4.dailyCount}/200`;\n\n// Google Sheets Report\nconst sheetsReport = `**Google Sheets (1200 writes/day capacity)**\n\ud83d\udcdd Account 1: ${state.sheets.account1.dailyWrites}/300 writes, Status: ${state.sheets.currentActive === 'account1' ? '\u2705 Active' : 'Ready'}\n\ud83d\udcdd Account 2: ${state.sheets.account2.dailyWrites}/300 writes, Status: ${state.sheets.currentActive === 'account2' ? '\u2705 Active' : 'Ready'}\n\ud83d\udcdd Account 3: ${state.sheets.account3.dailyWrites}/300 writes, Status: ${state.sheets.currentActive === 'account3' ? '\u2705 Active' : 'Ready'}\n\ud83d\udcdd Account 4: ${state.sheets.account4.dailyWrites}/300 writes, Status: ${state.sheets.currentActive === 'account4' ? '\u2705 Active' : 'Ready'}\nTotal Used: ${state.sheets.account1.dailyWrites + state.sheets.account2.dailyWrites + state.sheets.account3.dailyWrites + state.sheets.account4.dailyWrites}/1200`;\n\n// Groq API Keys Report\nconst groqReport = `**Groq API Keys (57,600 requests/day capacity)**\n\ud83e\udd16 Key 1 (groq1): ${state.groq.key1.dailyRequests}/14400 requests, Status: ${state.groq.currentActive === 'key1' ? '\u2705 Active' : 'Ready'}\n\ud83e\udd16 Key 2 (groq2): ${state.groq.key2.dailyRequests}/14400 requests, Status: ${state.groq.currentActive === 'key2' ? '\u2705 Active' : 'Ready'}\n\ud83e\udd16 Key 3 (groq3): ${state.groq.key3.dailyRequests}/14400 requests, Status: ${state.groq.currentActive === 'key3' ? '\u2705 Active' : 'Ready'}\n\ud83e\udd16 Key 4 (groq4): ${state.groq.key4.dailyRequests}/14400 requests, Status: ${state.groq.currentActive === 'key4' ? '\u2705 Active' : 'Ready'}\nTotal Used: ${state.groq.key1.dailyRequests + state.groq.key2.dailyRequests + state.groq.key3.dailyRequests + state.groq.key4.dailyRequests}/57600`;\n\n// Job APIs Report\nconst jobApisReport = `**Job APIs (7 sources)**\n${Object.entries(state.jobApis).map(([api, apiState]) => {\n  const statusIcon = apiState.status === 'healthy' ? '\u2705' : apiState.status === 'degraded' ? '\u26a0\ufe0f' : '\u274c';\n  const lastSuccess = apiState.lastSuccess ? new Date(apiState.lastSuccess).toLocaleString() : 'Never';\n  return `${statusIcon} ${api.charAt(0).toUpperCase() + api.slice(1)}: ${apiState.status} (${apiState.consecutiveFailures} failures, last success: ${lastSuccess})`;\n}).join('\\n')}`;\n\n// Last Reset Info\nconst lastReset = state.lastResetDate ? `${state.lastResetDate} 00:00 UTC` : 'Never';\n\n// Full Report\nconst fullReport = `\ud83d\udd04 **Multi-Account System Status**\n\n${gmailReport}\n\n${sheetsReport}\n\n${groqReport}\n\n${jobApisReport}\n\n**Last Reset:** ${lastReset}\n\n**Recent Switches:** ${state.switchHistory.length > 0 ? state.switchHistory.slice(-3).reverse().map(s => `${s.service} (${s.reason})`).join(', ') : 'None'}`;\n\nreturn [{\n  json: {\n    report: fullReport,\n    timestamp: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "account-switch-logger",
      "name": "Account Switch Logger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        100
      ],
      "parameters": {
        "jsCode": "// Account Switch Logger - Audit trail for all account switches\nconst staticData = this.getWorkflowStaticData('global');\nconst item = items[0].json;\n\nif (!staticData.multiAccountState) {\n  return [{ json: { ...item, logged: false, error: 'multiAccountState not initialized' } }];\n}\n\nconst state = staticData.multiAccountState;\n\n// Extract switch information from item\nconst service = item.service || 'unknown'; // 'gmail', 'sheets', 'groq'\nconst fromAccount = item.fromAccount || 'unknown';\nconst toAccount = item.toAccount || state[service]?.currentActive || 'unknown';\nconst reason = item.reason || 'unknown'; // 'limit', 'errors', 'quota', 'reset'\nconst details = item.details || item.switchReason || '';\n\n// Create switch history entry\nconst switchEntry = {\n  timestamp: new Date().toISOString(),\n  service: service,\n  fromAccount: fromAccount,\n  toAccount: toAccount,\n  reason: reason,\n  details: details\n};\n\n// Initialize switchHistory if not exists\nif (!state.switchHistory) {\n  state.switchHistory = [];\n}\n\n// Add to history (keep last 100)\nstate.switchHistory.push(switchEntry);\nif (state.switchHistory.length > 100) {\n  state.switchHistory = state.switchHistory.slice(-100);\n}\n\nconsole.log(`\u2705 Account switch logged: ${service} from ${fromAccount} to ${toAccount} (${reason})`);\n\nreturn [{\n  json: {\n    ...item,\n    logged: true,\n    switchEntry: switchEntry,\n    totalSwitches: state.switchHistory.length\n  }\n}];"
      }
    },
    {
      "id": "check-needs-state-report",
      "name": "Needs State Report?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        3450
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.needsStateReport }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "send-telegram-reply-status",
      "name": "Send Telegram Reply (status)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1560,
        3500
      ],
      "parameters": {
        "chatId": "={{ $('Extract Telegram Message').item.json.chatId }}",
        "text": "={{ $('Get Full State Report').item.json.report }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "id": "log-email-switch",
      "name": "Log Email Switch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        1900
      ],
      "parameters": {
        "jsCode": "// Prepare data for Account Switch Logger\nconst item = items[0].json;\n\nreturn [{\n  json: {\n    ...item,\n    service: 'gmail',\n    fromAccount: item.accountUsed || 'unknown',\n    toAccount: item.currentActive || 'unknown',\n    reason: item.switchReason?.includes('limit') ? 'limit' : \n            item.switchReason?.includes('error') ? 'errors' : 'unknown',\n    details: item.switchReason || ''\n  }\n}];"
      }
    },
    {
      "id": "log-sheets-switch",
      "name": "Log Sheets Switch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        500
      ],
      "parameters": {
        "jsCode": "// Prepare data for Account Switch Logger\nconst item = items[0].json;\n\nreturn [{\n  json: {\n    ...item,\n    service: 'sheets',\n    fromAccount: item.sheetsAccount || 'unknown',\n    toAccount: 'unknown', // Will be determined by current state\n    reason: item.sheetsSwitchReason?.includes('limit') ? 'limit' : \n            item.sheetsSwitchReason?.includes('quota') ? 'quota' : 'unknown',\n    details: item.sheetsSwitchReason || ''\n  }\n}];"
      }
    },
    {
      "id": "log-groq-switch",
      "name": "Log Groq Switch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2540,
        100
      ],
      "parameters": {
        "jsCode": "// Prepare data for Account Switch Logger\nconst item = items[0].json;\n\nreturn [{\n  json: {\n    ...item,\n    service: 'groq',\n    fromAccount: item.groqKey || 'unknown',\n    toAccount: 'unknown', // Will be determined by current state\n    reason: item.groqSwitchReason?.includes('limit') ? 'limit' : \n            item.groqSwitchReason?.includes('rate limit') ? 'quota' : 'unknown',\n    details: item.groqSwitchReason || ''\n  }\n}];"
      }
    },
    {
      "id": "switch-notification-router",
      "name": "Route to Appropriate Notification",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        3000,
        100
      ],
      "parameters": {
        "rules": {
          "rules": [
            {
              "type": "expression",
              "value": "={{ $json.service === 'gmail' }}",
              "output": 0
            },
            {
              "type": "expression",
              "value": "={{ $json.service === 'sheets' }}",
              "output": 1
            },
            {
              "type": "expression",
              "value": "={{ $json.service === 'groq' }}",
              "output": 2
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger: Job Discovery (8 AM)": {
      "main": [
        [
          {
            "node": "User Config (Master Profile)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Config (Master Profile)": {
      "main": [
        [
          {
            "node": "Fetch Remotive API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Arbeitnow API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Resume",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch JSearch API (RapidAPI)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch The Muse API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Job API State Manager",
            "type": "main",
            "index": 0
          },
          {
            "node": "Multi-Account State Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Remotive API": {
      "main": [
        [
          {
            "node": "Parse Remotive Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Arbeitnow API": {
      "main": [
        [
          {
            "node": "Parse Arbeitnow Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Remotive Response": {
      "main": [
        [
          {
            "node": "Merge All API Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Arbeitnow Response": {
      "main": [
        [
          {
            "node": "Merge All API Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All API Results": {
      "main": [
        [
          {
            "node": "Deduplicate Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update API Health Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate Jobs": {
      "main": [
        [
          {
            "node": "Read Existing Jobs from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing Jobs from Sheet": {
      "main": [
        [
          {
            "node": "Filter Out Already-Fetched Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Out Already-Fetched Jobs": {
      "main": [
        [
          {
            "node": "Groq AI: Score Job Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI: Score Job Match": {
      "main": [
        [
          {
            "node": "Parse AI Score",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Groq Request Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Score": {
      "main": [
        [
          {
            "node": "Resume Match Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Google Sheets: Jobs Tab": {
      "main": [
        [
          {
            "node": "Aggregate Job Discovery Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Sheets Write Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Job Discovery Summary": {
      "main": [
        [
          {
            "node": "Send Telegram: Job Discovery Digest",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Gmail: Job Discovery Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger: Email Outreach (9 AM)": {
      "main": [
        [
          {
            "node": "Daily Reset Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Jobs from Sheet for Outreach": {
      "main": [
        [
          {
            "node": "Filter: Status=New AND Has Recruiter Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Status=New AND Has Recruiter Email": {
      "main": [
        [
          {
            "node": "Limit to Daily Max (10 emails)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Limit to Daily Max (10 emails)": {
      "main": [
        [
          {
            "node": "Groq AI: Generate Personalized Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI: Generate Personalized Email": {
      "main": [
        [
          {
            "node": "Parse & Format Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Groq Request Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Format Email": {
      "main": [
        [
          {
            "node": "Check Email Account Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Metadata (Status & Application ID)": {
      "main": [
        [
          {
            "node": "Update Sheet: Mark Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet: Mark Email Sent": {
      "main": [
        [
          {
            "node": "Rate Limit Delay (3 seconds)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Sheets Write Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Delay (3 seconds)": {
      "main": [
        [
          {
            "node": "Aggregate Outreach Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Outreach Summary": {
      "main": [
        [
          {
            "node": "Send Gmail: Outreach Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger: Interactive Assistant": {
      "main": [
        [
          {
            "node": "Extract Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Telegram Message": {
      "main": [
        [
          {
            "node": "Handle Quick Commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Quick Commands": {
      "main": [
        [
          {
            "node": "Needs State Report?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Quick Command?": {
      "main": [
        [
          {
            "node": "Send Quick Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Dynamic System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dynamic System Prompt": {
      "main": [
        [
          {
            "node": "Groq Agent (Llama 3.3 70B)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Agent (Llama 3.3 70B)": {
      "main": [
        [
          {
            "node": "Parse Response & Detect Intents",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Groq Request Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response & Detect Intents": {
      "main": [
        [
          {
            "node": "Needs Sheet Query?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Sheet Query?": {
      "main": [
        [
          {
            "node": "Query Google Sheet for Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Telegram Reply (simple)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Google Sheet for Stats": {
      "main": [
        [
          {
            "node": "Aggregate Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Stats": {
      "main": [
        [
          {
            "node": "Send Telegram Reply (with stats)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Resume": {
      "main": [
        [
          {
            "node": "Check Resume Download Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Resume Download Success": {
      "main": [
        [
          {
            "node": "Parse Resume with Groq AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback: User Config Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Resume with Groq AI": {
      "main": [
        [
          {
            "node": "Structure Resume Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Groq Request Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Resume Data": {
      "main": [
        [
          {
            "node": "Merge User Config with Resume Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback: User Config Only": {
      "main": [
        [
          {
            "node": "Merge User Config with Resume Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Match Analysis": {
      "main": [
        [
          {
            "node": "Filter by Score Threshold (\u226560)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Reset Check": {
      "main": [
        [
          {
            "node": "Email Account State",
            "type": "main",
            "index": 0
          },
          {
            "node": "Multi-Account State Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Account State": {
      "main": [
        [
          {
            "node": "Read Jobs from Sheet for Outreach",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets Account State",
            "type": "main",
            "index": 0
          },
          {
            "node": "Groq API Key State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email Account Status": {
      "main": [
        [
          {
            "node": "Select Gmail Credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Gmail Credential": {
      "main": [
        [
          {
            "node": "Send Email via Gmail Account 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email via Gmail Account 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email via Gmail Account 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email via Gmail Account 4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Send - All 4 Accounts Exhausted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via Gmail Account 1": {
      "main": [
        [
          {
            "node": "Email Send Result Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via Gmail Account 2": {
      "main": [
        [
          {
            "node": "Email Send Result Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via Gmail Account 3": {
      "main": [
        [
          {
            "node": "Email Send Result Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via Gmail Account 4": {
      "main": [
        [
          {
            "node": "Email Send Result Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Send - All 4 Accounts Exhausted": {
      "main": [
        [
          {
            "node": "Email Send Result Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Send Result Handler": {
      "main": [
        [
          {
            "node": "Update Email State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Email State": {
      "main": [
        [
          {
            "node": "Update Metadata (Status & Application ID)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Should Send Notification?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Notification?": {
      "main": [
        [
          {
            "node": "Log Email Switch",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch JSearch API (RapidAPI)": {
      "main": [
        [
          {
            "node": "Parse JSearch Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch The Muse API": {
      "main": [
        [
          {
            "node": "Parse The Muse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSearch Response": {
      "main": [
        [
          {
            "node": "Merge All API Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Parse The Muse Response": {
      "main": [
        [
          {
            "node": "Merge All API Results",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Update API Health Status": {
      "main": [
        [
          {
            "node": "Aggregate Job Discovery Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger: Daily Reset (Midnight UTC)": {
      "main": [
        [
          {
            "node": "Daily Reset Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs State Report?": {
      "main": [
        [
          {
            "node": "Get Full State Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Quick Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full State Report": {
      "main": [
        [
          {
            "node": "Send Telegram Reply (status)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Email Switch": {
      "main": [
        [
          {
            "node": "Account Switch Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Account Switch Logger": {
      "main": [
        [
          {
            "node": "Route to Appropriate Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Sheets Switch": {
      "main": [
        [
          {
            "node": "Account Switch Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Groq Switch": {
      "main": [
        [
          {
            "node": "Account Switch Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Appropriate Notification": {
      "main": [
        [
          {
            "node": "Email Account Switch Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets Account Switch Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Groq Key Switch Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Multi-Account State Manager": {
      "main": [
        [
          {
            "node": "Google Sheets Account State",
            "type": "main",
            "index": 0
          },
          {
            "node": "Groq API Key State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Account State": {
      "main": [
        [
          {
            "node": "Select Sheets Credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq API Key State": {
      "main": [
        [
          {
            "node": "Select Groq Credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheets Write Counter": {
      "main": [
        [
          {
            "node": "Check if Sheets Switch Notification Needed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheets Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Sheets Switch Notification Needed": {
      "main": [
        [
          {
            "node": "Log Sheets Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Groq Request Counter": {
      "main": [
        [
          {
            "node": "Check if Groq Switch Notification Needed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Groq Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Groq Switch Notification Needed": {
      "main": [
        [
          {
            "node": "Log Groq Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets Error Handler": {
      "main": [
        [
          {
            "node": "Check if Sheets Switch Notification Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Error Handler": {
      "main": [
        [
          {
            "node": "Check if Groq Switch Notification Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by Score Threshold (\u226560)": {
      "main": [
        [
          {
            "node": "Append to Google Sheets: Jobs Tab",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2024-01-20T00:00:00.000Z",
  "versionId": "1"
}