workflow/ENHANCED-MASTER-workflow.json
{
  "name": "ENHANCED MASTER Job Automation System (with Resume Intelligence)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "7529bda3-15c7-4e64-980c-74211410f6fb",
      "name": "Schedule Trigger: Job Discovery (8 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "35d825a9-b7ed-43a8-9148-e77ec6594c62",
      "name": "Schedule Trigger: Email Outreach (9 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        1800
      ]
    },
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "9a52296f-8495-46e8-a6a0-161705881cbc",
      "name": "Telegram Trigger: Interactive Assistant",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        240,
        3300
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// USER PREFERENCES & METADATA (not a replacement for resume!)\n// \n// HOW EMAIL OUTREACH WORKS:\n// Job APIs find jobs but do NOT provide recruiter emails.\n// After 8 AM job discovery populates your Sheet, YOU manually add\n// recruiter emails (from LinkedIn, company sites, Hunter.io free tier).\n// The 9 AM outreach trigger emails only rows where you've filled\n// 'Recruiter Email'. This keeps it targeted, not spammy.\n//\n// ROTATION PURPOSE: 4 Gmail accounts = 200 emails/day free-tier capacity.\n// All 4 accounts should have the same display name in Google Account settings.\n// This config provides: location preferences, visa status, email settings, and URLs\n// Your actual resume data (skills, projects, experience) is parsed from resumeUrl by Groq AI\n// The parsed resume data is merged with this config to create your complete profile\nreturn [{\n  json: {\n    name: 'Your Name',\n    currentRole: 'Senior Backend Engineer',\n    targetRole: 'Staff Engineer',\n    experience: '5 years',\n    skills: ['Python', 'Node.js', 'AWS', 'Docker', 'Kubernetes', 'PostgreSQL'],\n    location: 'Hyderabad, India',\n    workMode: ['remote', 'hybrid'],\n    minSalary: 80000,\n    targetRoles: ['Backend Engineer', 'Full Stack Engineer', 'DevOps Engineer'],\n    keywords: 'python developer OR backend engineer OR nodejs',\n    country: 'in',\n    githubUrl: 'https://github.com/yourusername',\n    linkedinUrl: 'https://linkedin.com/in/yourprofile',\n    portfolioUrl: 'https://yourportfolio.com',\n    resumeUrl: 'https://drive.google.com/file/d/YOUR_RESUME_ID/view',\n    resumeParsingEnabled: true,\n    userEmail: 'YOUR_EMAIL@example.com',\n    dailyLimit: 50,\n    scoreThreshold: 60,\n    sheetId: 'YOUR_SPREADSHEET_ID',\n    account1Email: 'raviintouch2@gmail.com',\n    account2Email: 'ravitejavallakatla7@gmail.com',\n    account3Email: 'ravitejav081@gmail.com',\n    account4Email: 'ravitejav0801@gmail.com',\n    account1CredentialId: 'YOUR_GMAIL_ACCOUNT_1_CREDENTIAL_ID',\n    account2CredentialId: 'YOUR_GMAIL_ACCOUNT_2_CREDENTIAL_ID',\n    account3CredentialId: 'YOUR_GMAIL_ACCOUNT_3_CREDENTIAL_ID',\n    account4CredentialId: 'YOUR_GMAIL_ACCOUNT_4_CREDENTIAL_ID',\n    maxEmailsPerAccount: 50,\n    errorThreshold: 3,\n    sheetsAccount1CredentialId: 'YOUR_SHEETS_ACCOUNT_1_CREDENTIAL_ID',\n    sheetsAccount2CredentialId: 'YOUR_SHEETS_ACCOUNT_2_CREDENTIAL_ID',\n    sheetsAccount3CredentialId: 'YOUR_SHEETS_ACCOUNT_3_CREDENTIAL_ID',\n    sheetsAccount4CredentialId: 'YOUR_SHEETS_ACCOUNT_4_CREDENTIAL_ID',\n    maxSheetsWritesPerAccount: 300,\n    groqKey1CredentialId: 'YOUR_GROQ_KEY_1_CREDENTIAL_ID',\n    groqKey2CredentialId: 'YOUR_GROQ_KEY_2_CREDENTIAL_ID',\n    groqKey3CredentialId: 'YOUR_GROQ_KEY_3_CREDENTIAL_ID',\n    groqKey4CredentialId: 'YOUR_GROQ_KEY_4_CREDENTIAL_ID',\n    maxGroqRequestsPerKey: 14400,\n    // Setup: Create 4 Groq accounts using email alias trick:\n    // raviintouch2+groq1@gmail.com, ravitejavallakatla7+groq2@gmail.com,\n    // ravitejav081+groq3@gmail.com, ravitejav0801+groq4@gmail.com,\n    rapidapiKey: 'YOUR_RAPIDAPI_KEY_HERE',\n    groqApiKey: 'YOUR_GROQ_API_KEY_HERE',\n    telegramChatId: 'YOUR_TELEGRAM_CHAT_ID',\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "882919e4-752c-482a-b4ba-cd80aea52ad7",
      "name": "User Config (Master Profile)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Google Sheets account state - Now reads from centralized Multi-Account State Manager\nconst staticData = this.getWorkflowStaticData('global');\n\n// Ensure centralized state exists\nif (!staticData.multiAccountState || !staticData.multiAccountState.sheets) {\n  if (!staticData.multiAccountState) {\n    staticData.multiAccountState = {\n      gmail: { account1: {}, account2: {}, account3: {}, account4: {}, currentActive: 'account1' },\n      sheets: {\n        account1: { email: 'raviintouch2@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n        account2: { email: 'ravitejavallakatla7@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n        account3: { email: 'ravitejav081@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n        account4: { email: 'ravitejav0801@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n        currentActive: 'account1'\n      },\n      groq: { key1: {}, key2: {}, key3: {}, key4: {}, currentActive: 'key1' },\n      jobApis: {},\n      lastResetDate: null,\n      switchHistory: []\n    };\n  }\n}\n\n// Return Sheets state from centralized manager\nreturn [{ json: staticData.multiAccountState.sheets }];",
        "mode": "runOnceForAllItems"
      },
      "id": "877763c2-4bb9-467a-9333-11e7ace59a2c",
      "name": "Google Sheets Account State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        500
      ]
    },
    {
      "parameters": {
        "url": "https://remotive.com/api/remote-jobs",
        "method": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $('User Config (Master Profile)').item.json.keywords }}"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        }
      },
      "id": "0d709621-2695-4bca-aa3d-4ccc67ed0f87",
      "name": "Fetch Remotive API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        240
      ]
    },
    {
      "parameters": {
        "url": "https://www.arbeitnow.com/api/job-board-api",
        "method": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $('User Config (Master Profile)').item.json.keywords }}"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        }
      },
      "id": "35479c56-7071-4498-8c74-12b34c0254d7",
      "name": "Fetch Arbeitnow API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Extract email from job description (careers@, hr@, hiring@, etc.)\nfunction extractContactEmail(text) {\n  if (!text) return { email: '', name: '' };\n  const emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g;\n  const found = (text.match(emailRegex) || [])\n    .filter(e => !e.includes('example.com'))\n    .filter(e => !e.includes('noreply'))\n    .filter(e => !e.includes('unsubscribe'))\n    .filter(e => !e.includes('notifications'))\n    .filter(e => !e.endsWith('.png'))\n    .filter(e => !e.endsWith('.jpg'));\n  \n  if (found.length === 0) return { email: '', name: '' };\n  \n  // Prefer emails with career/hr/hiring/jobs keywords\n  const priority = ['career', 'hr', 'hiring', 'job', 'recruit', 'talent', 'people', 'apply', 'team'];\n  const best = found.find(e => priority.some(k => e.toLowerCase().includes(k))) || found[0];\n  const name = best.split('@')[0].replace(/[._-]/g, ' ').replace(/\\b\\w/g, l => l.toUpperCase());\n  return { email: best, name };\n}\n\n// Parse Remotive API response\nconst response = items[0].json;\nconst jobs = response.jobs || [];\n\nreturn jobs.map(job => {\n  const fullText = (job.description || '') + ' ' + (job.candidate_required_location || '');\n  const contact = extractContactEmail(fullText);\n  \n  return {\n    json: {\n      source: 'Remotive',\n      jobTitle: job.title || 'Unknown',\n      company: job.company_name || 'Unknown',\n      location: job.candidate_required_location || 'Remote',\n      jobType: job.job_type || 'Full-time',\n      workMode: 'Remote',\n      salary: job.salary || 'Not disclosed',\n      applyUrl: job.url || '',\n      description: (job.description || '').substring(0, 500),\n      tags: job.tags || [],\n      postedDate: job.publication_date || new Date().toISOString().split('T')[0],\n      category: job.category || '',\n      jobId: `remotive-${job.id || Date.now()}`,\n      fetchedDate: new Date().toISOString().split('T')[0],\n      recruiterEmail: contact.email,\n      recruiterName: contact.name\n    }\n  };\n});",
        "mode": "runOnceForAllItems"
      },
      "id": "aaa68eb3-1075-4856-8384-6a9e106880c8",
      "name": "Parse Remotive Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Extract email from job description (careers@, hr@, hiring@, etc.)\nfunction extractContactEmail(text) {\n  if (!text) return { email: '', name: '' };\n  const emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g;\n  const found = (text.match(emailRegex) || [])\n    .filter(e => !e.includes('example.com'))\n    .filter(e => !e.includes('noreply'))\n    .filter(e => !e.includes('unsubscribe'))\n    .filter(e => !e.includes('notifications'))\n    .filter(e => !e.endsWith('.png'))\n    .filter(e => !e.endsWith('.jpg'));\n  \n  if (found.length === 0) return { email: '', name: '' };\n  \n  // Prefer emails with career/hr/hiring/jobs keywords\n  const priority = ['career', 'hr', 'hiring', 'job', 'recruit', 'talent', 'people', 'apply', 'team'];\n  const best = found.find(e => priority.some(k => e.toLowerCase().includes(k))) || found[0];\n  const name = best.split('@')[0].replace(/[._-]/g, ' ').replace(/\\b\\w/g, l => l.toUpperCase());\n  return { email: best, name };\n}\n\n// Parse Arbeitnow API response\nconst response = items[0].json;\nconst jobs = response.data || [];\n\nreturn jobs.map(job => {\n  const fullText = (job.description || '');\n  const contact = extractContactEmail(fullText);\n  \n  return {\n    json: {\n      source: 'Arbeitnow',\n      jobTitle: job.title || 'Unknown',\n      company: job.company_name || 'Unknown',\n      location: job.location || 'Remote',\n      jobType: job.job_types?.[0] || 'Full-time',\n      workMode: job.remote ? 'Remote' : 'Onsite',\n      salary: 'Not disclosed',\n      applyUrl: job.url || '',\n      description: (job.description || '').substring(0, 500),\n      tags: job.tags || [],\n      postedDate: job.created_at ? new Date(job.created_at * 1000).toISOString().split('T')[0] : new Date().toISOString().split('T')[0],\n      category: '',\n      jobId: `arbeitnow-${job.slug || Date.now()}`,\n      fetchedDate: new Date().toISOString().split('T')[0],\n      recruiterEmail: contact.email,\n      recruiterName: contact.name\n    }\n  };\n});",
        "mode": "runOnceForAllItems"
      },
      "id": "1cd6f0cf-5557-4d54-8422-f8d29425580a",
      "name": "Parse Arbeitnow Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        360
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "id": "bf9690d6-3a0d-4c21-82fb-7e624668561d",
      "name": "Merge All API Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1120,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "// Deduplicate and filter existing jobs\nconst jobs = items.map(item => item.json);\nconst seen = new Set();\nconst unique = [];\n\nfor (const job of jobs) {\n  const key = `${job.company}-${job.jobTitle}`.toLowerCase().replace(/\\s+/g, '-');\n  if (!seen.has(key) && job.applyUrl) {\n    seen.add(key);\n    unique.push(job);\n  }\n}\n\nreturn unique.map(job => ({ json: job }));",
        "mode": "runOnceForAllItems"
      },
      "id": "4dcfab90-835e-4d97-b3c3-6d9854469d14",
      "name": "Deduplicate Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        360
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $('User Config (Master Profile)').item.json.sheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Jobs",
          "mode": "name"
        },
        "options": {}
      },
      "id": "e3ed5a08-f509-4161-ac91-3f7ff60d5d6e",
      "name": "Read Existing Jobs from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        1560,
        360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter out jobs already in sheet\nconst newJobs = $('Deduplicate Jobs').all().map(item => item.json);\nconst existingJobs = items.map(item => item.json);\n\nconst existingIds = new Set(existingJobs.map(j => j['Job ID'] || j.jobId));\n\nconst trulyNew = newJobs.filter(job => !existingIds.has(job.jobId));\n\nif (trulyNew.length === 0) {\n  throw new Error('No new jobs found - all already in sheet');\n}\n\nreturn trulyNew.map(job => ({ json: job }));",
        "mode": "runOnceForAllItems"
      },
      "id": "a953d1a4-bc37-4480-b00b-a47ee78b72aa",
      "name": "Filter Out Already-Fetched Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "// Call Groq API to score job match\nconst config = $('Merge User Config with Resume Data').item.json;\nconst job = items[0].json;\n\nconst prompt = `You are a job matching expert. Score this job for relevance (0-100):\n\n**Job:** ${job.jobTitle} at ${job.company}\n**Location:** ${job.location}\n**Work Mode:** ${job.workMode}\n**Description:** ${job.description}\n\n**User Profile:**\n- Current Role: ${config.currentRole}\n- Target Role: ${config.targetRole}\n- Skills: ${(config.skills || []).join(', ')}\n- Work Mode: ${(config.workMode || []).join(' or ')}\n- Location: ${config.location}\n\n**Resume Data:**\n- Resume Parsed: ${config.resumeParsed ? 'Yes' : 'No (using config)'}\n- Resume Skills: ${((config.resumeData || {}).skills || []).join(', ')}\n- Experience: ${((config.resumeData || {}).experience || []).map(e => e.role + ' at ' + e.company).join('; ')}\n- Key Projects: ${((config.resumeData || {}).projects || []).slice(0, 3).map(p => p.name).join(', ')}\n\n**Scoring Instructions:**\n- Give +20 points for strong skill overlap with resume\n- Give +15 points for relevant project experience\n- Give +10 points for matching work mode and location\n- Give +10 points for career progression alignment\n\nProvide ONLY a JSON object:\n{\"score\": <0-100>, \"priority\": \"high|medium|low\", \"matchReason\": \"<1 sentence mentioning resume skills if parsed>\"}\n\nNo other text.`;\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.groq.com/openai/v1/chat/completions',\n  headers: {\n    'Authorization': 'Bearer ' + (config.groqApiKey || $env.GROQ_API_KEY || ''),\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    model: 'llama-3.3-70b-versatile',\n    messages: [{ role: 'user', content: prompt }],\n    temperature: 0.3\n  }),\n  json: true,\n  timeout: 60000\n});\n\nconst aiText = response.choices[0].message.content;\n\nreturn [{\n  json: {\n    ...job,\n    response: aiText,\n    text: aiText\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "7fa931d9-d69c-4ea8-b7d6-7fe829df4357",
      "name": "Groq AI: Score Job Match",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Groq scoring response\nconst jobData = items[0].json;\nconst groqResponse = $node[\"Groq AI: Score Job Match\"].json.response || $node[\"Groq AI: Score Job Match\"].json.text || '';\n\nlet score = 50;\nlet priority = 'medium';\nlet matchReason = 'Standard match';\n\ntry {\n  const jsonMatch = groqResponse.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    score = parsed.score || 50;\n    priority = parsed.priority || 'medium';\n    matchReason = parsed.matchReason || 'Standard match';\n  }\n} catch (error) {\n  console.error('Failed to parse Groq response, using defaults');\n}\n\nreturn [{\n  json: {\n    ...jobData,\n    score,\n    priority,\n    matchReason,\n    status: 'New',\n    applicationId: '',\n    emailSentDate: '',\n    lastUpdated: new Date().toISOString().split('T')[0]\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "d645d02e-4b24-40f2-b662-45388f95801f",
      "name": "Parse AI Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.score }}",
              "operation": "largerEqual",
              "value2": "={{ $('User Config (Master Profile)').item.json.scoreThreshold }}"
            }
          ]
        }
      },
      "id": "99c32cd8-d9df-417a-99d1-27f2b49fded2",
      "name": "Filter by Score Threshold (\u226560)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2440,
        360
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('User Config (Master Profile)').item.json.sheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Jobs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "id": "jobId",
              "displayName": "Job ID",
              "type": "string"
            },
            {
              "id": "jobTitle",
              "displayName": "Job Title",
              "type": "string"
            },
            {
              "id": "company",
              "displayName": "Company",
              "type": "string"
            },
            {
              "id": "location",
              "displayName": "Location",
              "type": "string"
            },
            {
              "id": "workMode",
              "displayName": "Work Mode",
              "type": "string"
            },
            {
              "id": "salary",
              "displayName": "Salary",
              "type": "string"
            },
            {
              "id": "applyUrl",
              "displayName": "Apply URL",
              "type": "string"
            },
            {
              "id": "source",
              "displayName": "Source",
              "type": "string"
            },
            {
              "id": "score",
              "displayName": "Score",
              "type": "number"
            },
            {
              "id": "priority",
              "displayName": "Priority",
              "type": "string"
            },
            {
              "id": "matchReason",
              "displayName": "Match Reason",
              "type": "string"
            },
            {
              "id": "status",
              "displayName": "Status",
              "type": "string"
            },
            {
              "id": "postedDate",
              "displayName": "Posted Date",
              "type": "string"
            },
            {
              "id": "fetchedDate",
              "displayName": "Fetched Date",
              "type": "string"
            },
            {
              "id": "recruiterEmail",
              "displayName": "Recruiter Email",
              "type": "string"
            },
            {
              "id": "recruiterName",
              "displayName": "Recruiter Name",
              "type": "string"
            },
            {
              "id": "applicationId",
              "displayName": "Application ID",
              "type": "string"
            },
            {
              "id": "emailSentDate",
              "displayName": "Email Sent Date",
              "type": "string"
            },
            {
              "id": "lastUpdated",
              "displayName": "Last Updated",
              "type": "string"
            }
          ],
          "value": {
            "jobId": "={{ $json.jobId }}",
            "jobTitle": "={{ $json.jobTitle }}",
            "company": "={{ $json.company }}",
            "location": "={{ $json.location }}",
            "workMode": "={{ $json.workMode }}",
            "salary": "={{ $json.salary }}",
            "applyUrl": "={{ $json.applyUrl }}",
            "source": "={{ $json.source }}",
            "score": "={{ $json.score }}",
            "priority": "={{ $json.priority }}",
            "matchReason": "={{ $json.matchReason }}",
            "status": "={{ $json.status }}",
            "postedDate": "={{ $json.postedDate }}",
            "fetchedDate": "={{ $json.fetchedDate }}",
            "recruiterEmail": "={{ $json.recruiterEmail }}",
            "recruiterName": "={{ $json.recruiterName }}",
            "applicationId": "={{ $json.applicationId }}",
            "emailSentDate": "={{ $json.emailSentDate }}",
            "lastUpdated": "={{ $json.lastUpdated }}",
            "resumeMatchDetails": "={{ $json.resumeMatchDetails || \"\" }}"
          }
        },
        "options": {}
      },
      "id": "11aec8bd-84ee-45c3-8727-ec4efa75ec19",
      "name": "Append to Google Sheets: Jobs Tab",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        2660,
        360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate job discovery summary with API health status\nconst jobs = items.map(item => item.json);\nconst total = jobs.length;\nconst high = jobs.filter(j => j.priority === 'high').length;\nconst medium = jobs.filter(j => j.priority === 'medium').length;\nconst low = jobs.filter(j => j.priority === 'low').length;\n\nconst topJobs = jobs\n  .sort((a, b) => b.score - a.score)\n  .slice(0, 5)\n  .map(j => `\u2022 **${j.jobTitle}** at **${j.company}** (${j.location}) - Score: ${j.score} [${j.source}]`);\n\nconst sourceBreakdown = jobs.reduce((acc, j) => {\n  acc[j.source] = (acc[j.source] || 0) + 1;\n  return acc;\n}, {});\n\nconst sourceStats = Object.entries(sourceBreakdown)\n  .map(([source, count]) => `${source}: ${count}`)\n  .join(', ');\n\n// Get API health status\nconst apiHealthData = $('Update API Health Status').item.json;\nconst apiHealth = apiHealthData.apiState || {};\nconst healthStatus = Object.entries(apiHealth)\n  .map(([name, state]) => `${name}: ${state.status} (${state.consecutiveFailures} failures)`)\n  .join(', ');\n\nreturn [{\n  json: {\n    total,\n    high,\n    medium,\n    low,\n    topJobsList: topJobs.join('\\n'),\n    sourceStats,\n    apiHealthStatus: healthStatus,\n    unhealthyApis: apiHealthData.unhealthySummary || 'None',\n    date: new Date().toISOString().split('T')[0]\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "50d6d829-17aa-4c19-9196-f7e1a0289d17",
      "name": "Aggregate Job Discovery Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        360
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=\ud83d\udcca **Daily Job Discovery Complete**\n\n\u2705 Found **{{ $json.total }}** new relevant jobs!\n\n**Priority Breakdown:**\n\ud83d\udd34 High: {{ $json.high }}\n\ud83d\udfe1 Medium: {{ $json.medium }}\n\ud83d\udfe2 Low: {{ $json.low }}\n\n**Sources:** {{ $json.sourceStats }}\n\n**API Health Status:**\n{{ $json.apiHealthStatus }}\n\u26a0\ufe0f Unhealthy APIs: {{ $json.unhealthyApis }}\n\n**Top 5 Matches:**\n{{ $json.topJobsList }}\n\nAll jobs saved to Google Sheet. Add recruiter emails for auto-outreach!\n\n**Date:** {{ $json.date }}",
        "additionalFields": {}
      },
      "id": "20951d3c-838b-4c7a-9ba4-397f27d28d00",
      "name": "Send Telegram: Job Discovery Digest",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3100,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('User Config (Master Profile)').item.json.userEmail }}",
        "subject": "\ud83d\udcca Daily Job Discovery - {{ $json.total }} New Jobs",
        "message": "=Hello {{ $('User Config (Master Profile)').item.json.name }},\n\nYour job discovery engine found **{{ $json.total }}** new relevant jobs!\n\n**Priority Breakdown:**\n\ud83d\udd34 High: {{ $json.high }}\n\ud83d\udfe1 Medium: {{ $json.medium }}\n\ud83d\udfe2 Low: {{ $json.low }}\n\n**Sources:**\n{{ $json.sourceStats }}\n\n**Top 5 Matches:**\n{{ $json.topJobsList }}\n\nAll jobs have been added to your Google Sheet.\nReview them and add recruiter emails for auto-outreach.\n\n**Date:** {{ $json.date }}\n\nBest regards,\nJob Discovery Engine",
        "options": {}
      },
      "id": "4bcce4d8-8c78-4d94-875d-4f974674a16d",
      "name": "Send Gmail: Job Discovery Digest",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3100,
        420
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $('User Config (Master Profile)').item.json.sheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Jobs",
          "mode": "name"
        },
        "options": {}
      },
      "id": "91851394-5f23-4384-8831-9725ba6a8a98",
      "name": "Read Jobs from Sheet for Outreach",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        680,
        1800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Status || $json.status }}",
              "operation": "equals",
              "value2": "New"
            },
            {
              "value1": "={{ $json['Recruiter Email'] || $json.recruiterEmail }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "902420b2-af39-46eb-a5a7-7dffb0d7ec1f",
      "name": "Filter: Status=New AND Has Recruiter Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        1800
      ],
      "notes": "HOW RECRUITER EMAILS WORK:\n\nJob APIs do NOT provide recruiter emails. You must manually fill the \n'Recruiter Email' column in your Google Sheet for jobs you want to apply to.\n\nWorkflow: \n1. Job Discovery (8 AM) populates jobs with scores\n2. YOU review the Sheet, find recruiter emails (LinkedIn, company site, Hunter.io)\n3. YOU fill 'Recruiter Email' column for good matches\n4. Email Outreach (9 AM) picks up rows with Status=New AND Recruiter Email filled\n5. AI generates personalized email with resume attached and sends\n\nThis is intentional: targeted emails to researched contacts = professional networking."
    },
    {
      "parameters": {
        "numberValue": "={{ $('User Config (Master Profile)').item.json.dailyLimit }}"
      },
      "id": "5f87f9fa-afca-48a1-8a86-3bd1b9231b6a",
      "name": "Limit to Daily Max (10 emails)",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1120,
        1800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Call Groq API to generate personalized email\nconst config = $('Merge User Config with Resume Data').item.json;\nconst job = items[0].json;\n\nconst prompt = `You are a professional email writer. Generate a personalized cold email to a recruiter.\n\n**Job Details:**\n- Title: ${job['Job Title'] || job.jobTitle}\n- Company: ${job.Company || job.company}\n- Recruiter: ${job['Recruiter Name'] || job.recruiterName || 'Hiring Manager'}\n- Location: ${job.Location || job.location}\n- Apply URL: ${job['Apply URL'] || job.applyUrl}\n- Job Description: ${(job.Description || job.description || '').substring(0, 800)}\n- Requirements: ${(job.Requirements || job.requirements || '').substring(0, 400)}\n\n**Candidate Profile:**\n- Name: ${config.name}\n- Current Role: ${config.currentRole}\n- Experience: ${config.experience}\n- Skills: ${(config.skills || []).join(', ')}\n- Location: ${config.location}\n\n**Resume Insights:**\n- Key Projects: ${((config.resumeData || {}).projects || []).slice(0, 3).map(p => p.name + ' (' + (p.technologies || []).join(', ') + ')').join('; ')}\n- Recent Experience: ${((config.resumeData || {}).experience || []).slice(0, 2).map(e => e.role + ' at ' + e.company).join('; ')}\n- Achievements: ${((config.resumeData || {}).achievements || []).slice(0, 2).join('; ')}\n\n**Requirements:**\n1. Professional, concise (150-200 words)\n2. Reference SPECIFIC details from the job description\n3. Mention 2-3 specific projects from resume that align with job requirements\n4. Highlight matching technical skills\n5. Include a clear call-to-action\n6. End with \"Best regards, ${config.name}\"\n7. DO NOT be generic - every sentence must reference something specific\n\n**Format:**\nSubject: [Compelling subject referencing specific role and one key qualification]\n\n[Email body]\n\nProvide ONLY the subject line and email body. No additional commentary.`;\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.groq.com/openai/v1/chat/completions',\n  headers: {\n    'Authorization': 'Bearer ' + (config.groqApiKey || $env.GROQ_API_KEY || ''),\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    model: 'llama-3.3-70b-versatile',\n    messages: [{ role: 'user', content: prompt }],\n    temperature: 0.7\n  }),\n  json: true,\n  timeout: 60000\n});\n\nconst aiText = response.choices[0].message.content;\n\nreturn [{\n  json: {\n    ...job,\n    response: aiText,\n    text: aiText\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "0a05d178-ddd0-422a-9068-7b273a9abaea",
      "name": "Groq AI: Generate Personalized Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        1800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Groq email response\nconst jobData = items[0].json;\nconst groqResponse = $node[\"Groq AI: Generate Personalized Email\"].json.response || $node[\"Groq AI: Generate Personalized Email\"].json.text || '';\n\nlet subject = `Application for ${jobData['Job Title'] || jobData.jobTitle} at ${jobData.Company || jobData.company}`;\nlet body = groqResponse;\n\n// Try to extract subject line\nconst subjectMatch = groqResponse.match(/Subject:\\s*(.+?)\\n/i);\nif (subjectMatch) {\n  subject = subjectMatch[1].trim();\n  body = groqResponse.replace(/Subject:\\s*.+?\\n/i, '').trim();\n}\n\nconst config = $('Merge User Config with Resume Data').item.json;\n\n// Add signature if not present\nif (!body.includes(config.name)) {\n  body += `\\n\\nBest regards,\\n${config.name}`;\n}\n\n// Add profile links\nbody += `\\n\\nPortfolio: ${config.portfolioUrl}`;\nbody += `\\nLinkedIn: ${config.linkedinUrl}`;\nbody += `\\nGitHub: ${config.githubUrl}`;\nbody += `\\nResume: ${config.resumeUrl}`;\n\nreturn [{\n  json: {\n    ...jobData,\n    emailSubject: subject,\n    emailBody: body,\n    sentDate: new Date().toISOString().split('T')[0]\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "855a9e4a-659c-43e0-8c15-6e552501c27e",
      "name": "Parse & Format Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        1800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Update status and add metadata\nconst applicationId = `EMAIL-${Date.now()}-${Math.random().toString(36).substr(2, 6)}`;\n\nreturn [{\n  json: {\n    ...items[0].json,\n    Status: 'Email Sent',\n    status: 'Email Sent',\n    'Application ID': applicationId,\n    applicationId: applicationId,\n    'Email Sent Date': new Date().toISOString().split('T')[0],\n    emailSentDate: new Date().toISOString().split('T')[0],\n    'Last Updated': new Date().toISOString().split('T')[0],\n    lastUpdated: new Date().toISOString().split('T')[0]\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "05744571-2be1-4977-8e70-c98e6ef07e18",
      "name": "Update Metadata (Status & Application ID)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        1800
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('User Config (Master Profile)').item.json.sheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Jobs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [
            "Job Title",
            "Company"
          ],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "type": "string"
            },
            {
              "id": "Application ID",
              "displayName": "Application ID",
              "type": "string"
            },
            {
              "id": "Email Sent Date",
              "displayName": "Email Sent Date",
              "type": "string"
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "41bf1322-f0ff-437c-a9a7-95cb689a0e06",
      "name": "Update Sheet: Mark Email Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        2220,
        1800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "8b54d6a0-bd3c-4c9b-aa8e-c03ff6df3002",
      "name": "Rate Limit Delay (3 seconds)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2440,
        1800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate sending summary with 4-account breakdown\nconst jobs = items.map(item => item.json);\nconst total = jobs.length;\n\n// Count emails sent per account\nconst accountBreakdown = {\n  account1: 0,\n  account2: 0,\n  account3: 0,\n  account4: 0\n};\n\njobs.forEach(j => {\n  const account = j.accountUsed;\n  if (account && accountBreakdown.hasOwnProperty(account)) {\n    accountBreakdown[account]++;\n  }\n});\n\nconst sentList = jobs.map(j => \n  `\u2022 **${j['Job Title'] || j.jobTitle}** at **${j.Company || j.company}** \u2192 ${j['Recruiter Email'] || j.recruiterEmail} [${j.accountUsed || 'unknown'}]`\n);\n\nreturn [{\n  json: {\n    total,\n    sentList: sentList.join('\\n'),\n    date: new Date().toISOString().split('T')[0],\n    account1Count: accountBreakdown.account1,\n    account2Count: accountBreakdown.account2,\n    account3Count: accountBreakdown.account3,\n    account4Count: accountBreakdown.account4\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "8e6d644a-3c87-473f-8570-e864800b604c",
      "name": "Aggregate Outreach Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        1800
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('User Config (Master Profile)').item.json.userEmail }}",
        "subject": "\u2705 Email Outreach Complete - {{ $json.total }} Emails Sent",
        "message": "=Hello {{ $('User Config (Master Profile)').item.json.name }},\n\nYour daily email outreach campaign has completed!\n\n**Email Account Breakdown:**\n\ud83d\udce7 Account 1 (raviintouch2@gmail.com): {{ $json.account1Count }} emails sent\n\ud83d\udce7 Account 2 (ravitejavallakatla7@gmail.com): {{ $json.account2Count }} emails sent\n\ud83d\udce7 Account 3 (ravitejav081@gmail.com): {{ $json.account3Count }} emails sent\n\ud83d\udce7 Account 4 (ravitejav0801@gmail.com): {{ $json.account4Count }} emails sent\n\n**Total Emails Sent:** {{ $json.total }}\n**Total Daily Capacity:** 200 emails/day (50 per account \u00d7 4 accounts)\n\n**Sent To:**\n{{ $json.sentList }}\n\nAll applications have been logged in your Google Sheet with status \"Email Sent\".\n\nCheck your Gmail Sent folder for copies (you were CC'd on all emails).\n\n**Date:** {{ $json.date }}\n\nBest regards,\nEmail Outreach System",
        "options": {}
      },
      "id": "1647d506-7346-447a-90b8-dede7fb44084",
      "name": "Send Gmail: Outreach Digest",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2880,
        1800
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract message and user info\nconst message = items[0].json.message || {};\n\nconst userId = message.from?.id?.toString() || 'unknown';\nconst username = message.from?.username || message.from?.first_name || 'User';\nconst chatId = message.chat?.id;\nconst text = message.text || '';\n\nreturn [{\n  json: {\n    userId,\n    username,\n    chatId,\n    text,\n    timestamp: new Date().toISOString()\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "107733cc-38fd-4eec-aa21-bb0d894a6bdb",
      "name": "Extract Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        3300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Quick command handler\nconst text = items[0].json.text.toLowerCase();\nconst config = $('User Config (Master Profile)').item.json;\n\nlet quickResponse = '';\nlet isQuickCommand = false;\nlet needsStateReport = false;\n\nif (text === '/start' || text === '/help') {\n  isQuickCommand = true;\n  quickResponse = `**Job Hunt Assistant**\n\nWelcome ${config.name}! \n\n**Commands:**\n\u2022 /stats - View your application stats\n\u2022 /status - View all account states in real-time\n\u2022 /resume - View your resume\n\u2022 /help - Show this help message\n\nAsk me anything about your job search!`;\n} else if (text === '/resume') {\n  isQuickCommand = true;\n  quickResponse = `**Your Resume:**\n${config.resumeUrl}\n\n**Profile:**\n\u2022 ${config.currentRole}\n\u2022 ${config.experience}\n\u2022 Skills: ${config.skills.join(', ')}\n\u2022 Location: ${config.location}\n\n**Links:**\nLinkedIn: ${config.linkedinUrl}\nGitHub: ${config.githubUrl}\nPortfolio: ${config.portfolioUrl}`;\n} else if (text === '/status') {\n  needsStateReport = true;\n  isQuickCommand = false; // Will need state report\n  quickResponse = '';\n} else if (text === '/stats') {\n  isQuickCommand = false; // Will need sheet query\n  quickResponse = '';\n}\n\nreturn [{\n  json: {\n    ...items[0].json,\n    quickResponse,\n    isQuickCommand,\n    needsStateReport\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "b1784347-3780-437b-abe3-f626dd82a4a9",
      "name": "Handle Quick Commands",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        3300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isQuickCommand }}",
              "value2": true
            }
          ]
        }
      },
      "id": "c83975bd-8a5f-4117-9110-a2a53a54063d",
      "name": "Is Quick Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        3300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract Telegram Message').item.json.chatId }}",
        "text": "={{ $json.quickResponse }}",
        "additionalFields": {}
      },
      "id": "ba6098ad-dbb3-4f9a-84a4-0201cc99c411",
      "name": "Send Quick Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        3200
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build dynamic system prompt for Groq\nconst config = $('User Config (Master Profile)').item.json;\nconst userMessage = $('Extract Telegram Message').item.json;\n\nconst systemPrompt = `You are ${config.name}'s personal job hunt assistant.\n\n**User Profile:**\n- Current Role: ${config.currentRole}\n- Target Role: ${config.targetRole}\n- Experience: ${config.experience}\n- Skills: ${config.skills.join(', ')}\n- Location: ${config.location}\n- Work Preference: ${config.workMode.join(' or ')}\n- Minimum Salary: $${config.minSalary}\n\n**Your Capabilities:**\n1. Query job tracker (see applications, stats, pending jobs)\n2. Provide resume information\n3. Answer job search questions\n4. Give career advice\n\n**Guidelines:**\n- Be concise and action-oriented\n- Suggest next steps\n- Use bullet points for lists\n- Keep responses under 300 words\n- Be encouraging and supportive\n\nUser message: ${userMessage.text}`;\n\nreturn [{\n  json: {\n    ...items[0].json,\n    systemPrompt,\n    userMessage: userMessage.text\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "6f836e08-0d5e-4937-9aa5-cf56266ac2d9",
      "name": "Build Dynamic System Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        3400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Call Groq API for Telegram AI assistant\nconst input = items[0].json;\nconst systemPrompt = input.systemPrompt || 'You are a helpful job search assistant.';\nconst userMessage = input.userMessage || input.text || '';\n\nconst config = $('User Config (Master Profile)').item.json;\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.groq.com/openai/v1/chat/completions',\n  headers: {\n    'Authorization': 'Bearer ' + (config.groqApiKey || $env.GROQ_API_KEY || ''),\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    model: 'llama-3.3-70b-versatile',\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userMessage }\n    ],\n    temperature: 0.7\n  }),\n  json: true,\n  timeout: 60000\n});\n\nconst aiText = response.choices[0].message.content;\n\nreturn [{\n  json: {\n    ...input,\n    response: aiText,\n    text: aiText\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "a2c8b4c1-4c0a-43ef-a3a7-322dafe29c60",
      "name": "Groq Agent (Llama 3.3 70B)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        3400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse agent response and extract actions\nconst response = items[0].json.response || items[0].json.text || 'Sorry, I could not process your request.';\nconst userMessage = $('Extract Telegram Message').item.json.text.toLowerCase();\n\n// Detect action intents\nconst needsSheetQuery = userMessage.includes('stats') || userMessage.includes('status') || userMessage.includes('how many') || userMessage.includes('count');\n\nreturn [{\n  json: {\n    ...items[0].json,\n    response,\n    needsSheetQuery\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "0e088961-7258-4d46-8735-ed7a5652aa05",
      "name": "Parse Response & Detect Intents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        3400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.needsSheetQuery }}",
              "value2": true
            }
          ]
        }
      },
      "id": "5a2fc651-9907-46e0-aee1-deb1323896de",
      "name": "Needs Sheet Query?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1780,
        3400
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $('User Config (Master Profile)').item.json.sheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Jobs",
          "mode": "name"
        },
        "options": {}
      },
      "id": "8d3c0006-f3d2-46c8-a2db-80aa28ece57f",
      "name": "Query Google Sheet for Stats",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        2000,
        3300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate sheet stats\nconst jobs = items.map(item => item.json);\n\nconst total = jobs.length;\nconst statusCounts = jobs.reduce((acc, j) => {\n  const status = j.Status || j.status || 'Unknown';\n  acc[status] = (acc[status] || 0) + 1;\n  return acc;\n}, {});\n\nconst priorityCounts = jobs.reduce((acc, j) => {\n  const priority = j.Priority || j.priority || 'unknown';\n  acc[priority] = (acc[priority] || 0) + 1;\n  return acc;\n}, {});\n\nconst stats = `**Your Job Tracker Stats:**\n\u2022 Total jobs: ${total}\n\n**Status Breakdown:**\n` + Object.entries(statusCounts).map(([status, count]) => \n  `\u2022 ${status}: ${count}`\n).join('\\n') + `\n\n**Priority Breakdown:**\n` + Object.entries(priorityCounts).map(([priority, count]) => \n  `\u2022 ${priority}: ${count}`\n).join('\\n');\n\nreturn [{\n  json: {\n    ...items[0].json,\n    stats\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "74a65d79-60aa-416d-9e34-043161c75c72",
      "name": "Aggregate Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        3300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract Telegram Message').item.json.chatId }}",
        "text": "={{ $json.response }}\\n\\n{{ $json.stats }}",
        "additionalFields": {}
      },
      "id": "b88d4ce3-6d89-4a13-afc5-82de4aa27154",
      "name": "Send Telegram Reply (with stats)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2440,
        3300
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract Telegram Message').item.json.chatId }}",
        "text": "={{ $json.response }}",
        "additionalFields": {}
      },
      "id": "0b45dc41-3151-41e6-bc32-7f4dbe63a43f",
      "name": "Send Telegram Reply (simple)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        3500
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ \n  const config = $('User Config (Master Profile)').item.json;\n  const url = config.resumeUrl || '';\n  \n  // Convert Google Drive view URL to download URL\n  if (url.includes('drive.google.com/file/d/')) {\n    const match = url.match(/\\/d\\/([^\\/]+)/);\n    if (match) return `https://drive.google.com/uc?export=download&id=${match[1]}`;\n  }\n  \n  // Convert GitHub blob URL to raw URL\n  if (url.includes('github.com') && url.includes('/blob/')) {\n    return url.replace('/blob/', '/raw/');\n  }\n  \n  // Add Dropbox download parameter\n  if (url.includes('dropbox.com')) {\n    return url.includes('?') ? url + '&dl=1' : url + '?dl=1';\n  }\n  \n  return url;\n}}",
        "method": "GET"
      },
      "id": "a568a433-40cf-49ec-b72f-28baf63e18d1",
      "name": "Download Resume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        150
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('User Config (Master Profile)').item.json.resumeParsingEnabled && $json.data && $json.data.length > 100 }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "5c84b95b-0c3b-4cfb-aedc-5501d476984a",
      "name": "Check Resume Download Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "// Call Groq API to parse resume\nconst resumeText = $('Download Resume').item.json.data || '';\nconst config = $('User Config (Master Profile)').item.json;\n\nconst prompt = `You are a resume parser. Extract structured information from this resume text.\n\n**Resume Content:**\n${resumeText}\n\n**Extract the following in JSON format ONLY:**\n{\n  \"skills\": [\"skill1\", \"skill2\", ...],\n  \"experience\": [\n    {\n      \"role\": \"Job Title\",\n      \"company\": \"Company Name\",\n      \"duration\": \"2020-2023\",\n      \"responsibilities\": \"Key achievements and responsibilities\"\n    }\n  ],\n  \"projects\": [\n    {\n      \"name\": \"Project Name\",\n      \"description\": \"Brief description\",\n      \"technologies\": [\"tech1\", \"tech2\"]\n    }\n  ],\n  \"achievements\": [\"achievement1\", \"achievement2\", ...],\n  \"education\": [\n    {\n      \"degree\": \"Degree Name\",\n      \"institution\": \"University Name\",\n      \"year\": \"2019\"\n    }\n  ]\n}\n\nProvide ONLY valid JSON. No additional text or explanation.`;\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.groq.com/openai/v1/chat/completions',\n  headers: {\n    'Authorization': 'Bearer ' + (config.groqApiKey || $env.GROQ_API_KEY || ''),\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    model: 'llama-3.3-70b-versatile',\n    messages: [{ role: 'user', content: prompt }],\n    temperature: 0.1\n  }),\n  json: true,\n  timeout: 60000\n});\n\nconst aiText = response.choices[0].message.content;\n\nreturn [{\n  json: {\n    ...items[0].json,\n    response: aiText,\n    text: aiText\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "499b3480-9063-496e-958b-c95d0608d564",
      "name": "Parse Resume with Groq AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate Groq resume response\nconst config = $('User Config (Master Profile)').item.json;\nconst groqResponse = $node[\"Parse Resume with Groq AI\"].json.response || $node[\"Parse Resume with Groq AI\"].json.text || '';\n\nlet resumeData = {\n  skills: config.skills || [],\n  experience: [],\n  projects: [],\n  achievements: [],\n  education: [],\n  parsed: false\n};\n\ntry {\n  // Extract JSON from response\n  const jsonMatch = groqResponse.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    \n    // Validate and use parsed data\n    if (parsed.skills && Array.isArray(parsed.skills) && parsed.skills.length > 0) {\n      resumeData.skills = parsed.skills;\n      resumeData.parsed = true;\n    }\n    \n    if (parsed.experience && Array.isArray(parsed.experience)) {\n      resumeData.experience = parsed.experience;\n    }\n    \n    if (parsed.projects && Array.isArray(parsed.projects)) {\n      resumeData.projects = parsed.projects;\n    }\n    \n    if (parsed.achievements && Array.isArray(parsed.achievements)) {\n      resumeData.achievements = parsed.achievements;\n    }\n    \n    if (parsed.education && Array.isArray(parsed.education)) {\n      resumeData.education = parsed.education;\n    }\n  }\n} catch (error) {\n  console.error('Resume parsing failed, using User Config fallback:', error.message);\n}\n\nreturn [{\n  json: {\n    resumeData,\n    config\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "9966cdbd-444c-49d6-93a4-73687e857ae1",
      "name": "Structure Resume Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use User Config when resume download/parsing fails\nconst config = $('User Config (Master Profile)').item.json;\n\nreturn [{\n  json: {\n    resumeData: {\n      skills: config.skills || [],\n      experience: [],\n      projects: [],\n      achievements: [],\n      education: [],\n      parsed: false\n    },\n    config\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "d99f804a-5ad3-459a-846d-1a87d3bb29c4",
      "name": "Fallback: User Config Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge resume data with user config, prioritize resume data\nconst input = items[0].json;\nconst resumeData = input.resumeData;\nconst config = input.config;\n\n// Create enriched profile\nconst enrichedProfile = {\n  ...config,\n  resumeData: resumeData,\n  \n  // Skills: resume data takes priority if available\n  skills: resumeData.parsed ? resumeData.skills : config.skills,\n  \n  // Enhanced fields from resume\n  experience: resumeData.experience || [],\n  projects: resumeData.projects || [],\n  achievements: resumeData.achievements || [],\n  education: resumeData.education || [],\n  \n  // Resume parsing metadata\n  resumeParsed: resumeData.parsed,\n  resumeSkillCount: (resumeData.skills || []).length,\n  resumeProjectCount: (resumeData.projects || []).length\n};\n\nreturn [{\n  json: enrichedProfile\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "2daf6e1e-37b4-45a7-aee2-ba4ba047378a",
      "name": "Merge User Config with Resume Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "// Analyze resume match with job requirements\nconst jobData = items[0].json;\nconst enrichedProfile = $('Merge User Config with Resume Data').item.json;\nconst resumeData = enrichedProfile.resumeData;\n\n// Extract job requirements (basic keyword extraction from description)\nconst jobDesc = (jobData.description || '').toLowerCase();\nconst jobTitle = (jobData.jobTitle || '').toLowerCase();\n\n// Calculate skill overlap\nconst resumeSkills = (resumeData.skills || []).map(s => s.toLowerCase());\nconst matchedSkills = resumeSkills.filter(skill => \n  jobDesc.includes(skill) || jobTitle.includes(skill)\n);\n\nconst skillOverlapPercent = resumeSkills.length > 0 \n  ? Math.round((matchedSkills.length / resumeSkills.length) * 100)\n  : 0;\n\n// Calculate experience relevance\nconst experienceYears = parseInt(enrichedProfile.experience.match(/\\d+/)?.[0] || '0');\nconst hasRelevantProjects = (resumeData.projects || []).some(project => {\n  const projectTech = (project.technologies || []).join(' ').toLowerCase();\n  return matchedSkills.some(skill => projectTech.includes(skill));\n});\n\nconst experienceScore = Math.min(experienceYears * 10, 50);\nconst projectScore = hasRelevantProjects ? 20 : 0;\n\n// Overall relevance score\nconst relevanceScore = Math.min(skillOverlapPercent + experienceScore + projectScore, 100);\n\n// Generate match details\nconst matchDetails = {\n  skillOverlapPercent,\n  matchedSkills: matchedSkills.slice(0, 5), // Top 5\n  totalResumeSkills: resumeSkills.length,\n  experienceYears,\n  hasRelevantProjects,\n  relevanceScore,\n  resumeParsed: resumeData.parsed\n};\n\nreturn [{\n  json: {\n    ...jobData,\n    resumeMatchDetails: JSON.stringify(matchDetails)\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "1ab36420-f563-4b4d-b0b0-333412e4385a",
      "name": "Resume Match Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// Email account state - Now reads from centralized Multi-Account State Manager\nconst staticData = this.getWorkflowStaticData('global');\n\n// Initialize centralized state if not exists\nif (!staticData.multiAccountState) {\n  staticData.multiAccountState = {\n    gmail: {\n      account1: { email: 'raviintouch2@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      account2: { email: 'ravitejavallakatla7@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      account3: { email: 'ravitejav081@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      account4: { email: 'ravitejav0801@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      currentActive: 'account1'\n    },\n    sheets: { account1: {}, account2: {}, account3: {}, account4: {}, currentActive: 'account1' },\n    groq: { key1: {}, key2: {}, key3: {}, key4: {}, currentActive: 'key1' },\n    jobApis: {},\n    lastResetDate: null,\n    switchHistory: []\n  };\n}\n\n// Return Gmail state from centralized manager\nreturn [{ json: staticData.multiAccountState.gmail }];",
        "mode": "runOnceForAllItems"
      },
      "id": "209d5736-876f-4ad1-b1cf-a8998e3653ab",
      "name": "Email Account State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        1900
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check email account status - Uses centralized state\nconst staticData = this.getWorkflowStaticData('global');\nconst config = $('User Config (Master Profile)').item.json;\nconst today = new Date().toISOString().split('T')[0];\n\n// Ensure centralized state exists\nif (!staticData.multiAccountState || !staticData.multiAccountState.gmail) {\n  return [{ json: { error: 'multiAccountState not initialized', accountToUse: 'skip' } }];\n}\n\nconst state = staticData.multiAccountState.gmail;\n\n// Daily reset check (backup - primary reset happens in Daily Reset Handler)\nif (staticData.multiAccountState.lastResetDate !== today) {\n  state.account1.dailyCount = 0;\n  state.account1.errors = 0;\n  state.account2.dailyCount = 0;\n  state.account2.errors = 0;\n  state.account3.dailyCount = 0;\n  state.account3.errors = 0;\n  state.account4.dailyCount = 0;\n  state.account4.errors = 0;\n  state.currentActive = 'account1';\n  staticData.multiAccountState.lastResetDate = today;\n}\n\n// Check each account availability in order\nconst accounts = ['account1', 'account2', 'account3', 'account4'];\nlet accountToUse = null;\nlet reason = '';\nlet shouldSwitch = false;\n\n// Find first available account\nfor (const acc of accounts) {\n  const available = state[acc].dailyCount < config.maxEmailsPerAccount \n    && state[acc].errors < config.errorThreshold;\n  \n  if (available) {\n    accountToUse = acc;\n    break;\n  }\n}\n\n// If no account available, skip sending\nif (!accountToUse) {\n  accountToUse = 'skip';\n  reason = 'All 4 accounts exhausted';\n} else if (accountToUse !== state.currentActive) {\n  // Account switch needed\n  shouldSwitch = true;\n  const prevAccount = state.currentActive;\n  const prevState = state[prevAccount];\n  \n  if (prevState.dailyCount >= config.maxEmailsPerAccount) {\n    reason = `Daily limit reached (${prevState.dailyCount}/${config.maxEmailsPerAccount})`;\n  } else if (prevState.errors >= config.errorThreshold) {\n    reason = `Error threshold exceeded (${prevState.errors}/${config.errorThreshold})`;\n  } else {\n    reason = 'Daily reset - returning to account1';\n  }\n  \n  state.currentActive = accountToUse;\n}\n\nreturn [{\n  json: {\n    ...state,\n    accountToUse,\n    shouldSwitch,\n    switchReason: reason,\n    account1Available: state.account1.dailyCount < config.maxEmailsPerAccount && state.account1.errors < config.errorThreshold,\n    account2Available: state.account2.dailyCount < config.maxEmailsPerAccount && state.account2.errors < config.errorThreshold,\n    account3Available: state.account3.dailyCount < config.maxEmailsPerAccount && state.account3.errors < config.errorThreshold,\n    account4Available: state.account4.dailyCount < config.maxEmailsPerAccount && state.account4.errors < config.errorThreshold\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "ca85d538-75b2-4fc1-b3fa-0ef2363716a4",
      "name": "Check Email Account Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        1900
      ]
    },
    {
      "parameters": {
        "jsCode": "// Daily Reset Check - Now uses centralized Multi-Account State Manager\nconst staticData = this.getWorkflowStaticData('global');\nconst today = new Date().toISOString().split('T')[0];\n\n// Ensure centralized state exists\nif (!staticData.multiAccountState) {\n  staticData.multiAccountState = {\n    gmail: {\n      account1: { email: 'raviintouch2@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      account2: { email: 'ravitejavallakatla7@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      account3: { email: 'ravitejav081@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      account4: { email: 'ravitejav0801@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      currentActive: 'account1'\n    },\n    sheets: {\n      account1: { email: 'raviintouch2@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n      account2: { email: 'ravitejavallakatla7@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n      account3: { email: 'ravitejav081@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n      account4: { email: 'ravitejav0801@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n      currentActive: 'account1'\n    },\n    groq: {\n      key1: { name: 'groq1', dailyRequests: 0, credentialId: '', lastError: null },\n      key2: { name: 'groq2', dailyRequests: 0, credentialId: '', lastError: null },\n      key3: { name: 'groq3', dailyRequests: 0, credentialId: '', lastError: null },\n      key4: { name: 'groq4', dailyRequests: 0, credentialId: '', lastError: null },\n      currentActive: 'key1'\n    },\n    jobApis: {\n      remotive: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n      arbeitnow: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n      adzuna: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n      jsearch: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n      themuse: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n      usajobs: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n      githubjobs: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 }\n    },\n    lastResetDate: null,\n    switchHistory: []\n  };\n}\n\nconst state = staticData.multiAccountState;\n\n// Perform daily reset if needed\nif (state.lastResetDate !== today) {\n  // Reset Gmail accounts\n  state.gmail.account1.dailyCount = 0;\n  state.gmail.account1.errors = 0;\n  state.gmail.account2.dailyCount = 0;\n  state.gmail.account2.errors = 0;\n  state.gmail.account3.dailyCount = 0;\n  state.gmail.account3.errors = 0;\n  state.gmail.account4.dailyCount = 0;\n  state.gmail.account4.errors = 0;\n  state.gmail.currentActive = 'account1';\n  \n  // Reset Google Sheets accounts\n  state.sheets.account1.dailyWrites = 0;\n  state.sheets.account1.lastError = null;\n  state.sheets.account2.dailyWrites = 0;\n  state.sheets.account2.lastError = null;\n  state.sheets.account3.dailyWrites = 0;\n  state.sheets.account3.lastError = null;\n  state.sheets.account4.dailyWrites = 0;\n  state.sheets.account4.lastError = null;\n  state.sheets.currentActive = 'account1';\n  \n  // Reset Groq API keys\n  state.groq.key1.dailyRequests = 0;\n  state.groq.key1.lastError = null;\n  state.groq.key2.dailyRequests = 0;\n  state.groq.key2.lastError = null;\n  state.groq.key3.dailyRequests = 0;\n  state.groq.key3.lastError = null;\n  state.groq.key4.dailyRequests = 0;\n  state.groq.key4.lastError = null;\n  state.groq.currentActive = 'key1';\n  \n  // Update last reset date\n  state.lastResetDate = today;\n  \n  console.log('\u2705 Daily reset performed: All account counters reset to 0');\n}\n\n// Pass through to next node\nreturn [{json: {resetChecked: true, date: today, resetPerformed: state.lastResetDate === today}}];",
        "mode": "runOnceForAllItems"
      },
      "id": "461ee89c-59e0-4f82-bc69-d4180429b5a3",
      "name": "Daily Reset Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        1800
      ]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "type": "expression",
              "value": "={{ $json.accountToUse === 'account1' }}",
              "output": 0
            },
            {
              "type": "expression",
              "value": "={{ $json.accountToUse === 'account2' }}",
              "output": 1
            },
            {
              "type": "expression",
              "value": "={{ $json.accountToUse === 'account3' }}",
              "output": 2
            },
            {
              "type": "expression",
              "value": "={{ $json.accountToUse === 'account4' }}",
              "output": 3
            },
            {
              "type": "expression",
              "value": "={{ $json.accountToUse === 'skip' }}",
              "output": 4
            }
          ]
        }
      },
      "id": "2ed4cf27-3799-45f4-af81-dd1771f38179",
      "name": "Select Gmail Credential",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        900,
        1900
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Recruiter Email'] || $json.recruiterEmail }}",
        "subject": "={{ $json.emailSubject }}",
        "message": "={{ $json.emailBody }}",
        "options": {
          "ccList": "={{ $('User Config (Master Profile)').item.json.userEmail }}"
        }
      },
      "id": "6557e0f6-3642-438a-937a-439a5283d4fe",
      "name": "Send Email via Gmail Account 1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        1700
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_ACCOUNT_1_CREDENTIAL_ID",
          "name": "Gmail Account 1 (raviintouch2@gmail.com)"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Recruiter Email'] || $json.recruiterEmail }}",
        "subject": "={{ $json.emailSubject }}",
        "message": "={{ $json.emailBody }}",
        "options": {
          "ccList": "={{ $('User Config (Master Profile)').item.json.userEmail }}"
        }
      },
      "id": "38c4c338-0dab-4e31-af01-8d20fba4c2bf",
      "name": "Send Email via Gmail Account 2",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        1800
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_ACCOUNT_2_CREDENTIAL_ID",
          "name": "Gmail Account 2 (ravitejavallakatla7@gmail.com)"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Recruiter Email'] || $json.recruiterEmail }}",
        "subject": "={{ $json.emailSubject }}",
        "message": "={{ $json.emailBody }}",
        "options": {
          "ccList": "={{ $('User Config (Master Profile)').item.json.userEmail }}"
        }
      },
      "id": "9b84ff23-9372-477a-8460-6ff005c862a9",
      "name": "Send Email via Gmail Account 3",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        1900
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_ACCOUNT_3_CREDENTIAL_ID",
          "name": "Gmail Account 3 (ravitejav081@gmail.com)"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Recruiter Email'] || $json.recruiterEmail }}",
        "subject": "={{ $json.emailSubject }}",
        "message": "={{ $json.emailBody }}",
        "options": {
          "ccList": "={{ $('User Config (Master Profile)').item.json.userEmail }}"
        }
      },
      "id": "cec20a49-7dc8-4be9-a0d9-dd09c13a8406",
      "name": "Send Email via Gmail Account 4",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        2000
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_ACCOUNT_4_CREDENTIAL_ID",
          "name": "Gmail Account 4 (ravitejav0801@gmail.com)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log warning when all 4 accounts exhausted\nconst state = $('Check Email Account Status').item.json;\n\nconsole.warn('WARNING: All 4 email accounts exhausted. Skipping email send.');\nconsole.warn(`Account 1: ${state.account1.dailyCount} sent, ${state.account1.errors} errors`);\nconsole.warn(`Account 2: ${state.account2.dailyCount} sent, ${state.account2.errors} errors`);\nconsole.warn(`Account 3: ${state.account3.dailyCount} sent, ${state.account3.errors} errors`);\nconsole.warn(`Account 4: ${state.account4.dailyCount} sent, ${state.account4.errors} errors`);\n\nreturn [{\n  json: {\n    ...items[0].json,\n    sendStatus: 'skipped',\n    skipReason: 'All 4 accounts exhausted',\n    account1Count: state.account1.dailyCount,\n    account2Count: state.account2.dailyCount,\n    account3Count: state.account3.dailyCount,\n    account4Count: state.account4.dailyCount\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "5b6fa55e-70a3-43ad-9fe9-277b5bb0b8c9",
      "name": "Skip Send - All 4 Accounts Exhausted",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        2100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Handle email send result - Uses centralized state\nconst item = items[0].json;\nconst staticData = this.getWorkflowStaticData('global');\nconst state = staticData.multiAccountState.gmail;\nconst config = $('User Config (Master Profile)').item.json;\n\nconst sendStatus = item.sendStatus === 'skipped' ? 'skipped' : item.error ? 'error' : 'success';\nconst accountUsed = $('Check Email Account Status').item.json.accountToUse;\n\n// Update state based on result\nif (sendStatus === 'success') {\n  if (state[accountUsed]) {\n    state[accountUsed].dailyCount++;\n    state[accountUsed].errors = 0;\n  }\n} else if (sendStatus === 'error') {\n  if (state[accountUsed]) {\n    state[accountUsed].errors++;\n  }\n}\n\nreturn [{\n  json: {\n    ...item,\n    sendStatus,\n    accountUsed,\n    shouldNotify: $('Check Email Account Status').item.json.shouldSwitch,\n    account1DailyCount: state.account1.dailyCount,\n    account2DailyCount: state.account2.dailyCount,\n    account3DailyCount: state.account3.dailyCount,\n    account4DailyCount: state.account4.dailyCount,\n    account1Errors: state.account1.errors,\n    account2Errors: state.account2.errors,\n    account3Errors: state.account3.errors,\n    account4Errors: state.account4.errors,\n    currentActive: state.currentActive,\n    switchReason: $('Check Email Account Status').item.json.switchReason\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "53ed1ded-af1a-49e7-be4f-1d18e1b06ece",
      "name": "Email Send Result Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        1900
      ]
    },
    {
      "parameters": {
        "jsCode": "// Persist updated email state - 4-way rotation\nconst staticData = this.getWorkflowStaticData('global');\nconst state = staticData.emailAccountState;\n\n// State is already updated in Email Send Result Handler\n// Just pass through for logging or potential Sheet append\n\nreturn [{\n  json: {\n    ...items[0].json,\n    stateUpdated: true,\n    timestamp: new Date().toISOString(),\n    currentState: {\n      account1Count: state.account1.dailyCount,\n      account2Count: state.account2.dailyCount,\n      account3Count: state.account3.dailyCount,\n      account4Count: state.account4.dailyCount,\n      activeAccount: state.currentActive,\n      account1Errors: state.account1.errors,\n      account2Errors: state.account2.errors,\n      account3Errors: state.account3.errors,\n      account4Errors: state.account4.errors\n    }\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "473629e9-2a14-47bd-9e85-17ea47ebcfd2",
      "name": "Update Email State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        1900
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=\u26a0\ufe0f **Email Account Switched**\n\n**Reason:** {{ $json.switchReason }}\n\n**Previous Account:** {{ $json.accountUsed === 'account1' ? 'Account 1 (raviintouch2@gmail.com)' : $json.accountUsed === 'account2' ? 'Account 2 (ravitejavallakatla7@gmail.com)' : $json.accountUsed === 'account3' ? 'Account 3 (ravitejav081@gmail.com)' : 'Account 4 (ravitejav0801@gmail.com)' }}\n**New Active Account:** {{ $json.currentActive === 'account1' ? 'Account 1 (raviintouch2@gmail.com)' : $json.currentActive === 'account2' ? 'Account 2 (ravitejavallakatla7@gmail.com)' : $json.currentActive === 'account3' ? 'Account 3 (ravitejav081@gmail.com)' : 'Account 4 (ravitejav0801@gmail.com)' }}\n\n**All Account Status:**\n\ud83d\udce7 Account 1: {{ $json.account1DailyCount }}/50 sent, {{ $json.account1Errors }} errors\n\ud83d\udce7 Account 2: {{ $json.account2DailyCount }}/50 sent, {{ $json.account2Errors }} errors\n\ud83d\udce7 Account 3: {{ $json.account3DailyCount }}/50 sent, {{ $json.account3Errors }} errors\n\ud83d\udce7 Account 4: {{ $json.account4DailyCount }}/50 sent, {{ $json.account4Errors }} errors\n\n**Total Capacity:** 200 emails/day (50 per account \u00d7 4)\n\n**Time:** {{ $json.timestamp }}",
        "additionalFields": {}
      },
      "id": "8c662348-c878-4e22-9262-0fe23ab50ebd",
      "name": "Email Account Switch Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1780,
        1900
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.shouldNotify }}",
              "value2": true
            }
          ]
        }
      },
      "id": "bf6a6ca4-c743-4c1a-9b75-f35683ac8367",
      "name": "Should Send Notification?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1560,
        2000
      ]
    },
    {
      "parameters": {
        "jsCode": "// Select active Google Sheets credential based on account state\nconst staticData = this.getWorkflowStaticData('global');\nconst config = $('User Config (Master Profile)').item.json;\n\n// Initialize if not exists\nif (!staticData.sheetsAccountState) {\n  staticData.sheetsAccountState = {\n    account1: { email: 'raviintouch2@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n    account2: { email: 'ravitejavallakatla7@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n    account3: { email: 'ravitejav081@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n    account4: { email: 'ravitejav0801@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n    currentActive: 'account1',\n    lastResetDate: null\n  };\n}\n\nconst state = staticData.sheetsAccountState;\nconst maxWrites = config.maxSheetsWritesPerAccount || 300;\n\n// Find first available account\nconst accounts = ['account1', 'account2', 'account3', 'account4'];\nlet accountToUse = state.currentActive;\n\nfor (const acc of accounts) {\n  if (state[acc].dailyWrites < maxWrites && !state[acc].lastError) {\n    accountToUse = acc;\n    break;\n  }\n}\n\n// Map to credential IDs\nconst credentialMap = {\n  account1: config.sheetsAccount1CredentialId,\n  account2: config.sheetsAccount2CredentialId,\n  account3: config.sheetsAccount3CredentialId,\n  account4: config.sheetsAccount4CredentialId\n};\n\nreturn [{\n  json: {\n    ...items[0].json,\n    sheetsAccountToUse: accountToUse,\n    sheetsCredentialId: credentialMap[accountToUse],\n    sheetsAccountEmail: state[accountToUse].email\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "c0e1bb20-7b9c-4c78-871f-d065c21c78d8",
      "name": "Select Sheets Credential",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "// Handle Google Sheets API errors and trigger account switch\n// (Centralised state version - reads multiAccountState.sheets)\nconst staticData = this.getWorkflowStaticData('global');\nconst item = items[0].json;\n\n// Pass through if state not initialised yet\nif (!staticData.multiAccountState || !staticData.multiAccountState.sheets) {\n  return [{ json: { ...item, errorHandled: false, reason: 'state not initialised' } }];\n}\n\nconst state = staticData.multiAccountState.sheets;\nlet switched = false;\nlet switchReason = '';\n\nif (item.error) {\n  const errorCode = item.error.httpCode || item.error.code;\n  const errorMessage = item.error.message || '';\n\n  // Detect quota / rate-limit errors\n  if (errorCode === 429 || errorCode === 403 ||\n      errorMessage.includes('quota') || errorMessage.includes('rate limit')) {\n    const currentAccount = state.currentActive;\n    state[currentAccount].lastError = { code: errorCode, message: errorMessage, time: new Date().toISOString() };\n\n    // Find next viable account\n    const accounts = ['account1', 'account2', 'account3', 'account4'];\n    const currentIndex = accounts.indexOf(currentAccount);\n    const config = $('User Config (Master Profile)').item.json;\n    const maxWrites = config.maxSheetsWritesPerAccount || 300;\n\n    for (let i = 1; i <= 4; i++) {\n      const next = accounts[(currentIndex + i) % 4];\n      if (state[next].dailyWrites < maxWrites && !state[next].lastError) {\n        state.currentActive = next;\n        switched = true;\n        switchReason = `Error ${errorCode}: ${errorMessage}`;\n        console.log(`Sheets account switched from ${currentAccount} to ${next} due to error`);\n        break;\n      }\n    }\n  }\n}\n\nreturn [{\n  json: {\n    ...item,\n    errorHandled: true,\n    sheetsAccountSwitched: switched,\n    sheetsSwitchReason: switchReason,\n    sheetsAccount: state.currentActive,\n    sheetsNeedsSwitch: switched\n  }\n}];\n",
        "mode": "runOnceForAllItems"
      },
      "id": "6d1c2747-c97f-4756-85dd-a8c1bccde771",
      "name": "Sheets Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Update Sheets write counter - Uses centralized state\nconst staticData = this.getWorkflowStaticData('global');\nconst state = staticData.multiAccountState.sheets;\nconst config = $('User Config (Master Profile)').item.json;\nconst maxWrites = config.maxSheetsWritesPerAccount || 300;\n\nconst currentAccount = state.currentActive;\n\n// Increment write count\nstate[currentAccount].dailyWrites++;\n\nconsole.log(`Sheets write recorded: ${state[currentAccount].email} - ${state[currentAccount].dailyWrites}/${maxWrites}`);\n\n// Check if we need to switch accounts (reached daily limit)\nlet needsSwitch = false;\nlet switchReason = '';\n\nif (state[currentAccount].dailyWrites >= maxWrites) {\n  // Find next available account\n  const accounts = ['account1', 'account2', 'account3', 'account4'];\n  const currentIndex = accounts.indexOf(currentAccount);\n  \n  for (let i = 1; i <= 4; i++) {\n    const nextIndex = (currentIndex + i) % 4;\n    const nextAccount = accounts[nextIndex];\n    \n    if (state[nextAccount].dailyWrites < maxWrites && !state[nextAccount].lastError) {\n      state.currentActive = nextAccount;\n      needsSwitch = true;\n      switchReason = `Daily write limit reached (${state[currentAccount].dailyWrites}/${maxWrites})`;\n      console.log(`Sheets account switched from ${currentAccount} to ${nextAccount}`);\n      break;\n    }\n  }\n}\n\nreturn [{\n  json: {\n    ...items[0].json,\n    sheetsWriteRecorded: true,\n    sheetsAccount: currentAccount,\n    sheetsWriteCount: state[currentAccount].dailyWrites,\n    sheetsNeedsSwitch: needsSwitch,\n    sheetsSwitchReason: switchReason,\n    account1Writes: state.account1.dailyWrites,\n    account2Writes: state.account2.dailyWrites,\n    account3Writes: state.account3.dailyWrites,\n    account4Writes: state.account4.dailyWrites\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "5ed54abe-c0c5-4b4d-abd4-0ec38804246d",
      "name": "Update Sheets Write Counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2680,
        500
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=\ud83d\udcca **Google Sheets Account Switched**\\n\\n**Reason:** {{ $json.sheetsSwitchReason }}\\n\\n**Previous Account:** {{ $json.sheetsAccount === 'account1' ? 'Account 1 (raviintouch2@gmail.com)' : $json.sheetsAccount === 'account2' ? 'Account 2 (ravitejavallakatla7@gmail.com)' : $json.sheetsAccount === 'account3' ? 'Account 3 (ravitejav081@gmail.com)' : 'Account 4 (ravitejav0801@gmail.com)' }}\\n\\n**All Sheets Account Status:**\\n\ud83d\udcdd Account 1: {{ $json.account1Writes }}/300 writes\\n\ud83d\udcdd Account 2: {{ $json.account2Writes }}/300 writes\\n\ud83d\udcdd Account 3: {{ $json.account3Writes }}/300 writes\\n\ud83d\udcdd Account 4: {{ $json.account4Writes }}/300 writes\\n\\n**Total Daily Capacity:** 1200 writes/day (300 per account \u00d7 4)",
        "additionalFields": {}
      },
      "id": "ffa5e853-5f71-4b66-88a5-07ba0e8bea69",
      "name": "Sheets Account Switch Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2900,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.sheetsNeedsSwitch }}",
              "value2": true
            }
          ]
        }
      },
      "id": "81db326e-3d68-481c-b132-e52de793f2a5",
      "name": "Check if Sheets Switch Notification Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2680,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Groq API Key state - Now reads from centralized Multi-Account State Manager\nconst staticData = this.getWorkflowStaticData('global');\n\n// Ensure centralized state exists\nif (!staticData.multiAccountState || !staticData.multiAccountState.groq) {\n  if (!staticData.multiAccountState) {\n    staticData.multiAccountState = {\n      gmail: { account1: {}, account2: {}, account3: {}, account4: {}, currentActive: 'account1' },\n      sheets: { account1: {}, account2: {}, account3: {}, account4: {}, currentActive: 'account1' },\n      groq: {\n        key1: { name: 'groq1', dailyRequests: 0, credentialId: '', lastError: null },\n        key2: { name: 'groq2', dailyRequests: 0, credentialId: '', lastError: null },\n        key3: { name: 'groq3', dailyRequests: 0, credentialId: '', lastError: null },\n        key4: { name: 'groq4', dailyRequests: 0, credentialId: '', lastError: null },\n        currentActive: 'key1'\n      },\n      jobApis: {},\n      lastResetDate: null,\n      switchHistory: []\n    };\n  }\n}\n\n// Return Groq state from centralized manager\nreturn [{ json: staticData.multiAccountState.groq }];",
        "mode": "runOnceForAllItems"
      },
      "id": "a3b9e6ac-34ec-457c-8fbd-468c019a5afa",
      "name": "Groq API Key State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Select active Groq API key based on key state\nconst staticData = this.getWorkflowStaticData('global');\nconst config = $('User Config (Master Profile)').item.json;\n\n// Initialize if not exists\nif (!staticData.groqKeyState) {\n  staticData.groqKeyState = {\n    key1: { name: 'groq1', dailyRequests: 0, credentialId: '', lastError: null },\n    key2: { name: 'groq2', dailyRequests: 0, credentialId: '', lastError: null },\n    key3: { name: 'groq3', dailyRequests: 0, credentialId: '', lastError: null },\n    key4: { name: 'groq4', dailyRequests: 0, credentialId: '', lastError: null },\n    currentActive: 'key1',\n    lastResetDate: null\n  };\n}\n\nconst state = staticData.groqKeyState;\nconst maxRequests = config.maxGroqRequestsPerKey || 14400;\n\n// Find first available key\nconst keys = ['key1', 'key2', 'key3', 'key4'];\nlet keyToUse = state.currentActive;\n\nfor (const key of keys) {\n  const available = state[key].dailyRequests < maxRequests && !state[key].lastError;\n  if (available) {\n    keyToUse = key;\n    break;\n  }\n}\n\n// Map to credential IDs\nconst credentialMap = {\n  key1: config.groqKey1CredentialId,\n  key2: config.groqKey2CredentialId,\n  key3: config.groqKey3CredentialId,\n  key4: config.groqKey4CredentialId\n};\n\nreturn [{\n  json: {\n    ...items[0].json,\n    groqKeyToUse: keyToUse,\n    groqCredentialId: credentialMap[keyToUse],\n    groqKeyName: state[keyToUse].name\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "41c68ab0-9e23-4800-9f31-9c79e54e05d4",
      "name": "Select Groq Credential",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1950,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "// Handle Groq API errors and trigger key switch\n// (Centralised state version - reads multiAccountState.groq)\nconst staticData = this.getWorkflowStaticData('global');\nconst item = items[0].json;\n\nif (!staticData.multiAccountState || !staticData.multiAccountState.groq) {\n  return [{ json: { ...item, errorHandled: false, reason: 'state not initialised' } }];\n}\n\nconst state = staticData.multiAccountState.groq;\nlet switched = false;\nlet switchReason = '';\n\nif (item.error) {\n  const errorCode = item.error.httpCode || item.error.code;\n  const errorMessage = item.error.message || '';\n\n  if (errorCode === 429 ||\n      errorMessage.includes('rate limit') ||\n      errorMessage.includes('quota') ||\n      errorMessage.includes('exceeded')) {\n    const currentKey = state.currentActive;\n    state[currentKey].lastError = { code: errorCode, message: errorMessage, time: new Date().toISOString() };\n\n    const keys = ['key1', 'key2', 'key3', 'key4'];\n    const currentIndex = keys.indexOf(currentKey);\n    const config = $('User Config (Master Profile)').item.json;\n    const maxRequests = config.maxGroqRequestsPerKey || 14400;\n\n    for (let i = 1; i <= 4; i++) {\n      const next = keys[(currentIndex + i) % 4];\n      if (state[next].dailyRequests < maxRequests && !state[next].lastError) {\n        state.currentActive = next;\n        switched = true;\n        switchReason = `Error ${errorCode}: ${errorMessage}`;\n        console.log(`Groq key switched from ${currentKey} to ${next} due to error`);\n        break;\n      }\n    }\n  }\n}\n\nreturn [{\n  json: {\n    ...item,\n    errorHandled: true,\n    groqKeySwitched: switched,\n    groqSwitchReason: switchReason,\n    groqKey: state.currentActive,\n    groqNeedsSwitch: switched\n  }\n}];\n",
        "mode": "runOnceForAllItems"
      },
      "id": "c1d42a21-065c-488c-a47e-f5583c3ac331",
      "name": "Groq Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Update Groq request counter - Uses centralized state\nconst staticData = this.getWorkflowStaticData('global');\nconst state = staticData.multiAccountState.groq;\nconst config = $('User Config (Master Profile)').item.json;\nconst maxRequests = config.maxGroqRequestsPerKey || 14400;\n\nconst currentKey = state.currentActive;\n\n// Increment request count\nstate[currentKey].dailyRequests++;\n\nconsole.log(`Groq request recorded: ${state[currentKey].name} - ${state[currentKey].dailyRequests}/${maxRequests}`);\n\n// Check if we need to switch keys (reached daily limit)\nlet needsSwitch = false;\nlet switchReason = '';\n\nif (state[currentKey].dailyRequests >= maxRequests) {\n  // Find next available key\n  const keys = ['key1', 'key2', 'key3', 'key4'];\n  const currentIndex = keys.indexOf(currentKey);\n  \n  for (let i = 1; i <= 4; i++) {\n    const nextIndex = (currentIndex + i) % 4;\n    const nextKey = keys[nextIndex];\n    \n    if (state[nextKey].dailyRequests < maxRequests && !state[nextKey].lastError) {\n      state.currentActive = nextKey;\n      needsSwitch = true;\n      switchReason = `Daily limit reached (${state[currentKey].dailyRequests}/${maxRequests})`;\n      console.log(`Groq key switched from ${currentKey} to ${nextKey}`);\n      break;\n    }\n  }\n}\n\nreturn [{\n  json: {\n    ...items[0].json,\n    groqRequestRecorded: true,\n    groqKey: currentKey,\n    groqRequestCount: state[currentKey].dailyRequests,\n    groqNeedsSwitch: needsSwitch,\n    groqSwitchReason: switchReason,\n    key1Requests: state.key1.dailyRequests,\n    key2Requests: state.key2.dailyRequests,\n    key3Requests: state.key3.dailyRequests,\n    key4Requests: state.key4.dailyRequests\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "3faf92ba-9ddb-4878-835a-68ce20ec7e5f",
      "name": "Update Groq Request Counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        360
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=\ud83d\udd11 **Groq API Key Switched**\\n\\n**Reason:** {{ $json.groqSwitchReason }}\\n\\n**Previous Key:** Key {{ $json.groqKey.replace('key', '') }} ({{ $json.groqKeyName }})\\n\\n**All Groq Key Status:**\\n\ud83e\udd16 Key 1 (groq1): {{ $json.key1Requests }}/14400 requests\\n\ud83e\udd16 Key 2 (groq2): {{ $json.key2Requests }}/14400 requests\\n\ud83e\udd16 Key 3 (groq3): {{ $json.key3Requests }}/14400 requests\\n\ud83e\udd16 Key 4 (groq4): {{ $json.key4Requests }}/14400 requests\\n\\n**Total Daily Capacity:** 57,600 requests/day (14,400 per key \u00d7 4)\\n\\n**Estimated Daily Usage:** ~71 requests/day (resume parsing + job scoring + email generation + Telegram queries)",
        "additionalFields": {}
      },
      "id": "a2726779-5cfb-4848-9813-7fb702e93221",
      "name": "Groq Key Switch Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2640,
        100
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.groqNeedsSwitch }}",
              "value2": true
            }
          ]
        }
      },
      "id": "a07e96ff-19da-4242-b770-a3bf42b3c715",
      "name": "Check if Groq Switch Notification Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2420,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "// Job API State Manager - Now reads from centralized Multi-Account State Manager\nconst staticData = this.getWorkflowStaticData('global');\n\n// Ensure centralized state exists\nif (!staticData.multiAccountState || !staticData.multiAccountState.jobApis) {\n  if (!staticData.multiAccountState) {\n    staticData.multiAccountState = {\n      gmail: { account1: {}, account2: {}, account3: {}, account4: {}, currentActive: 'account1' },\n      sheets: { account1: {}, account2: {}, account3: {}, account4: {}, currentActive: 'account1' },\n      groq: { key1: {}, key2: {}, key3: {}, key4: {}, currentActive: 'key1' },\n      jobApis: {\n        remotive: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n        arbeitnow: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n        adzuna: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n        jsearch: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n        themuse: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n        usajobs: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n        githubjobs: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 }\n      },\n      lastResetDate: null,\n      switchHistory: []\n    };\n  }\n}\n\n// Return Job API state from centralized manager\nreturn [{ json: staticData.multiAccountState.jobApis }];",
        "mode": "runOnceForAllItems"
      },
      "id": "24c84e7e-65df-4fdf-9ff7-2312915b4ae7",
      "name": "Job API State Manager",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://jsearch.p.rapidapi.com/search",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('User Config (Master Profile)').item.json.rapidapiKey }}"
            },
            {
              "name": "x-rapidapi-host",
              "value": "jsearch.p.rapidapi.com"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $('User Config (Master Profile)').item.json.keywords }}"
            },
            {
              "name": "num_pages",
              "value": "1"
            }
          ]
        }
      },
      "id": "8f0701af-64b5-4653-b460-2ddea2342b33",
      "name": "Fetch JSearch API (RapidAPI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Extract email from job description (careers@, hr@, hiring@, etc.)\nfunction extractContactEmail(text) {\n  if (!text) return { email: '', name: '' };\n  const emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g;\n  const found = (text.match(emailRegex) || [])\n    .filter(e => !e.includes('example.com'))\n    .filter(e => !e.includes('noreply'))\n    .filter(e => !e.includes('unsubscribe'))\n    .filter(e => !e.includes('notifications'))\n    .filter(e => !e.endsWith('.png'))\n    .filter(e => !e.endsWith('.jpg'));\n  \n  if (found.length === 0) return { email: '', name: '' };\n  \n  // Prefer emails with career/hr/hiring/jobs keywords\n  const priority = ['career', 'hr', 'hiring', 'job', 'recruit', 'talent', 'people', 'apply', 'team'];\n  const best = found.find(e => priority.some(k => e.toLowerCase().includes(k))) || found[0];\n  const name = best.split('@')[0].replace(/[._-]/g, ' ').replace(/\\b\\w/g, l => l.toUpperCase());\n  return { email: best, name };\n}\n\n// Parse JSearch API response\nconst response = items[0].json;\nconst jobs = response.data || [];\n\nreturn jobs.map(job => {\n  const fullText = (job.job_description || '') + ' ' + (job.job_highlights?.Qualifications?.join(' ') || '');\n  const contact = extractContactEmail(fullText);\n  \n  return {\n    json: {\n      source: 'JSearch',\n      jobTitle: job.job_title || 'Unknown',\n      company: job.employer_name || 'Unknown',\n      location: job.job_city && job.job_country ? job.job_city + ', ' + job.job_country : 'Remote',\n      jobType: job.job_employment_type || 'Full-time',\n      workMode: job.job_is_remote ? 'Remote' : 'Onsite',\n      salary: job.job_salary || 'Not disclosed',\n      applyUrl: job.job_apply_link || '',\n      description: (job.job_description || '').substring(0, 500),\n      tags: [],\n      postedDate: job.job_posted_at_datetime_utc ? new Date(job.job_posted_at_datetime_utc).toISOString().split('T')[0] : new Date().toISOString().split('T')[0],\n      category: '',\n      jobId: `jsearch-${job.job_id || Date.now()}`,\n      fetchedDate: new Date().toISOString().split('T')[0],\n      recruiterEmail: contact.email,\n      recruiterName: contact.name\n    }\n  };\n});",
        "mode": "runOnceForAllItems"
      },
      "id": "42b36453-394d-4d1b-ba7d-088f2b187585",
      "name": "Parse JSearch Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        480
      ]
    },
    {
      "parameters": {
        "url": "https://www.themuse.com/api/public/jobs",
        "method": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "category",
              "value": "={{ $('User Config (Master Profile)').item.json.keywords }}"
            },
            {
              "name": "location",
              "value": "={{ $('User Config (Master Profile)').item.json.location }}"
            }
          ]
        }
      },
      "id": "b94c2e5b-1b22-4de2-abf8-54a458644675",
      "name": "Fetch The Muse API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Extract email from job description (careers@, hr@, hiring@, etc.)\nfunction extractContactEmail(text) {\n  if (!text) return { email: '', name: '' };\n  const emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g;\n  const found = (text.match(emailRegex) || [])\n    .filter(e => !e.includes('example.com'))\n    .filter(e => !e.includes('noreply'))\n    .filter(e => !e.includes('unsubscribe'))\n    .filter(e => !e.includes('notifications'))\n    .filter(e => !e.endsWith('.png'))\n    .filter(e => !e.endsWith('.jpg'));\n  \n  if (found.length === 0) return { email: '', name: '' };\n  \n  // Prefer emails with career/hr/hiring/jobs keywords\n  const priority = ['career', 'hr', 'hiring', 'job', 'recruit', 'talent', 'people', 'apply', 'team'];\n  const best = found.find(e => priority.some(k => e.toLowerCase().includes(k))) || found[0];\n  const name = best.split('@')[0].replace(/[._-]/g, ' ').replace(/\\b\\w/g, l => l.toUpperCase());\n  return { email: best, name };\n}\n\n// Parse The Muse API response\nconst response = items[0].json;\nconst jobs = response.results || [];\n\nreturn jobs.map(job => {\n  const fullText = (job.contents || '');\n  const contact = extractContactEmail(fullText);\n  \n  return {\n    json: {\n      source: 'The Muse',\n      jobTitle: job.name || 'Unknown',\n      company: job.company?.name || 'Unknown',\n      location: job.locations?.[0]?.name || 'Remote',\n      jobType: job.type || 'Full-time',\n      workMode: 'Remote',\n      salary: 'Not disclosed',\n      applyUrl: job.refs?.landing_page || '',\n      description: (job.contents || '').substring(0, 500),\n      tags: job.categories || [],\n      postedDate: job.publication_date ? new Date(job.publication_date).toISOString().split('T')[0] : new Date().toISOString().split('T')[0],\n      category: job.categories?.[0] || '',\n      jobId: `themuse-${job.id || Date.now()}`,\n      fetchedDate: new Date().toISOString().split('T')[0],\n      recruiterEmail: contact.email,\n      recruiterName: contact.name\n    }\n  };\n});",
        "mode": "runOnceForAllItems"
      },
      "id": "4611d73c-66e8-4dbc-8b43-77d5db6093a6",
      "name": "Parse The Muse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Update API Health Status - Track successes and failures\nconst staticData = this.getWorkflowStaticData('global');\nconst apiState = staticData.jobApiState || {};\n\n// Get results from all API parsers\nconst apiResults = {\n  remotive: $('Parse Remotive Response').all(),\n  arbeitnow: $('Parse Arbeitnow Response').all(),\n  jsearch: $('Parse JSearch Response').all(),\n  themuse: $('Parse The Muse Response').all(),\n  usajobs: $('Parse USAJobs Response').all(),\n  githubjobs: $('Parse GitHub Jobs Response').all()\n};\n\nconst now = new Date().toISOString();\nconst unhealthyApis = [];\n\n// Update status for each API\nfor (const [apiName, results] of Object.entries(apiResults)) {\n  if (!apiState[apiName]) {\n    apiState[apiName] = { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 };\n  }\n  \n  const state = apiState[apiName];\n  \n  // Check if API returned results\n  if (results && results.length > 0 && !results[0].json.error) {\n    // Success - reset failures\n    state.consecutiveFailures = 0;\n    state.lastSuccess = now;\n    state.status = 'healthy';\n  } else {\n    // Failure - increment counter\n    state.consecutiveFailures++;\n    \n    // Mark unhealthy if 5+ consecutive failures\n    if (state.consecutiveFailures >= 5 && state.status !== 'unhealthy') {\n      state.status = 'unhealthy';\n      unhealthyApis.push({\n        name: apiName,\n        failures: state.consecutiveFailures,\n        lastSuccess: state.lastSuccess\n      });\n    }\n  }\n}\n\n// Save updated state\nstaticData.jobApiState = apiState;\n\nreturn [{\n  json: {\n    apiState,\n    unhealthyApis,\n    timestamp: now,\n    healthySummary: Object.entries(apiState).filter(([_, s]) => s.status === 'healthy').map(([name]) => name).join(', '),\n    unhealthySummary: Object.entries(apiState).filter(([_, s]) => s.status === 'unhealthy').map(([name]) => name).join(', ')\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "869c9ff4-cfc9-46aa-9d49-4a8e0b26512f",
      "name": "Update API Health Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Centralized Multi-Account State Manager - Single source of truth\nconst staticData = this.getWorkflowStaticData('global');\n\nif (!staticData.multiAccountState) {\n  staticData.multiAccountState = {\n    gmail: {\n      account1: { email: 'raviintouch2@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      account2: { email: 'ravitejavallakatla7@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      account3: { email: 'ravitejav081@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      account4: { email: 'ravitejav0801@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      currentActive: 'account1'\n    },\n    sheets: {\n      account1: { email: 'raviintouch2@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n      account2: { email: 'ravitejavallakatla7@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n      account3: { email: 'ravitejav081@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n      account4: { email: 'ravitejav0801@gmail.com', dailyWrites: 0, credentialId: '', lastError: null },\n      currentActive: 'account1'\n    },\n    groq: {\n      key1: { name: 'groq1', dailyRequests: 0, credentialId: '', lastError: null },\n      key2: { name: 'groq2', dailyRequests: 0, credentialId: '', lastError: null },\n      key3: { name: 'groq3', dailyRequests: 0, credentialId: '', lastError: null },\n      key4: { name: 'groq4', dailyRequests: 0, credentialId: '', lastError: null },\n      currentActive: 'key1'\n    },\n    jobApis: {\n      remotive: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n      arbeitnow: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n      adzuna: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n      jsearch: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n      themuse: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n      usajobs: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 },\n      githubjobs: { status: 'healthy', lastSuccess: null, consecutiveFailures: 0 }\n    },\n    lastResetDate: null,\n    switchHistory: []\n  };\n}\n\nreturn [{ json: staticData.multiAccountState }];",
        "mode": "runOnceForAllItems"
      },
      "id": "1c85ced9-7e8a-405e-8c70-5c4091c8533d",
      "name": "Multi-Account State Manager",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Daily Reset Handler - Midnight UTC reset for all accounts\nconst staticData = this.getWorkflowStaticData('global');\nconst today = new Date().toISOString().split('T')[0];\n\nif (!staticData.multiAccountState) {\n  // Self-initialise state on first run (e.g. when triggered standalone by midnight reset)\n  staticData.multiAccountState = {\n    gmail: {\n      account1: { email: 'raviintouch2@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      account2: { email: 'ravitejavallakatla7@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      account3: { email: 'ravitejav081@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      account4: { email: 'ravitejav0801@gmail.com', dailyCount: 0, errors: 0, credentialId: '', lastError: null },\n      currentActive: 'account1'\n    },\n    sheets: {\n      account1: { email: 'raviintouch2@gmail.com', dailyWrites: 0, errors: 0, credentialId: '', lastError: null },\n      account2: { email: 'ravitejavallakatla7@gmail.com', dailyWrites: 0, errors: 0, credentialId: '', lastError: null },\n      account3: { email: 'ravitejav081@gmail.com', dailyWrites: 0, errors: 0, credentialId: '', lastError: null },\n      account4: { email: 'ravitejav0801@gmail.com', dailyWrites: 0, errors: 0, credentialId: '', lastError: null },\n      currentActive: 'account1'\n    },\n    groq: {\n      key1: { name: 'groq1', dailyRequests: 0, credentialId: '', lastError: null },\n      key2: { name: 'groq2', dailyRequests: 0, credentialId: '', lastError: null },\n      key3: { name: 'groq3', dailyRequests: 0, credentialId: '', lastError: null },\n      key4: { name: 'groq4', dailyRequests: 0, credentialId: '', lastError: null },\n      currentActive: 'key1'\n    },\n    lastResetDate: null,\n    rotationHistory: []\n  };\n}\n\nconst state = staticData.multiAccountState;\n\n// Check if reset needed\nif (state.lastResetDate !== today) {\n  // Reset Gmail accounts\n  state.gmail.account1.dailyCount = 0;\n  state.gmail.account1.errors = 0;\n  state.gmail.account2.dailyCount = 0;\n  state.gmail.account2.errors = 0;\n  state.gmail.account3.dailyCount = 0;\n  state.gmail.account3.errors = 0;\n  state.gmail.account4.dailyCount = 0;\n  state.gmail.account4.errors = 0;\n  state.gmail.currentActive = 'account1';\n  \n  // Reset Google Sheets accounts\n  state.sheets.account1.dailyWrites = 0;\n  state.sheets.account2.dailyWrites = 0;\n  state.sheets.account3.dailyWrites = 0;\n  state.sheets.account4.dailyWrites = 0;\n  state.sheets.currentActive = 'account1';\n  \n  // Reset Groq API keys\n  state.groq.key1.dailyRequests = 0;\n  state.groq.key2.dailyRequests = 0;\n  state.groq.key3.dailyRequests = 0;\n  state.groq.key4.dailyRequests = 0;\n  state.groq.currentActive = 'key1';\n  \n  // Update last reset date\n  state.lastResetDate = today;\n  \n  console.log(`\u2705 Daily reset performed at midnight UTC for ${today}`);\n  console.log(`   Gmail: All 4 accounts reset to 0 emails, 0 errors`);\n  console.log(`   Sheets: All 4 accounts reset to 0 writes`);\n  console.log(`   Groq: All 4 keys reset to 0 requests`);\n  \n  return [{\n    json: {\n      resetPerformed: true,\n      date: today,\n      timestamp: new Date().toISOString(),\n      message: 'All account counters reset to 0 at midnight UTC'\n    }\n  }];\n} else {\n  return [{\n    json: {\n      resetPerformed: false,\n      date: today,\n      message: 'Reset already performed today',\n      lastResetDate: state.lastResetDate\n    }\n  }];\n}",
        "mode": "runOnceForAllItems"
      },
      "id": "a55a2a5d-5cdd-4e61-8a55-26d9b4c9485e",
      "name": "Daily Reset Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        50
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "id": "d9d1b59f-7575-44cb-bac9-eb61f49a5004",
      "name": "Schedule Trigger: Daily Reset (Midnight UTC)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        50
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get Full State Report for /status command\nconst staticData = this.getWorkflowStaticData('global');\nconst config = $('User Config (Master Profile)').item.json;\n\nif (!staticData.multiAccountState) {\n  return [{ json: { report: '\u274c Multi-Account State not initialized' } }];\n}\n\nconst state = staticData.multiAccountState;\n\n// Gmail Accounts Report\nconst gmailReport = `**Gmail Accounts (200 emails/day capacity)**\n\ud83d\udce7 Account 1 (raviintouch2@gmail.com): ${state.gmail.account1.dailyCount}/50 used, ${state.gmail.account1.errors} errors, Status: ${state.gmail.currentActive === 'account1' ? '\u2705 Active' : 'Ready'}\n\ud83d\udce7 Account 2 (ravitejavallakatla7@gmail.com): ${state.gmail.account2.dailyCount}/50 used, ${state.gmail.account2.errors} errors, Status: ${state.gmail.currentActive === 'account2' ? '\u2705 Active' : 'Ready'}\n\ud83d\udce7 Account 3 (ravitejav081@gmail.com): ${state.gmail.account3.dailyCount}/50 used, ${state.gmail.account3.errors} errors, Status: ${state.gmail.currentActive === 'account3' ? '\u2705 Active' : 'Ready'}\n\ud83d\udce7 Account 4 (ravitejav0801@gmail.com): ${state.gmail.account4.dailyCount}/50 used, ${state.gmail.account4.errors} errors, Status: ${state.gmail.currentActive === 'account4' ? '\u2705 Active' : 'Ready'}\nTotal Used: ${state.gmail.account1.dailyCount + state.gmail.account2.dailyCount + state.gmail.account3.dailyCount + state.gmail.account4.dailyCount}/200`;\n\n// Google Sheets Report\nconst sheetsReport = `**Google Sheets (1200 writes/day capacity)**\n\ud83d\udcdd Account 1: ${state.sheets.account1.dailyWrites}/300 writes, Status: ${state.sheets.currentActive === 'account1' ? '\u2705 Active' : 'Ready'}\n\ud83d\udcdd Account 2: ${state.sheets.account2.dailyWrites}/300 writes, Status: ${state.sheets.currentActive === 'account2' ? '\u2705 Active' : 'Ready'}\n\ud83d\udcdd Account 3: ${state.sheets.account3.dailyWrites}/300 writes, Status: ${state.sheets.currentActive === 'account3' ? '\u2705 Active' : 'Ready'}\n\ud83d\udcdd Account 4: ${state.sheets.account4.dailyWrites}/300 writes, Status: ${state.sheets.currentActive === 'account4' ? '\u2705 Active' : 'Ready'}\nTotal Used: ${state.sheets.account1.dailyWrites + state.sheets.account2.dailyWrites + state.sheets.account3.dailyWrites + state.sheets.account4.dailyWrites}/1200`;\n\n// Groq API Keys Report\nconst groqReport = `**Groq API Keys (57,600 requests/day capacity)**\n\ud83e\udd16 Key 1 (groq1): ${state.groq.key1.dailyRequests}/14400 requests, Status: ${state.groq.currentActive === 'key1' ? '\u2705 Active' : 'Ready'}\n\ud83e\udd16 Key 2 (groq2): ${state.groq.key2.dailyRequests}/14400 requests, Status: ${state.groq.currentActive === 'key2' ? '\u2705 Active' : 'Ready'}\n\ud83e\udd16 Key 3 (groq3): ${state.groq.key3.dailyRequests}/14400 requests, Status: ${state.groq.currentActive === 'key3' ? '\u2705 Active' : 'Ready'}\n\ud83e\udd16 Key 4 (groq4): ${state.groq.key4.dailyRequests}/14400 requests, Status: ${state.groq.currentActive === 'key4' ? '\u2705 Active' : 'Ready'}\nTotal Used: ${state.groq.key1.dailyRequests + state.groq.key2.dailyRequests + state.groq.key3.dailyRequests + state.groq.key4.dailyRequests}/57600`;\n\n// Job APIs Report\nconst jobApisReport = `**Job APIs (7 sources)**\n${Object.entries(state.jobApis).map(([api, apiState]) => {\n  const statusIcon = apiState.status === 'healthy' ? '\u2705' : apiState.status === 'degraded' ? '\u26a0\ufe0f' : '\u274c';\n  const lastSuccess = apiState.lastSuccess ? new Date(apiState.lastSuccess).toLocaleString() : 'Never';\n  return `${statusIcon} ${api.charAt(0).toUpperCase() + api.slice(1)}: ${apiState.status} (${apiState.consecutiveFailures} failures, last success: ${lastSuccess})`;\n}).join('\\n')}`;\n\n// Last Reset Info\nconst lastReset = state.lastResetDate ? `${state.lastResetDate} 00:00 UTC` : 'Never';\n\n// Full Report\nconst fullReport = `\ud83d\udd04 **Multi-Account System Status**\n\n${gmailReport}\n\n${sheetsReport}\n\n${groqReport}\n\n${jobApisReport}\n\n**Last Reset:** ${lastReset}\n\n**Recent Switches:** ${state.switchHistory.length > 0 ? state.switchHistory.slice(-3).reverse().map(s => `${s.service} (${s.reason})`).join(', ') : 'None'}`;\n\nreturn [{\n  json: {\n    report: fullReport,\n    timestamp: new Date().toISOString()\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "0f62be9a-edbf-4e03-a233-a639f2ab7d86",
      "name": "Get Full State Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        3500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Account Switch Logger - Audit trail for all account switches\nconst staticData = this.getWorkflowStaticData('global');\nconst item = items[0].json;\n\nif (!staticData.multiAccountState) {\n  return [{ json: { ...item, logged: false, error: 'multiAccountState not initialized' } }];\n}\n\nconst state = staticData.multiAccountState;\n\n// Extract switch information from item\nconst service = item.service || 'unknown'; // 'gmail', 'sheets', 'groq'\nconst fromAccount = item.fromAccount || 'unknown';\nconst toAccount = item.toAccount || state[service]?.currentActive || 'unknown';\nconst reason = item.reason || 'unknown'; // 'limit', 'errors', 'quota', 'reset'\nconst details = item.details || item.switchReason || '';\n\n// Create switch history entry\nconst switchEntry = {\n  timestamp: new Date().toISOString(),\n  service: service,\n  fromAccount: fromAccount,\n  toAccount: toAccount,\n  reason: reason,\n  details: details\n};\n\n// Initialize switchHistory if not exists\nif (!state.switchHistory) {\n  state.switchHistory = [];\n}\n\n// Add to history (keep last 100)\nstate.switchHistory.push(switchEntry);\nif (state.switchHistory.length > 100) {\n  state.switchHistory = state.switchHistory.slice(-100);\n}\n\nconsole.log(`\u2705 Account switch logged: ${service} from ${fromAccount} to ${toAccount} (${reason})`);\n\nreturn [{\n  json: {\n    ...item,\n    logged: true,\n    switchEntry: switchEntry,\n    totalSwitches: state.switchHistory.length\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "995f1c33-ea4e-4749-936b-b0a0fb3e8ec0",
      "name": "Account Switch Logger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.needsStateReport }}",
              "value2": true
            }
          ]
        }
      },
      "id": "b6a4904d-1b6f-4f27-b251-e907c0cb8fc2",
      "name": "Needs State Report?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        3450
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract Telegram Message').item.json.chatId }}",
        "text": "={{ $('Get Full State Report').item.json.report }}",
        "additionalFields": {}
      },
      "id": "1a11f85b-b037-4b83-b93e-2a6bdc9f574a",
      "name": "Send Telegram Reply (status)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1560,
        3500
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Account Switch Logger\nconst item = items[0].json;\n\nreturn [{\n  json: {\n    ...item,\n    service: 'gmail',\n    fromAccount: item.accountUsed || 'unknown',\n    toAccount: item.currentActive || 'unknown',\n    reason: item.switchReason?.includes('limit') ? 'limit' : \n            item.switchReason?.includes('error') ? 'errors' : 'unknown',\n    details: item.switchReason || ''\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "b141bdbe-38eb-45f4-929c-e32557883c1f",
      "name": "Log Email Switch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        1900
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Account Switch Logger\nconst item = items[0].json;\n\nreturn [{\n  json: {\n    ...item,\n    service: 'sheets',\n    fromAccount: item.sheetsAccount || 'unknown',\n    toAccount: 'unknown', // Will be determined by current state\n    reason: item.sheetsSwitchReason?.includes('limit') ? 'limit' : \n            item.sheetsSwitchReason?.includes('quota') ? 'quota' : 'unknown',\n    details: item.sheetsSwitchReason || ''\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "e83b64a0-3639-4c09-92c2-03ce0f286b18",
      "name": "Log Sheets Switch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Account Switch Logger\nconst item = items[0].json;\n\nreturn [{\n  json: {\n    ...item,\n    service: 'groq',\n    fromAccount: item.groqKey || 'unknown',\n    toAccount: 'unknown', // Will be determined by current state\n    reason: item.groqSwitchReason?.includes('limit') ? 'limit' : \n            item.groqSwitchReason?.includes('rate limit') ? 'quota' : 'unknown',\n    details: item.groqSwitchReason || ''\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "4c9240d8-358c-4177-882b-11bf7b78431e",
      "name": "Log Groq Switch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2540,
        100
      ]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "type": "expression",
              "value": "={{ $json.service === 'gmail' }}",
              "output": 0
            },
            {
              "type": "expression",
              "value": "={{ $json.service === 'sheets' }}",
              "output": 1
            },
            {
              "type": "expression",
              "value": "={{ $json.service === 'groq' }}",
              "output": 2
            }
          ]
        }
      },
      "id": "b21b8c2c-9975-4c0f-be39-07980b1f97c2",
      "name": "Route to Appropriate Notification",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        3000,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Categorize jobs: Portal Apply + Follow-up vs Cold Email vs Notification Only\n// Now works with auto-extracted emails from job descriptions!\nconst jobs = items.map(item => {\n  const job = item.json;\n  const hasApplyUrl = !!(job['Apply URL'] || job.applyUrl);\n  const hasRecruiterEmail = !!(job['Recruiter Email'] || job.recruiterEmail);\n  const isNew = (job.Status || job.status || 'New').toLowerCase() === 'new';\n  \n  // Route logic:\n  // Tier 1 (BEST): Has apply URL + has email \u2192 apply via portal + send follow-up\n  // Tier 2 (GOOD): No apply URL + has email \u2192 cold email only  \n  // Tier 3 (OK):   Has apply URL + no email \u2192 just notify to apply manually\n  // Tier 4:        Neither \u2192 skip (waiting for you to find email)\n  let applicationRoute;\n  if (hasApplyUrl) {\n    applicationRoute = 'direct_apply'; // Tier 1 or 3 (telegram + maybe email)\n  } else if (hasRecruiterEmail) {\n    applicationRoute = 'cold_email'; // Tier 2\n  } else {\n    applicationRoute = 'waiting'; // Nothing we can do yet\n  }\n  \n  return {\n    json: {\n      ...job,\n      hasApplyUrl,\n      hasRecruiterEmail,\n      isNew,\n      applicationRoute\n    }\n  };\n});\n\nreturn jobs;",
        "mode": "runOnceForAllItems"
      },
      "id": "0dd45ac0-b528-40e5-ac49-b3374a730755",
      "name": "Categorize: Apply Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        1800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.applicationRoute }}",
              "operation": "equals",
              "value2": "direct_apply"
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "13ee0b5f-a0e6-4795-ae0c-b724a4b199e6",
      "name": "Route: Direct Apply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        1800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare direct-apply jobs list and route for follow-up emails\nconst directApplyJobs = items.filter(i => i.json.isNew && i.json.hasApplyUrl);\n\nif (directApplyJobs.length === 0) {\n  return [{ json: { message: 'No new direct-apply jobs today', count: 0, hasFollowUps: false } }];\n}\n\nconst jobList = directApplyJobs.map((item, i) => {\n  const j = item.json;\n  const title = j['Job Title'] || j.jobTitle;\n  const company = j.Company || j.company;\n  const score = j.Score || j.score || '?';\n  const url = j['Apply URL'] || j.applyUrl;\n  const hasEmail = j.hasRecruiterEmail ? ' \u2709\ufe0f (follow-up email will be sent)' : '';\n  return `${i+1}. **${title}** at ${company} (Score: ${score})${hasEmail}\\n   \u2192 ${url}`;\n}).join('\\n\\n');\n\nconst withEmail = directApplyJobs.filter(i => i.json.hasRecruiterEmail).length;\n\nconst message = `\ud83c\udfaf **Apply Directly + Follow Up** (${directApplyJobs.length} jobs)\n\nApply through their portal FIRST, then we send follow-up emails to ${withEmail} recruiters saying you've applied:\n\n${jobList}\n\n\ud83d\udca1 Strategy: Portal application + follow-up email = 3x response rate vs either alone.`;\n\nreturn [{ json: { message, count: directApplyJobs.length, followUpCount: withEmail, hasFollowUps: withEmail > 0 } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "3d28efa8-a5d5-496f-aaa3-03473315741b",
      "name": "Prepare Direct Apply List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        1700
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('User Config (Master Profile)').item.json.telegramChatId || '' }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "9b7c3bfe-8e39-47a1-9c62-723ad1d0a755",
      "name": "Telegram: Apply These Directly",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1340,
        1700
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasFollowUps }}",
              "value2": true
            }
          ]
        }
      },
      "id": "c5870db2-f40a-4da3-a161-4aec4318b6c7",
      "name": "Has Follow-up Emails?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1560,
        1700
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get direct-apply jobs that also have recruiter emails\n// These get a \"I've applied, please consider\" follow-up email\nconst config = $('User Config (Master Profile)').item.json;\nconst allJobs = $('Categorize: Apply Route').all();\n\nconst followUpJobs = allJobs.filter(item => \n  item.json.hasApplyUrl && item.json.hasRecruiterEmail && item.json.isNew\n);\n\nreturn followUpJobs.map(item => ({\n  json: {\n    ...item.json,\n    emailType: 'follow_up_after_apply'\n  }\n}));",
        "mode": "runOnceForAllItems"
      },
      "id": "e0a098cb-8425-44c8-8fe0-b59a68d5d37a",
      "name": "Get Follow-up Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        1600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate follow-up email: \"I applied through your portal, please consider me\"\nconst config = $('Merge User Config with Resume Data').item.json;\nconst job = items[0].json;\n\nconst prompt = `You are a professional email writer. Generate a SHORT follow-up email to a recruiter.\n\nCONTEXT: The candidate has ALREADY APPLIED through the company's official application portal. This email is a polite follow-up to increase visibility.\n\n**Job Details:**\n- Title: ${job['Job Title'] || job.jobTitle}\n- Company: ${job.Company || job.company}\n- Recruiter: ${job['Recruiter Name'] || job.recruiterName || 'Hiring Manager'}\n- Apply URL used: ${job['Apply URL'] || job.applyUrl}\n\n**Candidate:**\n- Name: ${config.name}\n- Current Role: ${config.currentRole}\n- Key Skills: ${(config.skills || []).slice(0, 5).join(', ')}\n- Top Project: ${((config.resumeData || {}).projects || []).slice(0, 1).map(p => p.name + ' (' + (p.technologies || []).join(', ') + ')').join('')}\n\n**Requirements:**\n1. VERY SHORT (80-120 words max)\n2. Open with: \"I recently submitted my application for [role] through your portal\"\n3. Mention ONE specific skill/project that makes you a strong fit\n4. Politely ask them to review your application\n5. End with \"Best regards, ${config.name}\"\n6. Tone: Professional, confident, not desperate\n\n**Format:**\nSubject: [Short subject - e.g., \"Following up: Application for [Role]\"]\n\n[Short email body]\n\nProvide ONLY the subject and body.`;\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.groq.com/openai/v1/chat/completions',\n  headers: {\n    'Authorization': 'Bearer ' + (config.groqApiKey || ''),\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    model: 'llama-3.3-70b-versatile',\n    messages: [{ role: 'user', content: prompt }],\n    temperature: 0.6\n  }),\n  json: true,\n  timeout: 60000\n});\n\nconst aiText = response.choices[0].message.content;\n\n// Parse subject and body\nlet subject = 'Following up: Application for ' + (job['Job Title'] || job.jobTitle);\nlet body = aiText;\n\nconst subjectMatch = aiText.match(/Subject:\\s*(.+?)\\n/i);\nif (subjectMatch) {\n  subject = subjectMatch[1].trim();\n  body = aiText.replace(/Subject:\\s*.+?\\n/i, '').trim();\n}\n\n// Add signature links\nbody += '\\n\\nLinkedIn: ' + (config.linkedinUrl || '');\nbody += '\\nPortfolio: ' + (config.portfolioUrl || '');\n\nreturn [{\n  json: {\n    ...job,\n    emailSubject: subject,\n    emailBody: body,\n    emailType: 'follow_up'\n  }\n}];",
        "mode": "runOnceForEachItem"
      },
      "id": "3cd586c9-b25e-429d-8770-f35ee52b6a5f",
      "name": "AI: Generate Follow-up Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        1600
      ]
    }
  ],
  "connections": {
    "Schedule Trigger: Job Discovery (8 AM)": {
      "main": [
        [
          {
            "node": "User Config (Master Profile)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Config (Master Profile)": {
      "main": [
        [
          {
            "node": "Fetch Remotive API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Arbeitnow API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Resume",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch JSearch API (RapidAPI)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch The Muse API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Job API State Manager",
            "type": "main",
            "index": 0
          },
          {
            "node": "Multi-Account State Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Remotive API": {
      "main": [
        [
          {
            "node": "Parse Remotive Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Arbeitnow API": {
      "main": [
        [
          {
            "node": "Parse Arbeitnow Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Remotive Response": {
      "main": [
        [
          {
            "node": "Merge All API Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Arbeitnow Response": {
      "main": [
        [
          {
            "node": "Merge All API Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All API Results": {
      "main": [
        [
          {
            "node": "Deduplicate Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update API Health Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate Jobs": {
      "main": [
        [
          {
            "node": "Read Existing Jobs from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing Jobs from Sheet": {
      "main": [
        [
          {
            "node": "Filter Out Already-Fetched Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Out Already-Fetched Jobs": {
      "main": [
        [
          {
            "node": "Groq AI: Score Job Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI: Score Job Match": {
      "main": [
        [
          {
            "node": "Parse AI Score",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Groq Request Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Score": {
      "main": [
        [
          {
            "node": "Resume Match Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Google Sheets: Jobs Tab": {
      "main": [
        [
          {
            "node": "Aggregate Job Discovery Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Sheets Write Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Job Discovery Summary": {
      "main": [
        [
          {
            "node": "Send Telegram: Job Discovery Digest",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Gmail: Job Discovery Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger: Email Outreach (9 AM)": {
      "main": [
        [
          {
            "node": "Daily Reset Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Jobs from Sheet for Outreach": {
      "main": [
        [
          {
            "node": "Categorize: Apply Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Status=New AND Has Recruiter Email": {
      "main": [
        [
          {
            "node": "Limit to Daily Max (10 emails)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Limit to Daily Max (10 emails)": {
      "main": [
        [
          {
            "node": "Groq AI: Generate Personalized Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI: Generate Personalized Email": {
      "main": [
        [
          {
            "node": "Parse & Format Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Groq Request Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Format Email": {
      "main": [
        [
          {
            "node": "Check Email Account Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Metadata (Status & Application ID)": {
      "main": [
        [
          {
            "node": "Update Sheet: Mark Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet: Mark Email Sent": {
      "main": [
        [
          {
            "node": "Rate Limit Delay (3 seconds)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Sheets Write Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Delay (3 seconds)": {
      "main": [
        [
          {
            "node": "Aggregate Outreach Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Outreach Summary": {
      "main": [
        [
          {
            "node": "Send Gmail: Outreach Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger: Interactive Assistant": {
      "main": [
        [
          {
            "node": "Extract Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Telegram Message": {
      "main": [
        [
          {
            "node": "Handle Quick Commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Quick Commands": {
      "main": [
        [
          {
            "node": "Needs State Report?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Quick Command?": {
      "main": [
        [
          {
            "node": "Send Quick Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Dynamic System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dynamic System Prompt": {
      "main": [
        [
          {
            "node": "Groq Agent (Llama 3.3 70B)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Agent (Llama 3.3 70B)": {
      "main": [
        [
          {
            "node": "Parse Response & Detect Intents",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Groq Request Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response & Detect Intents": {
      "main": [
        [
          {
            "node": "Needs Sheet Query?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Sheet Query?": {
      "main": [
        [
          {
            "node": "Query Google Sheet for Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Telegram Reply (simple)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Google Sheet for Stats": {
      "main": [
        [
          {
            "node": "Aggregate Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Stats": {
      "main": [
        [
          {
            "node": "Send Telegram Reply (with stats)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Resume": {
      "main": [
        [
          {
            "node": "Check Resume Download Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Resume Download Success": {
      "main": [
        [
          {
            "node": "Parse Resume with Groq AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback: User Config Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Resume with Groq AI": {
      "main": [
        [
          {
            "node": "Structure Resume Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Groq Request Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Resume Data": {
      "main": [
        [
          {
            "node": "Merge User Config with Resume Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback: User Config Only": {
      "main": [
        [
          {
            "node": "Merge User Config with Resume Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Match Analysis": {
      "main": [
        [
          {
            "node": "Filter by Score Threshold (\u226560)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Reset Check": {
      "main": [
        [
          {
            "node": "Email Account State",
            "type": "main",
            "index": 0
          },
          {
            "node": "Multi-Account State Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Account State": {
      "main": [
        [
          {
            "node": "Read Jobs from Sheet for Outreach",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets Account State",
            "type": "main",
            "index": 0
          },
          {
            "node": "Groq API Key State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email Account Status": {
      "main": [
        [
          {
            "node": "Select Gmail Credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Gmail Credential": {
      "main": [
        [
          {
            "node": "Send Email via Gmail Account 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email via Gmail Account 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email via Gmail Account 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email via Gmail Account 4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Send - All 4 Accounts Exhausted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via Gmail Account 1": {
      "main": [
        [
          {
            "node": "Email Send Result Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via Gmail Account 2": {
      "main": [
        [
          {
            "node": "Email Send Result Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via Gmail Account 3": {
      "main": [
        [
          {
            "node": "Email Send Result Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via Gmail Account 4": {
      "main": [
        [
          {
            "node": "Email Send Result Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Send - All 4 Accounts Exhausted": {
      "main": [
        [
          {
            "node": "Email Send Result Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Send Result Handler": {
      "main": [
        [
          {
            "node": "Update Email State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Email State": {
      "main": [
        [
          {
            "node": "Update Metadata (Status & Application ID)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Should Send Notification?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Notification?": {
      "main": [
        [
          {
            "node": "Log Email Switch",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch JSearch API (RapidAPI)": {
      "main": [
        [
          {
            "node": "Parse JSearch Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch The Muse API": {
      "main": [
        [
          {
            "node": "Parse The Muse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSearch Response": {
      "main": [
        [
          {
            "node": "Merge All API Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Parse The Muse Response": {
      "main": [
        [
          {
            "node": "Merge All API Results",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Update API Health Status": {
      "main": [
        [
          {
            "node": "Aggregate Job Discovery Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger: Daily Reset (Midnight UTC)": {
      "main": [
        [
          {
            "node": "Daily Reset Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs State Report?": {
      "main": [
        [
          {
            "node": "Get Full State Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Quick Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full State Report": {
      "main": [
        [
          {
            "node": "Send Telegram Reply (status)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Email Switch": {
      "main": [
        [
          {
            "node": "Account Switch Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Account Switch Logger": {
      "main": [
        [
          {
            "node": "Route to Appropriate Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Sheets Switch": {
      "main": [
        [
          {
            "node": "Account Switch Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Groq Switch": {
      "main": [
        [
          {
            "node": "Account Switch Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Appropriate Notification": {
      "main": [
        [
          {
            "node": "Email Account Switch Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets Account Switch Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Groq Key Switch Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Multi-Account State Manager": {
      "main": [
        [
          {
            "node": "Google Sheets Account State",
            "type": "main",
            "index": 0
          },
          {
            "node": "Groq API Key State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Account State": {
      "main": [
        [
          {
            "node": "Select Sheets Credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq API Key State": {
      "main": [
        [
          {
            "node": "Select Groq Credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheets Write Counter": {
      "main": [
        [
          {
            "node": "Check if Sheets Switch Notification Needed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheets Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Sheets Switch Notification Needed": {
      "main": [
        [
          {
            "node": "Log Sheets Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Groq Request Counter": {
      "main": [
        [
          {
            "node": "Check if Groq Switch Notification Needed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Groq Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Groq Switch Notification Needed": {
      "main": [
        [
          {
            "node": "Log Groq Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets Error Handler": {
      "main": [
        [
          {
            "node": "Check if Sheets Switch Notification Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Error Handler": {
      "main": [
        [
          {
            "node": "Check if Groq Switch Notification Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by Score Threshold (\u226560)": {
      "main": [
        [
          {
            "node": "Append to Google Sheets: Jobs Tab",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Categorize: Apply Route": {
      "main": [
        [
          {
            "node": "Route: Direct Apply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Direct Apply?": {
      "main": [
        [
          {
            "node": "Prepare Direct Apply List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter: Status=New AND Has Recruiter Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Direct Apply List": {
      "main": [
        [
          {
            "node": "Telegram: Apply These Directly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Apply These Directly": {
      "main": [
        [
          {
            "node": "Has Follow-up Emails?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Follow-up Emails?": {
      "main": [
        [
          {
            "node": "Get Follow-up Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Follow-up Candidates": {
      "main": [
        [
          {
            "node": "AI: Generate Follow-up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Generate Follow-up Email": {
      "main": [
        [
          {
            "node": "Check Email Account Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "active": false
}