workflow-2-ai-job-search-notion.json
{
  "name": "Workflow 2: AI-Powered Job Search + Notion Tracking",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "text",
        "modelId": {
          "__rl": true,
          "value": "gemini-1.5-flash",
          "mode": "list",
          "cachedResultName": "Gemini 1.5 Flash"
        },
        "prompt": "=You are a job search assistant. Search and compile a list of software engineering jobs that match the following criteria:\n\n**Role:** {{ $('Set Job Criteria').item.json.role }}\n**Experience Level:** {{ $('Set Job Criteria').item.json.experienceLevel }}\n**Location:** {{ $('Set Job Criteria').item.json.location }}\n**Salary Range:** {{ $('Set Job Criteria').item.json.salaryRange }}\n**Remote/Hybrid/Onsite:** {{ $('Set Job Criteria').item.json.workType }}\n**Keywords:** {{ $('Set Job Criteria').item.json.keywords }}\n\nFor each job, provide the following information in JSON format:\n- jobTitle: string\n- company: string\n- location: string\n- salaryRange: string (if available)\n- jobType: string (Full-time, Part-time, Contract, etc.)\n- workMode: string (Remote, Hybrid, Onsite)\n- experience: string\n- applyUrl: string\n- description: string (brief summary)\n- postedDate: string\n- tags: array of strings (relevant skills/technologies)\n\nReturn the results as a valid JSON array of job objects. Search across LinkedIn, Indeed, Glassdoor, and other major job boards.",
        "options": {
          "temperature": 0.7,
          "maxTokens": 8192
        }
      },
      "id": "google-gemini-search",
      "name": "Google Gemini Job Search",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [680, 300],
      "credentials": {
        "googleGeminiOAuth2Api": {
          "id": "YOUR_GOOGLE_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Set your job search criteria here\nreturn [\n  {\n    json: {\n      role: 'Software Engineer',\n      experienceLevel: 'Mid-level (3-5 years)',\n      location: 'United States, Remote',\n      salaryRange: '$80,000 - $150,000',\n      workType: 'Remote or Hybrid',\n      keywords: 'JavaScript, Node.js, React, Python, AWS'\n    }\n  }\n];"
      },
      "id": "set-job-criteria",
      "name": "Set Job Criteria",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse the AI response and extract job listings\nconst response = items[0].json.response || items[0].json.text || '';\n\nlet jobs = [];\n\ntry {\n  // Try to extract JSON from the response\n  const jsonMatch = response.match(/\\[\\s*\\{[\\s\\S]*\\}\\s*\\]/);\n  if (jsonMatch) {\n    jobs = JSON.parse(jsonMatch[0]);\n  } else {\n    // If no JSON found, return empty array\n    console.log('No valid JSON found in response');\n    return [];\n  }\n} catch (error) {\n  console.error('Error parsing JSON:', error);\n  return [];\n}\n\n// Format and return jobs\nreturn jobs.map(job => ({\n  json: {\n    jobTitle: job.jobTitle || 'Unknown',\n    company: job.company || 'Unknown',\n    location: job.location || 'Not specified',\n    salaryRange: job.salaryRange || 'Not disclosed',\n    jobType: job.jobType || 'Full-time',\n    workMode: job.workMode || 'Not specified',\n    experience: job.experience || 'Not specified',\n    applyUrl: job.applyUrl || '',\n    description: job.description || '',\n    postedDate: job.postedDate || new Date().toISOString().split('T')[0],\n    tags: job.tags || [],\n    status: 'New',\n    priority: 'Medium',\n    addedDate: new Date().toISOString().split('T')[0]\n  }\n}));"
      },
      "id": "parse-ai-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.jobTitle }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.applyUrl }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "filter-valid-jobs",
      "name": "Filter Valid Jobs",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "// Rank jobs based on criteria\nconst jobData = items[0].json;\n\n// Calculate priority score\nlet score = 0;\nconst tagsStr = (jobData.tags || []).join(' ').toLowerCase();\n\n// Preferred technologies (adjust based on your preferences)\nconst preferredTech = ['react', 'node.js', 'python', 'aws', 'typescript', 'kubernetes'];\npreferredTech.forEach(tech => {\n  if (tagsStr.includes(tech.toLowerCase())) {\n    score += 10;\n  }\n});\n\n// Remote/Hybrid preference\nif (jobData.workMode && (jobData.workMode.toLowerCase().includes('remote') || jobData.workMode.toLowerCase().includes('hybrid'))) {\n  score += 15;\n}\n\n// Salary consideration (if disclosed)\nif (jobData.salaryRange && !jobData.salaryRange.toLowerCase().includes('not disclosed')) {\n  score += 10;\n}\n\n// Recent posting\nif (jobData.postedDate) {\n  const daysAgo = Math.floor((new Date() - new Date(jobData.postedDate)) / (1000 * 60 * 60 * 24));\n  if (daysAgo <= 7) score += 20;\n  else if (daysAgo <= 14) score += 10;\n}\n\n// Assign priority\nlet priority = 'Low';\nif (score >= 40) priority = 'High';\nelse if (score >= 20) priority = 'Medium';\n\nreturn [{\n  json: {\n    ...jobData,\n    priority,\n    score\n  }\n}];"
      },
      "id": "rank-jobs",
      "name": "Rank Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_NOTION_DATABASE_ID",
          "mode": "id"
        },
        "title": "={{ $json.jobTitle }}",
        "properties": {
          "customProperty": [
            {
              "key": "Company",
              "textContent": "={{ $json.company }}"
            },
            {
              "key": "Location",
              "textContent": "={{ $json.location }}"
            },
            {
              "key": "Salary Range",
              "textContent": "={{ $json.salaryRange }}"
            },
            {
              "key": "Job Type",
              "selectValue": "={{ $json.jobType }}"
            },
            {
              "key": "Work Mode",
              "selectValue": "={{ $json.workMode }}"
            },
            {
              "key": "Experience",
              "textContent": "={{ $json.experience }}"
            },
            {
              "key": "Apply URL",
              "urlValue": "={{ $json.applyUrl }}"
            },
            {
              "key": "Status",
              "selectValue": "={{ $json.status }}"
            },
            {
              "key": "Priority",
              "selectValue": "={{ $json.priority }}"
            },
            {
              "key": "Posted Date",
              "dateValue": "={{ $json.postedDate }}"
            },
            {
              "key": "Added Date",
              "dateValue": "={{ $json.addedDate }}"
            },
            {
              "key": "Tags",
              "multiSelectValue": "={{ $json.tags }}"
            },
            {
              "key": "Score",
              "numberValue": "={{ $json.score }}"
            }
          ]
        },
        "blockContent": "={{ $json.description }}",
        "options": {}
      },
      "id": "add-to-notion",
      "name": "Add to Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1560, 300],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CREDENTIAL_ID",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate results for summary email\nconst totalJobs = items.length;\nconst highPriority = items.filter(item => item.json.priority === 'High').length;\nconst mediumPriority = items.filter(item => item.json.priority === 'Medium').length;\nconst lowPriority = items.filter(item => item.json.priority === 'Low').length;\n\nconst topJobs = items\n  .sort((a, b) => (b.json.score || 0) - (a.json.score || 0))\n  .slice(0, 5)\n  .map(item => `• **${item.json.jobTitle}** at **${item.json.company}** (${item.json.location}) - Priority: ${item.json.priority}`);\n\nreturn [{\n  json: {\n    totalJobs,\n    highPriority,\n    mediumPriority,\n    lowPriority,\n    topJobsList: topJobs.join('\\n'),\n    searchDate: new Date().toISOString().split('T')[0]\n  }\n}];"
      },
      "id": "aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@example.com",
        "subject": "📊 Daily Job Search Report - {{ $json.totalJobs }} New Jobs Found",
        "message": "=Hello,\n\nYour AI-powered job search has found **{{ $json.totalJobs }}** new opportunities!\n\n**Priority Breakdown:**\n🔴 High Priority: {{ $json.highPriority }}\n🟡 Medium Priority: {{ $json.mediumPriority }}\n🟢 Low Priority: {{ $json.lowPriority }}\n\n**Top 5 Matches:**\n{{ $json.topJobsList }}\n\nAll jobs have been added to your Notion database for review.\n\n**Search Date:** {{ $json.searchDate }}\n\nBest regards,\nYour AI Job Search Assistant",
        "options": {}
      },
      "id": "send-summary-email",
      "name": "Send Summary Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2000, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "method": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_jobs"
            },
            {
              "name": "q",
              "value": "={{ $('Set Job Criteria').item.json.role }} {{ $('Set Job Criteria').item.json.keywords }}"
            },
            {
              "name": "location",
              "value": "={{ $('Set Job Criteria').item.json.location }}"
            },
            {
              "name": "api_key",
              "value": "YOUR_SERPAPI_KEY"
            },
            {
              "name": "num",
              "value": "20"
            }
          ]
        },
        "options": {}
      },
      "id": "serpapi-fallback",
      "name": "SerpAPI Fallback (Optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 500],
      "disabled": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Job Criteria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Job Criteria": {
      "main": [
        [
          {
            "node": "Google Gemini Job Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Job Search": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Filter Valid Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Jobs": {
      "main": [
        [
          {
            "node": "Rank Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rank Jobs": {
      "main": [
        [
          {
            "node": "Add to Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Notion": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Send Summary Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
