workflow-3-linkedin-scraper-brightdata.json
{
  "name": "Workflow 3: LinkedIn Job Finder (Bright Data + Google Sheets)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linkedin-job-search",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "linkedin-job-search"
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate form parameters\nconst body = items[0].json.body || {};\n\nconst jobTitle = body.jobTitle || body.job_title || '';\nconst location = body.location || body.city || '';\nconst country = body.country || 'United States';\nconst jobType = body.jobType || body.job_type || 'full-time';\nconst experienceLevel = body.experienceLevel || body.experience_level || '';\nconst remote = body.remote || false;\n\nif (!jobTitle) {\n  throw new Error('Job title is required');\n}\n\nif (!location) {\n  throw new Error('Location is required');\n}\n\nreturn [{\n  json: {\n    jobTitle,\n    location,\n    country,\n    jobType,\n    experienceLevel,\n    remote,\n    searchId: `search-${Date.now()}`,\n    searchDate: new Date().toISOString().split('T')[0]\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://api.brightdata.com/datasets/v3/trigger",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_BRIGHTDATA_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "dataset_id",
              "value": "gd_l7q7dkf244hwjntr0"
            },
            {
              "name": "endpoint",
              "value": "linkedin_jobs"
            },
            {
              "name": "discover_by",
              "value": "keyword"
            },
            {
              "name": "keyword",
              "value": "={{ $json.jobTitle }}"
            },
            {
              "name": "location",
              "value": "={{ $json.location }}, {{ $json.country }}"
            },
            {
              "name": "job_type",
              "value": "={{ $json.jobType }}"
            },
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "include_errors",
              "value": "false"
            },
            {
              "name": "format",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-brightdata-scrape",
      "name": "Trigger Bright Data Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract snapshot_id from Bright Data response\nconst response = items[0].json;\n\nif (!response.snapshot_id) {\n  throw new Error('Failed to trigger Bright Data scrape: no snapshot_id returned');\n}\n\nreturn [{\n  json: {\n    ...items[0].json,\n    snapshotId: response.snapshot_id,\n    status: 'running'\n  }\n}];"
      },
      "id": "extract-snapshot-id",
      "name": "Extract Snapshot ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-for-scrape",
      "name": "Wait for Scrape",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "url": "=https://api.brightdata.com/datasets/v3/snapshot/{{ $json.snapshotId }}",
        "method": "GET",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_BRIGHTDATA_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "check-scrape-status",
      "name": "Check Scrape Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "ready"
            }
          ]
        }
      },
      "id": "check-if-ready",
      "name": "Check if Ready",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "url": "=https://api.brightdata.com/datasets/v3/snapshot/{{ $json.snapshotId }}?format=json",
        "method": "GET",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_BRIGHTDATA_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "download-results",
      "name": "Download Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse and clean LinkedIn job results\nconst results = items[0].json;\nlet jobs = [];\n\nif (Array.isArray(results)) {\n  jobs = results;\n} else if (results.data && Array.isArray(results.data)) {\n  jobs = results.data;\n}\n\n// Clean and format each job\nreturn jobs.map(job => ({\n  json: {\n    jobTitle: job.title || job.job_title || 'Unknown',\n    company: job.company || job.company_name || 'Unknown',\n    location: job.location || 'Not specified',\n    jobType: job.job_type || job.employment_type || 'Full-time',\n    experienceLevel: job.experience_level || job.seniority_level || 'Not specified',\n    salary: job.salary || job.salary_range || 'Not disclosed',\n    applyUrl: job.apply_url || job.job_url || job.url || '',\n    description: (job.description || '').substring(0, 500),\n    postedDate: job.posted_date || job.listed_at || new Date().toISOString().split('T')[0],\n    jobId: job.job_id || job.id || `job-${Date.now()}-${Math.random().toString(36).substr(2, 9)}`,\n    skills: job.skills || [],\n    benefits: job.benefits || [],\n    applicants: job.applicants || job.num_applicants || 'N/A',\n    scrapedDate: new Date().toISOString().split('T')[0],\n    searchId: $('Validate Input').item.json.searchId,\n    searchQuery: $('Validate Input').item.json.jobTitle,\n    searchLocation: $('Validate Input').item.json.location\n  }\n}));"
      },
      "id": "parse-clean-results",
      "name": "Parse & Clean Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.jobTitle }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.applyUrl }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "filter-valid-jobs",
      "name": "Filter Valid Jobs",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "LinkedIn Jobs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "schema": [
            {
              "id": "jobTitle",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "jobType",
              "displayName": "Job Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "experienceLevel",
              "displayName": "Experience Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "applyUrl",
              "displayName": "Apply URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "postedDate",
              "displayName": "Posted Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "jobId",
              "displayName": "Job ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "applicants",
              "displayName": "Applicants",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "scrapedDate",
              "displayName": "Scraped Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "searchQuery",
              "displayName": "Search Query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "searchLocation",
              "displayName": "Search Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "append-to-google-sheets",
      "name": "Append to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [2440, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare summary for response\nconst totalJobs = items.length;\nconst jobs = items.map(item => item.json);\n\nconst companies = [...new Set(jobs.map(j => j.company))];\nconst locations = [...new Set(jobs.map(j => j.location))];\n\nreturn [{\n  json: {\n    success: true,\n    totalJobs,\n    searchId: jobs[0]?.searchId || 'unknown',\n    searchQuery: jobs[0]?.searchQuery || '',\n    searchLocation: jobs[0]?.searchLocation || '',\n    uniqueCompanies: companies.length,\n    uniqueLocations: locations.length,\n    message: `Successfully scraped ${totalJobs} jobs from LinkedIn`,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "prepare-response",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2880, 300]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-retry",
      "name": "Wait & Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1560, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Job scraping failed or timed out\", \"message\": \"Please try again or check your Bright Data API configuration\", \"timestamp\": new Date().toISOString() } }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Trigger Bright Data Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Bright Data Scrape": {
      "main": [
        [
          {
            "node": "Extract Snapshot ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Snapshot ID": {
      "main": [
        [
          {
            "node": "Wait for Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Scrape": {
      "main": [
        [
          {
            "node": "Check Scrape Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Scrape Status": {
      "main": [
        [
          {
            "node": "Check if Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Ready": {
      "main": [
        [
          {
            "node": "Download Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait & Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Results": {
      "main": [
        [
          {
            "node": "Parse & Clean Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Clean Results": {
      "main": [
        [
          {
            "node": "Filter Valid Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Jobs": {
      "main": [
        [
          {
            "node": "Append to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Google Sheets": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait & Retry": {
      "main": [
        [
          {
            "node": "Check Scrape Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
