workflow-4-whatsapp-ai-agent.json
{
  "name": "WhatsApp Job Hunt AI Agent (Groq - Free)",
  "nodes": [
    {
      "parameters": {
        "updates": ["messages"],
        "options": {}
      },
      "id": "node-whatsapp-trigger",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [200, 440],
      "webhookId": "whatsapp-jobhunt-webhook-001",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "YOUR_WHATSAPP_TRIGGER_CRED_ID",
          "name": "WhatsApp Business Account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Ravi's personal AI Job Hunt Assistant running inside WhatsApp.\n\nYour job is to help Ravi with his software engineering job search.\n\nYou have access to these tools:\n1. google_sheets_job_tracker - Read and write job applications to Google Sheets\n2. knowledge_base_resume - Look up Ravi's resume, skills, and preferences\n3. gmail_send_application - Send job application emails on Ravi's behalf\n\nWhat you can do:\n- Find and list jobs from the tracker\n- Add new jobs to track\n- Update application status (Applied, Interview, Rejected, Offer)\n- Show stats: how many applied, pending, interviews, offers\n- Draft and send application emails\n- Answer questions about Ravi's skills and experience\n\nAlways respond in a friendly, concise manner suitable for WhatsApp.\nUse short paragraphs. Use emojis sparingly.\nIf asked for stats, always pull from Google Sheets first.\n\nRavi's target roles: Python Developer, Backend Engineer, Automation Engineer, Software Engineer\nRavi's location: Hyderabad, India\nRavi's experience: 0-1 year (Fresher + Trainee at Algonox Technologies)\nKey skills: Python, Docker, Oracle SQL, MySQL, OCR, REST APIs, Linux"
        }
      },
      "id": "node-ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [560, 440]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.5,
          "maxTokens": 1024
        }
      },
      "id": "node-groq-model",
      "name": "Groq - Llama 3.3 70B (Free)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [360, 660],
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_CRED_ID",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.entry[0].changes[0].value.messages[0].from }}",
        "contextWindowLength": 10
      },
      "id": "node-memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [560, 660]
    },
    {
      "parameters": {
        "name": "google_sheets_job_tracker",
        "description": "Use this tool to manage Ravi's job application tracker in Google Sheets.\n\nActions available:\n- 'get_all_jobs': Returns all jobs in the tracker with their status\n- 'get_stats': Returns counts by status (Applied, Interview, Rejected, Offer, Not Applied)\n- 'add_job': Adds a new job to track. Requires: company, role, location, job_url\n- 'update_status': Updates a job's status. Requires: company, new_status\n- 'get_pending': Returns all jobs not yet applied to\n- 'get_interviews': Returns all jobs with Interview status\n\nAlways use this tool when Ravi asks about his applications, stats, or wants to add/update a job.",
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "workflowValues": {
          "values": [
            {
              "name": "action",
              "stringValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('action', 'The action: get_all_jobs, get_stats, add_job, update_status, get_pending, get_interviews', 'string') }}"
            },
            {
              "name": "company",
              "stringValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('company', 'Company name (required for add_job and update_status)', 'string') }}"
            },
            {
              "name": "role",
              "stringValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('role', 'Job role/title (required for add_job)', 'string') }}"
            },
            {
              "name": "location",
              "stringValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('location', 'Job location (required for add_job)', 'string') }}"
            },
            {
              "name": "job_url",
              "stringValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('job_url', 'Job posting URL (for add_job)', 'string') }}"
            },
            {
              "name": "new_status",
              "stringValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('new_status', 'New status value: Not Applied, Applied, Interview, Rejected, Offer (for update_status)', 'string') }}"
            }
          ]
        }
      },
      "id": "node-sheets-tool",
      "name": "Google Sheets - Job Tracker",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [760, 660]
    },
    {
      "parameters": {
        "name": "knowledge_base_resume",
        "description": "Search Ravi's resume and personal information to answer questions about his skills, experience, projects, and job preferences.\n\nContains:\n- Full resume details (education, experience, projects)\n- Skills: Python, Docker, Oracle SQL, MySQL, REST APIs, Linux, OCR, ABBYY\n- Target companies and roles\n- Salary expectations\n- Notice period and availability\n- Cover letter templates",
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "workflowValues": {
          "values": [
            {
              "name": "query",
              "stringValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', 'What to look up about Ravi - skills, experience, projects, preferences etc', 'string') }}"
            }
          ]
        }
      },
      "id": "node-resume-tool",
      "name": "Knowledge Base - Resume & Skills",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [960, 660]
    },
    {
      "parameters": {
        "name": "gmail_send_application",
        "description": "Send a job application email on Ravi's behalf.\n\nUse this when Ravi asks to apply to a specific job or send a follow-up.\nAlways confirm the details before sending.\nThe email will be sent from Ravi's Gmail account.\n\nRequires: to_email, subject, company_name, role, cover_message",
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "workflowValues": {
          "values": [
            {
              "name": "to_email",
              "stringValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('to_email', 'Recruiter or HR email address to send application to', 'string') }}"
            },
            {
              "name": "company_name",
              "stringValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('company_name', 'Name of the company being applied to', 'string') }}"
            },
            {
              "name": "role",
              "stringValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('role', 'Job role being applied for', 'string') }}"
            },
            {
              "name": "cover_message",
              "stringValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cover_message', 'The personalized cover note for this application', 'string') }}"
            }
          ]
        }
      },
      "id": "node-gmail-tool",
      "name": "Gmail - Send Application",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [1160, 660]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').item.json.entry[0].changes[0].value.metadata.phone_number_id }}",
        "to": "={{ $('WhatsApp Trigger').item.json.entry[0].changes[0].value.messages[0].from }}",
        "textBody": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {}
      },
      "id": "node-whatsapp-reply",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [960, 440],
      "credentials": {
        "whatsAppApi": {
          "id": "YOUR_WHATSAPP_SEND_CRED_ID",
          "name": "WhatsApp Business API"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Jobs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $json.company }}",
            "Role": "={{ $json.role }}",
            "Location": "={{ $json.location }}",
            "JobURL": "={{ $json.job_url }}",
            "Status": "={{ $json.new_status || 'Not Applied' }}",
            "DateAdded": "={{ new Date().toISOString().split('T')[0] }}",
            "LastUpdated": "={{ new Date().toISOString() }}"
          }
        },
        "matchingColumns": ["Company"],
        "options": {}
      },
      "id": "node-sheets-write",
      "name": "Google Sheets - Save Job",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [380, 240],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@gmail.com",
        "subject": "=Job Application - {{ $json.role }} at {{ $json.company_name }}",
        "message": "=Dear Hiring Team,\n\nI am writing to express my interest in the {{ $json.role }} position at {{ $json.company_name }}.\n\n{{ $json.cover_message }}\n\nI am a Computer Science graduate (CGPA: 8.01) currently working as a Software Engineer Trainee at Algonox Technologies, Hyderabad. My key skills include:\n\n- Python backend development with production experience\n- Docker containerization and Linux deployment\n- OCR pipeline development (ABBYY, document classification)\n- Database management: Oracle SQL, MySQL, MS SQL Server\n- REST API development and microservices\n\nI have hands-on production experience deploying and maintaining real-time systems. I would love to bring this experience to {{ $json.company_name }}.\n\nPlease find my resume attached.\n\nBest regards,\nRaviteja Vallakatla\nravitejavallakatla@gmail.com\n+91 7569915450\nLinkedIn: linkedin.com/in/raviteja-vallakatla9848/\nGitHub: github.com/vallakatlaraviteja/",
        "options": {}
      },
      "id": "node-gmail-send",
      "name": "Gmail - Send Job Application Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [580, 240],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CRED_ID",
          "name": "Gmail OAuth2"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq - Llama 3.3 70B (Free)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Job Tracker": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base - Resume & Skills": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Send Application": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-05-19T00:00:00.000Z",
      "updatedAt": "2026-05-19T00:00:00.000Z",
      "id": "tag-whatsapp-jobhunt",
      "name": "WhatsApp Job Hunt Agent"
    },
    {
      "createdAt": "2026-05-19T00:00:00.000Z",
      "updatedAt": "2026-05-19T00:00:00.000Z",
      "id": "tag-groq-free",
      "name": "Groq Free LLM"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-05-19T00:00:00.000Z",
  "versionId": "v1-whatsapp-jobhunt-groq"
}
