workflow-3-job-scraper-fallback.json
{
  "name": "Job Scraper with Free Fallback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-scraper",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 400],
      "webhookId": "job-scraper"
    },
    {
      "parameters": {
        "jsCode": "// Validate and extract webhook payload\nconst body = items[0].json.body || items[0].json;\n\nconst jobTitle = body.jobTitle || '';\nconst location = body.location || '';\nconst country = body.country || 'United States';\n\nif (!jobTitle) {\n  throw new Error('jobTitle is required');\n}\n\nif (!location) {\n  throw new Error('location is required');\n}\n\nreturn [{\n  json: {\n    jobTitle,\n    location,\n    country,\n    searchId: `search-${Date.now()}`,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "url": "http://api.scraperapi.com",
        "method": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "YOUR_SCRAPERAPI_KEY"
            },
            {
              "name": "url",
              "value": "=https://www.linkedin.com/jobs/search/?keywords={{ encodeURIComponent($json.jobTitle) }}&location={{ encodeURIComponent($json.location) }}"
            },
            {
              "name": "render",
              "value": "true"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "scraperapi-scrape",
      "name": "ScraperAPI Scrape (1000/month free)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse LinkedIn HTML response (basic extraction)\nconst html = items[0].json || items[0].binary?.data?.toString() || '';\n\nif (!html || html.length < 100) {\n  throw new Error('Invalid HTML response from ScraperAPI');\n}\n\n// Extract job cards (simplified regex, production would use cheerio)\nconst jobMatches = html.matchAll(/<div[^>]*class=\"[^\"]*base-card[^\"]*\"[^>]*>[\\s\\S]*?<\\/div>/gi);\nconst jobs = [];\n\nfor (const match of jobMatches) {\n  const card = match[0];\n  \n  const titleMatch = card.match(/<h3[^>]*>([^<]+)<\\/h3>/i);\n  const companyMatch = card.match(/<h4[^>]*>([^<]+)<\\/h4>/i);\n  const locationMatch = card.match(/<span[^>]*class=\"[^\"]*location[^\"]*\"[^>]*>([^<]+)<\\/span>/i);\n  const linkMatch = card.match(/href=\"([^\"]+)\"/i);\n  \n  if (titleMatch && companyMatch) {\n    jobs.push({\n      jobTitle: titleMatch[1].trim(),\n      company: companyMatch[1].trim(),\n      location: locationMatch ? locationMatch[1].trim() : 'Not specified',\n      applyUrl: linkMatch ? linkMatch[1] : '',\n      source: 'LinkedIn (ScraperAPI)',\n      scrapedDate: new Date().toISOString().split('T')[0]\n    });\n  }\n  \n  if (jobs.length >= 20) break; // Limit to 20 jobs\n}\n\nif (jobs.length === 0) {\n  throw new Error('No jobs extracted from HTML');\n}\n\nreturn jobs.map(job => ({ json: job }));"
      },
      "id": "parse-scraperapi",
      "name": "Parse ScraperAPI Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://remotive.com/api/remote-jobs",
        "method": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $json.jobTitle }}"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "id": "fallback-remotive",
      "name": "Fallback: Remotive API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 500]
    },
    {
      "parameters": {
        "url": "https://www.arbeitnow.com/api/job-board-api",
        "method": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $json.jobTitle }}"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "id": "fallback-arbeitnow",
      "name": "Fallback: Arbeitnow API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 600]
    },
    {
      "parameters": {
        "jsCode": "// Parse Remotive fallback\nconst response = items[0].json;\nconst jobs = response.jobs || [];\n\nreturn jobs.slice(0, 20).map(job => ({\n  json: {\n    jobTitle: job.title || 'Unknown',\n    company: job.company_name || 'Unknown',\n    location: job.candidate_required_location || 'Remote',\n    applyUrl: job.url || '',\n    source: 'Remotive (Fallback)',\n    scrapedDate: new Date().toISOString().split('T')[0]\n  }\n}));"
      },
      "id": "parse-remotive",
      "name": "Parse Remotive",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 500]
    },
    {
      "parameters": {
        "jsCode": "// Parse Arbeitnow fallback\nconst response = items[0].json;\nconst jobs = response.data || [];\n\nreturn jobs.slice(0, 20).map(job => ({\n  json: {\n    jobTitle: job.title || 'Unknown',\n    company: job.company_name || 'Unknown',\n    location: job.location || 'Remote',\n    applyUrl: job.url || '',\n    source: 'Arbeitnow (Fallback)',\n    scrapedDate: new Date().toISOString().split('T')[0]\n  }\n}));"
      },
      "id": "parse-arbeitnow",
      "name": "Parse Arbeitnow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 600]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "fields": [{"fieldName": "jobTitle"}]
        },
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge All Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1120, 450]
    },
    {
      "parameters": {
        "jsCode": "// Deduplicate and add metadata\nconst searchId = $('Validate Input').item.json.searchId;\nconst searchQuery = $('Validate Input').item.json.jobTitle;\nconst searchLocation = $('Validate Input').item.json.location;\n\nconst jobs = items.map(item => item.json);\nconst seen = new Set();\nconst unique = [];\n\nfor (const job of jobs) {\n  const key = `${job.company}-${job.jobTitle}`.toLowerCase().replace(/\\s+/g, '-');\n  if (!seen.has(key) && job.applyUrl) {\n    seen.add(key);\n    unique.push({\n      ...job,\n      searchId,\n      searchQuery,\n      searchLocation,\n      status: 'New'\n    });\n  }\n}\n\nreturn unique.map(job => ({ json: job }));"
      },
      "id": "dedupe-metadata",
      "name": "Deduplicate & Add Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 450]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Scraped Jobs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "schema": [
            {"id": "jobTitle", "displayName": "Job Title", "type": "string"},
            {"id": "company", "displayName": "Company", "type": "string"},
            {"id": "location", "displayName": "Location", "type": "string"},
            {"id": "applyUrl", "displayName": "Apply URL", "type": "string"},
            {"id": "source", "displayName": "Source", "type": "string"},
            {"id": "status", "displayName": "Status", "type": "string"},
            {"id": "scrapedDate", "displayName": "Scraped Date", "type": "string"},
            {"id": "searchQuery", "displayName": "Search Query", "type": "string"},
            {"id": "searchLocation", "displayName": "Search Location", "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "append-to-sheet",
      "name": "Append to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [1560, 450],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare webhook response\nconst jobs = items.map(item => item.json);\nconst total = jobs.length;\n\nconst sourceBreakdown = jobs.reduce((acc, j) => {\n  acc[j.source] = (acc[j.source] || 0) + 1;\n  return acc;\n}, {});\n\nreturn [{\n  json: {\n    success: true,\n    totalJobs: total,\n    searchId: jobs[0]?.searchId || 'unknown',\n    searchQuery: jobs[0]?.searchQuery || '',\n    searchLocation: jobs[0]?.searchLocation || '',\n    sources: sourceBreakdown,\n    message: `Successfully scraped ${total} jobs`,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "prepare-response",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 450]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 450]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Job scraping failed\", \"message\": \"All sources exhausted. Try different search terms.\", \"timestamp\": new Date().toISOString() } }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 700]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Validate Input", "type": "main", "index": 0}]]
    },
    "Validate Input": {
      "main": [[
        {"node": "ScraperAPI Scrape (1000/month free)", "type": "main", "index": 0},
        {"node": "Fallback: Remotive API", "type": "main", "index": 0},
        {"node": "Fallback: Arbeitnow API", "type": "main", "index": 0}
      ]]
    },
    "ScraperAPI Scrape (1000/month free)": {
      "main": [[{"node": "Parse ScraperAPI Results", "type": "main", "index": 0}]]
    },
    "Parse ScraperAPI Results": {
      "main": [[{"node": "Merge All Results", "type": "main", "index": 0}]]
    },
    "Fallback: Remotive API": {
      "main": [[{"node": "Parse Remotive", "type": "main", "index": 0}]]
    },
    "Fallback: Arbeitnow API": {
      "main": [[{"node": "Parse Arbeitnow", "type": "main", "index": 0}]]
    },
    "Parse Remotive": {
      "main": [[{"node": "Merge All Results", "type": "main", "index": 1}]]
    },
    "Parse Arbeitnow": {
      "main": [[{"node": "Merge All Results", "type": "main", "index": 2}]]
    },
    "Merge All Results": {
      "main": [[{"node": "Deduplicate & Add Metadata", "type": "main", "index": 0}]]
    },
    "Deduplicate & Add Metadata": {
      "main": [[{"node": "Append to Google Sheet", "type": "main", "index": 0}]]
    },
    "Append to Google Sheet": {
      "main": [[{"node": "Prepare Response", "type": "main", "index": 0}]]
    },
    "Prepare Response": {
      "main": [[{"node": "Respond Success", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
