workflow-2-email-outreach-sender.json
{
  "name": "Email Outreach Sender (Real Recruiter Emails)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger (Daily 9 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Jobs",
          "mode": "name"
        },
        "options": {}
      },
      "id": "read-job-sheet",
      "name": "Read Job Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Status }}",
              "operation": "equals",
              "value2": "New"
            },
            {
              "value1": "={{ $json['Recruiter Email'] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "filter-sendable",
      "name": "Filter: Status=New AND Has Recruiter Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "numberValue": "={{ $('User Config').item.json.dailyLimit || 10 }}"
      },
      "id": "limit-daily",
      "name": "Limit to Daily Max (10)",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// User profile for email personalization\nreturn [{\n  json: {\n    name: 'Your Name',\n    currentRole: 'Senior Backend Engineer',\n    experience: '5 years',\n    skills: ['Python', 'Node.js', 'AWS', 'Docker', 'Kubernetes'],\n    location: 'Hyderabad, India',\n    githubUrl: 'https://github.com/yourusername',\n    linkedinUrl: 'https://linkedin.com/in/yourprofile',\n    portfolioUrl: 'https://yourportfolio.com',\n    resumeUrl: 'https://drive.google.com/file/d/YOUR_RESUME_ID/view',\n    dailyLimit: 10\n  }\n}];"
      },
      "id": "user-config",
      "name": "User Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 150]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {
          "temperature": 0.7
        },
        "text": "=You are a professional email writer. Generate a personalized cold email to a recruiter.\n\n**Job Details:**\n- Title: {{ $json['Job Title'] }}\n- Company: {{ $json.Company }}\n- Recruiter: {{ $json['Recruiter Name'] || 'Hiring Manager' }}\n- Location: {{ $json.Location }}\n- Apply URL: {{ $json['Apply URL'] }}\n\n**Candidate Profile:**\n- Name: {{ $('User Config').item.json.name }}\n- Current Role: {{ $('User Config').item.json.currentRole }}\n- Experience: {{ $('User Config').item.json.experience }}\n- Skills: {{ $('User Config').item.json.skills.join(', ') }}\n- Location: {{ $('User Config').item.json.location }}\n\n**Requirements:**\n1. Professional, concise (150-200 words)\n2. Show genuine interest in the company/role\n3. Highlight 2-3 relevant skills\n4. Include a clear call-to-action\n5. End with \"Best regards, {{ $('User Config').item.json.name }}\"\n\n**Format:**\nSubject: [Generate compelling subject line]\n\n[Email body]\n\nProvide ONLY the subject line and email body. No additional commentary."
      },
      "id": "groq-generate-email",
      "name": "Groq Generate Email",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [1120, 300],
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_CREDENTIAL_ID",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Groq email response\nconst jobData = items[0].json;\nconst groqResponse = $node[\"Groq Generate Email\"].json.response || $node[\"Groq Generate Email\"].json.text || '';\n\nlet subject = `Application for ${jobData['Job Title']} at ${jobData.Company}`;\nlet body = groqResponse;\n\n// Try to extract subject line\nconst subjectMatch = groqResponse.match(/Subject:\\s*(.+?)\\n/i);\nif (subjectMatch) {\n  subject = subjectMatch[1].trim();\n  body = groqResponse.replace(/Subject:\\s*.+?\\n/i, '').trim();\n}\n\n// Add signature if not present\nif (!body.includes($('User Config').item.json.name)) {\n  body += `\\n\\nBest regards,\\n${$('User Config').item.json.name}`;\n}\n\n// Add links\nconst config = $('User Config').item.json;\nbody += `\\n\\nPortfolio: ${config.portfolioUrl}`;\nbody += `\\nLinkedIn: ${config.linkedinUrl}`;\nbody += `\\nGitHub: ${config.githubUrl}`;\nbody += `\\nResume: ${config.resumeUrl}`;\n\nreturn [{\n  json: {\n    ...jobData,\n    emailSubject: subject,\n    emailBody: body,\n    sentDate: new Date().toISOString().split('T')[0]\n  }\n}];"
      },
      "id": "parse-email",
      "name": "Parse & Format Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Recruiter Email'] }}",
        "subject": "={{ $json.emailSubject }}",
        "message": "={{ $json.emailBody }}",
        "options": {
          "ccList": "YOUR_EMAIL@example.com"
        }
      },
      "id": "send-email",
      "name": "Send Email via Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1560, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Update status and add metadata\nconst applicationId = `EMAIL-${Date.now()}-${Math.random().toString(36).substr(2, 6)}`;\n\nreturn [{\n  json: {\n    ...items[0].json,\n    Status: 'Email Sent',\n    'Application ID': applicationId,\n    'Email Sent Date': new Date().toISOString().split('T')[0],\n    'Last Updated': new Date().toISOString().split('T')[0]\n  }\n}];"
      },
      "id": "update-metadata",
      "name": "Update Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Jobs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": ["Job Title", "Company"],
          "schema": [
            {"id": "Status", "displayName": "Status", "type": "string"},
            {"id": "Application ID", "displayName": "Application ID", "type": "string"},
            {"id": "Email Sent Date", "displayName": "Email Sent Date", "type": "string"},
            {"id": "Last Updated", "displayName": "Last Updated", "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "update-sheet",
      "name": "Update Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [2000, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "rate-limit-delay",
      "name": "Rate Limit Delay (3s)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate sending summary\nconst jobs = items.map(item => item.json);\nconst total = jobs.length;\n\nconst sentList = jobs.map(j => \n  `• **${j['Job Title']}** at **${j.Company}** → ${j['Recruiter Email']}`\n);\n\nreturn [{\n  json: {\n    total,\n    sentList: sentList.join('\\n'),\n    date: new Date().toISOString().split('T')[0]\n  }\n}];"
      },
      "id": "aggregate-summary",
      "name": "Aggregate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@example.com",
        "subject": "✅ Email Outreach Complete - {{ $json.total }} Emails Sent",
        "message": "=Hello,\n\nYour daily email outreach campaign has completed!\n\n**Total Emails Sent:** {{ $json.total }}\n\n**Sent To:**\n{{ $json.sentList }}\n\nAll applications have been logged in your Google Sheet with status \"Email Sent\".\n\nCheck your Gmail Sent folder for copies (you were CC'd on all emails).\n\n**Date:** {{ $json.date }}\n\nBest regards,\nEmail Outreach System",
        "options": {}
      },
      "id": "send-digest",
      "name": "Send Daily Digest",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2660, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger (Daily 9 AM)": {
      "main": [[{"node": "Read Job Sheet", "type": "main", "index": 0}]]
    },
    "Read Job Sheet": {
      "main": [[{"node": "Filter: Status=New AND Has Recruiter Email", "type": "main", "index": 0}]]
    },
    "Filter: Status=New AND Has Recruiter Email": {
      "main": [[{"node": "Limit to Daily Max (10)", "type": "main", "index": 0}]]
    },
    "Limit to Daily Max (10)": {
      "main": [[{"node": "Groq Generate Email", "type": "main", "index": 0}]]
    },
    "Groq Generate Email": {
      "main": [[{"node": "Parse & Format Email", "type": "main", "index": 0}]]
    },
    "Parse & Format Email": {
      "main": [[{"node": "Send Email via Gmail", "type": "main", "index": 0}]]
    },
    "Send Email via Gmail": {
      "main": [[{"node": "Update Metadata", "type": "main", "index": 0}]]
    },
    "Update Metadata": {
      "main": [[{"node": "Update Sheet", "type": "main", "index": 0}]]
    },
    "Update Sheet": {
      "main": [[{"node": "Rate Limit Delay (3s)", "type": "main", "index": 0}]]
    },
    "Rate Limit Delay (3s)": {
      "main": [[{"node": "Aggregate Summary", "type": "main", "index": 0}]]
    },
    "Aggregate Summary": {
      "main": [[{"node": "Send Daily Digest", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
