workflow-4-telegram-job-assistant.json
{
  "name": "Telegram Job Assistant (Replaces WhatsApp)",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [240, 400],
      "webhookId": "telegram-job-bot",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract message and user info\nconst message = items[0].json.message || {};\n\nconst userId = message.from?.id?.toString() || 'unknown';\nconst username = message.from?.username || message.from?.first_name || 'User';\nconst chatId = message.chat?.id;\nconst text = message.text || '';\n\nreturn [{\n  json: {\n    userId,\n    username,\n    chatId,\n    text,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "extract-message",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "jsCode": "// User profile configuration\n// In production, fetch from database using userId\nreturn [{\n  json: {\n    userId: $json.userId,\n    name: 'Your Name',\n    currentRole: 'Senior Backend Engineer',\n    targetRole: 'Staff Engineer',\n    experience: '5 years',\n    skills: ['Python', 'Node.js', 'AWS', 'Docker', 'Kubernetes', 'PostgreSQL'],\n    location: 'Hyderabad, India',\n    workMode: 'Remote or Hybrid',\n    minSalary: 80000,\n    sheetId: 'YOUR_SPREADSHEET_ID',\n    resumeUrl: 'https://drive.google.com/file/d/YOUR_RESUME_ID/view'\n  }\n}];"
      },
      "id": "fetch-user-config",
      "name": "Fetch User Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "jsCode": "// Build dynamic system prompt\nconst config = items[0].json;\nconst userMessage = $('Extract Message').item.json;\n\nconst systemPrompt = `You are ${config.name}'s personal job hunt assistant.\n\n**User Profile:**\n- Current Role: ${config.currentRole}\n- Target Role: ${config.targetRole}\n- Experience: ${config.experience}\n- Skills: ${config.skills.join(', ')}\n- Location: ${config.location}\n- Work Preference: ${config.workMode}\n- Minimum Salary: $${config.minSalary}\n\n**Your Capabilities:**\n1. Query job tracker (see applications, stats, pending jobs)\n2. Send emails to recruiters (draft and send on user command)\n3. Provide resume information\n4. Answer job search questions\n\n**Guidelines:**\n- Be concise and action-oriented\n- Suggest next steps\n- Confirm before sending emails\n- Use bullet points for lists\n- Keep responses under 300 words\n\nUser message: ${userMessage.text}`;\n\nreturn [{\n  json: {\n    ...items[0].json,\n    systemPrompt,\n    userMessage: userMessage.text\n  }\n}];"
      },
      "id": "build-system-prompt",
      "name": "Build Dynamic System Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {
          "temperature": 0.7
        },
        "text": "={{ $json.systemPrompt }}"
      },
      "id": "groq-agent",
      "name": "Groq Agent (Llama 3.3 70B)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [1120, 400],
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_CREDENTIAL_ID",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse agent response and extract actions\nconst response = items[0].json.response || items[0].json.text || 'Sorry, I could not process your request.';\nconst userMessage = $('Extract Message').item.json.text.toLowerCase();\n\n// Detect action intents\nconst needsSheetQuery = userMessage.includes('stats') || userMessage.includes('status') || userMessage.includes('how many');\nconst needsEmail = userMessage.includes('send email') || userMessage.includes('apply');\nconst needsResume = userMessage.includes('resume') || userMessage.includes('cv');\n\nreturn [{\n  json: {\n    ...items[0].json,\n    response,\n    needsSheetQuery,\n    needsEmail,\n    needsResume\n  }\n}];"
      },
      "id": "parse-response",
      "name": "Parse Response & Detect Actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.needsSheetQuery }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-sheet-query",
      "name": "Needs Sheet Query?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Fetch User Config').item.json.sheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Jobs",
          "mode": "name"
        },
        "options": {}
      },
      "id": "query-sheet",
      "name": "Query Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [1780, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate sheet stats\nconst jobs = items.map(item => item.json);\n\nconst total = jobs.length;\nconst statusCounts = jobs.reduce((acc, j) => {\n  const status = j.Status || 'Unknown';\n  acc[status] = (acc[status] || 0) + 1;\n  return acc;\n}, {});\n\nconst stats = `**Your Job Tracker Stats:**\\n` +\n  `• Total jobs: ${total}\\n` +\n  Object.entries(statusCounts).map(([status, count]) => \n    `• ${status}: ${count}`\n  ).join('\\n');\n\nreturn [{\n  json: {\n    ...items[0].json,\n    stats\n  }\n}];"
      },
      "id": "aggregate-stats",
      "name": "Aggregate Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract Message').item.json.chatId }}",
        "text": "={{ $json.response }}\\n\\n{{ $json.stats || '' }}",
        "additionalFields": {}
      },
      "id": "send-telegram-reply",
      "name": "Send Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2220, 400],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Quick command handler\nconst text = $('Extract Message').item.json.text.toLowerCase();\nconst config = $('Fetch User Config').item.json;\n\nlet quickResponse = '';\n\nif (text === '/start' || text === '/help') {\n  quickResponse = `**Job Hunt Assistant**\\n\\nCommands:\\n• /stats - View your application stats\\n• /search [keywords] - Find new jobs\\n• /resume - View your resume\\n• Ask me anything about your job search!`;\n} else if (text === '/resume') {\n  quickResponse = `**Your Resume:**\\n${config.resumeUrl}\\n\\n**Profile:**\\n• ${config.currentRole}\\n• ${config.experience}\\n• Skills: ${config.skills.join(', ')}`;\n}\n\nreturn [{\n  json: {\n    ...items[0].json,\n    quickResponse\n  }\n}];"
      },
      "id": "quick-commands",
      "name": "Handle Quick Commands",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 600]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.quickResponse }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "has-quick-response",
      "name": "Has Quick Response?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 600]
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract Message').item.json.chatId }}",
        "text": "={{ $json.quickResponse }}",
        "additionalFields": {}
      },
      "id": "send-quick-reply",
      "name": "Send Quick Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1340, 600],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{"node": "Extract Message", "type": "main", "index": 0}]]
    },
    "Extract Message": {
      "main": [[{"node": "Fetch User Config", "type": "main", "index": 0}]]
    },
    "Fetch User Config": {
      "main": [[
        {"node": "Build Dynamic System Prompt", "type": "main", "index": 0},
        {"node": "Handle Quick Commands", "type": "main", "index": 0}
      ]]
    },
    "Build Dynamic System Prompt": {
      "main": [[{"node": "Groq Agent (Llama 3.3 70B)", "type": "main", "index": 0}]]
    },
    "Groq Agent (Llama 3.3 70B)": {
      "main": [[{"node": "Parse Response & Detect Actions", "type": "main", "index": 0}]]
    },
    "Parse Response & Detect Actions": {
      "main": [[{"node": "Needs Sheet Query?", "type": "main", "index": 0}]]
    },
    "Needs Sheet Query?": {
      "main": [
        [{"node": "Query Google Sheet", "type": "main", "index": 0}],
        [{"node": "Send Telegram Reply", "type": "main", "index": 0}]
      ]
    },
    "Query Google Sheet": {
      "main": [[{"node": "Aggregate Stats", "type": "main", "index": 0}]]
    },
    "Aggregate Stats": {
      "main": [[{"node": "Send Telegram Reply", "type": "main", "index": 0}]]
    },
    "Handle Quick Commands": {
      "main": [[{"node": "Has Quick Response?", "type": "main", "index": 0}]]
    },
    "Has Quick Response?": {
      "main": [
        [{"node": "Send Quick Reply", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
